{% extends "exit.html" %}

{% block heading %}
You must have a photo of your {{ petsHusbandOrWife() }} to use this service
{% endblock %}

{% block exit_reason %}

<p class="text">
	The bailiff needs to know what your {{ petsHusbandOrWife() }} looks like to serve them the divorce application. 
</p>

<p class="text">
	You can either:
</p>


 <ul class="list list-bullet text">
	<li>
		close this application and return when you have a photo
	</li>
	<li>deliver the application <a href="/dn-stage/exit/dn-no-response">another way</a> </li>
</ul>

{% endblock %}
