{% extends "aos/progress-bar/landing_page_template.html" %}
{% block core_content %}
<div class="pattern-library">
</div>
  <!-- <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
This page is deprecated. This page has been replaced with <a href="http://divorce-prototype.herokuapp.com/aos/progress-bar/submitted?defend=Yes&answerReceived=Yes">this page</a> 


  </div> -->
<h4 class="heading-medium">Your answer has been received by the court</h4>

<p class="text">
	Your ‘answer’ to the divorce application has been received by the court.
</p>
 
<p class="text">
	A Judge will now decide whether you and your wife will need to attend a hearing. You may be contacted for more information to help them make that decision. 
 </p>

<p class="text">
	You’ll receive a letter in the post telling you if you need to attend a hearing, and when and where that hearing is.
</p>

<p class="text">
	If after the hearing the court decides that the divorce can go ahead, then the rest of the divorce will be online. 
 </p>

{% block button %}
 <!-- No button required -->
 {% endblock button %}

 {% endblock %}

