{% extends "aos/progress-bar/multiple_template.html" %}
{% block core_content %}

<div class="pattern-library">
</div>


<h4 class="heading-medium">Select a case to access</h4>

<table>
                <thead>
                <tr>
                    <th class="bold font-xsmall">Parties</th>
                    <th class="bold font-xsmall">Case number</th>
                  	<th class="bold font-xsmall">Service</th>
                     
                </tr>
                </thead>
                <tbody class="table--borderless">
                
                <tr>
                    <td class="font-xsmall"><a href="random" target="_blank">Smith versus Smith</a></td>
                    <td class="font-xsmall">1FM1234 5678 910</td>
                   	<td class="font-xsmall">Divorce</td>
                    
                </tr>
                <tr>
                    <td class="font-xsmall"><a href="random" target="_blank">Brown versus Brown</a> </td>
                    <td class="font-xsmall">FM8765 43371 98</td>
                    <td class="font-xsmall">Divorce</td>
                </tr>

  
                </tbody>
            </table>

<br>

{% endblock %}
