{% extends "aos/progress-bar/landing_page_template.html" %}
{% block core_content %}
{{ reformProgressList({
  one: {
  label: "Your " + husbandOrWife() + "  applies",
  complete: true
},
two: {
label: "You must respond",
  current: true
},
three: {
label: "Your " + husbandOrWife() + " gets a decree nisi"
},
four: {
label: "The divorce is complete"
}
})
}}
<div class="pattern-library">
</div>
<h4 class="heading-medium">Respond to your {{ respsHusbandOrWife() }}'s divorce application</h4>

<p class="text">
  You need to read your {{ respsHusbandOrWife() }}'s application before you give your response. You can find a copy in the letter that was sent to you, and a digital version with guidance on what each section means on the next screen.
</p>

<div class="panel panel-border-wide">
<p class="text">
  Your response is legally known  as the 'acknowledgement of service'.
</p>
</div>


<p class="text">
  You must respond to the application within 7 days. If you don’t, your {{ respsHusbandOrWife() }} can ask the court to move the divorce forwards without you. You may have to pay extra fees if this happens.
</p>

{% endblock %}
