      <aside class="govuk-related-items" role="complementary">
        <h3 class="heading-medium" id="subsection-title">
          Divorce guidance
        </h3>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li>
              <a href="https://www.gov.uk/divorce">
                Get a divorce
              </a>
            </li>
          
            <li>
              <a href="https://www.gov.uk/looking-after-children-divorce/overview">
                Children and divorce
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/money-property-when-relationship-ends">
              	Money and property             
              </a>
            </li>
          </ul>
        </nav>
      </aside>
