{% extends "exit.html" %}

{% block heading %}
Sorry, you can't use the service yet
{% endblock %}

{% block exit_reason %}

<p class="text">
You must have an English translation of your marriage certificate to continue.
<p>

<div class="text">

    <p class="text">You need to get your marriage certificate translated and certified by one of the following
        methods.</p>

    <h4 class="heading-small">Statement of truth</h4>

    <p class="text">The translator of your marriage certificate provides a statement of truth
        for <a href="https://www.gov.uk/certifying-a-document" target="_blank">certifying a translation.</a>
    </p>

    <p class="text">You can find translation services online which include certification as part of their service.</p>

    <h4 class="heading-small">Notary public</h4>

    <p class="text">The marriage certificate is translated and then certified by a notary public.</p>

    <p class="text">You can find a notary public through either the:</p>

    <ul class="list list-bullet">
        <li><a href="http://www.thenotariessociety.org.uk" target="_blank">Notaries Society</a></li>
        <li><a href="http://www.scrivener-notaries.org.uk" target="_blank">Society of Scrivener Notaries</a></li>
    </ul>

</div>
{% endblock %}
