{% extends "exit.html" %}

{% block heading %}
You need to be able to print to use this service
{% endblock %}

{% block exit_reason %}

<p class="text">
	If you can’t print now, you can do one of the following:
</p>

 <ul class="list list-bullet text">
	<li>
		continue to use this service and save your application when you’ve finished to print it later 
	</li>
	<li>
		<a href="https://www.gov.uk/find-court-tribunal" target="blank">contact your nearest court</a> and ask them to send you a paper D8 divorce application form
	</li>
</ul>

{% endblock %}
