{% extends "exit.html" %}

{% block heading %}
Sorry, you can't use the service yet
{% endblock %}

{% block exit_reason %}

<p class="text">
You need an address for your {{ petsHusbandOrWife() }} to use this service.
</p>

<div class="text">

  <p>
    You can still <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetLeaflet.do?court_leaflets_id=140"target="_blank">apply for a divorce using the paper D8 form</a>.
  </p>
  <p>
    Read the guidance on <a href="https://www.gov.uk/divorce-missing-husband-wife" target="_blank">divorcing someone when you don't know where they are</a>.
  </p>
</div>

{% endblock %}
