{% extends "exit.html" %}

{% block heading %}
Sorry you can't use this service

{% endblock %}

{% block exit_reason %}

<p class="text">
	The only legal ground for divorce in England and Wales is if your marriage has broken down irretrievably. 
</p>

<p class="text">
	You need to confirm this before the court can consider granting you a divorce.
</p>

<p class="text">
	If you’re not sure about getting a divorce, you may want to consider other options. Relationship advice and counselling is available from private therapists and charities such as <a href="https://www.relate.org.uk/relationship-help/help-relationships"target="_blank">Relate</a>.
</p>


{% endblock %}
