{% extends "question.html" %}
{% set question = 'Do you need your address kept private from your ' + petsHusbandOrWife() + '?' %}
{% block question %}
{{ question }}
{% endblock %}

{% block form %}
<p class="text">
  A copy of your divorce application will be sent to your {{ petsHusbandOrWife() }}. If you don't want them to know  your address you should ask the court to keep it private.
</p>

<div class="panel panel-border-wide">
  <p>
If you use adultery as your reason for divorce and you choose to name the co-respondent, they'll also get a copy.
</p>
</div>

<p class="text">
  You can’t keep your address private if you live in the same property as your .
</p>

<div class="form-group">
  <fieldset>
  <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="no"
             type="radio"
             name="confidential"
             value="No"
             {{ checked(session.petitioner.confidential, 'No') }}>
      <label for="no">I don't need my address kept private</label>
    </div>
    <div class="multiple-choice">
      <input id="yes"
             type="radio"
             name="confidential"
             value="Yes"
             {{ checked(session.petitioner.confidential, 'Yes') }}>
       <label for="yes">Keep my address private</label>
    </div>
</fieldset>
</div>
{% endblock %}
