{% extends "question.html" %}

{% block question %}
Can your contact details be shared with your {{ petsHusbandOrWife() }}?
{% endblock %}

{% block form %}
<p class="text">
A copy of your divorce application will be sent to your {{ petsHusbandOrWife() }}.


<p class="text">
The court won't include your address, email or phone number if you say that you don't want them to be shared. 
</p>

<details>
    <summary>
      <span class="summary">If you use adultery as your ground for divorce</span>
    </summary>

    <div class="panel panel-border-narrow">
      <p class="text">If you choose to keep your details private, they also won't be shared with anyone you name as committing adultery with your {{ petsHusbandOrWife() }}.  
        
        </p>
    </div>

  </details>




<fieldset class="form-group inline">

   <label for="no" class="block-label">
        <input id="no"
               type="radio"
               name="confidential"
               value="No"
               {{ checked(session.petitioner.confidential, 'No') }}
        >
Yes
    </label>
    
    <label for="yes" class="block-label">
        <input id="yes"
               type="radio"
               name="confidential"
               value="Yes"
               {{ checked(session.petitioner.confidential, 'Yes') }}
        >
No
    </label>

   
</fieldset>
{% endblock %}
