{% extends "question.html" %}
{% set question = 'Do you want your divorce papers sent to this address?' %}
{% block question %}
{{ question }}
{% endblock %}

{% block form %}

<p>
  {% for key, addressLine in session.petitioner.home %}
    {{ addressLine }}
    {{'<br>' | safe if addressLine }}
  {% endfor  %}
</p>
<div class="form-group">
<fieldset>
  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice">
    <input id="yes"
           type="radio"
           name="useAddress"
           value="Yes"
           {{ checked(session.petitioner.useHomeAddress, 'Yes') }}>
    <label for="yes">Yes, use this address</label>
  </div>
  <div class="multiple-choice">
    <input id="no"
           type="radio"
           name="useAddress"
           value="No"
           {{ checked(session.petitioner.useHomeAddress, 'No') }}>
    <label for="no">No, add a different address</label>
  </div>
</fieldset>
</div>
{% endblock %}
