{% import "common/components/genderComponent.html" as gender %}
{% extends "question.html" %}

{% block question %}
Your name on your marriage certificate
{% endblock %}

{% block form %}

<p class="text">
  The court needs to know if your name is now different to your name on your marriage certificate.
</p>

<p class="text">
  You should check the certificate before you answer this question. Your name on the certificate will be the name you used before you were married.
</p>

  <fieldset id="currentNameCheck" class="form-group inline {{ "error" if fields.nameOnCertificate.error }}">
      <p>
    <legend class="form-label-bold">
        Is your name on your marriage certificate {{ certificateFirstName | capitalize }} {{ certificateLastName | capitalize }}?
    </legend>
      </p>
    {{ errorsFor(fields.nameOnCertificate) }}
    <label for="current-name-yes" class="block-label">
      <input id="current-name-yes"
             type="radio"
             name="petNameSameAsCert"
             value="Yes"
             {{ checked(fields.nameOnCertificate.value, 'Yes') }}>
      Yes
    </label>

    <label for="current-name-no" class="block-label" data-target="name-change">
      <input id="current-name-no"
             type="radio"
             name="petNameSameAsCert"
             value="No"
             {{ checked(fields.nameOnCertificate.value, 'No') }}>
      No
    </label>
    <div id="name-change" class="js-hidden panel panel-border-narrow">
      <p class="text">
      Enter your name on your marriage certificate
      </p>

  <fieldset class="form-group" >
    <legend class="visually-hidden">First Name(s)</legend>
    <label class="form-label" for="currentFirstName">
      First name(s)
      <span class="form-hint">Include all middle names here</span>
    </label>
    {{ errorsFor(fields.currentFirstName) }}
    <input class="form-control"
           id="currentFirstName"
           name="currentFirstName"
           type="text"
           value="{{ fields.currentFirstName.value }}">
  </fieldset>

  <fieldset class="form-group {{ "error" if fields.currentLastName.error }}" >
    <legend class="visually-hidden">Last Name(s)</legend>
    <label class="form-label" for="currentLastName">Last name(s) </label>
    {{ errorsFor(fields.currentLastName) }}
    <input class="form-control"
           id="currentLastName"
           name="currentLastName"
           type="text"
           value="{{ fields.currentLastName.value }}">
  </fieldset>



  <p class="bold-small text">You'll need to send evidence of how you changed your name to the court. Usually, this will be your marriage certificate, or it could be something else, such as a deed poll.
</p>
    </div>
  </fieldset>
<!-- 
  <fieldset id="currentNameCheck" class="form-group inline {{ "error" if fields.nameOnCertificate.error }}">
      <p>
    <legend class="form-label-bold">
       Select the following if it applies to you:
    </legend>
      </p>
    {{ errorsFor(fields.nameOnCertificate) }}
    <label for="were-a-ss-couple" class="block-label" data-target="sameSexExplanation">
      <input id="were-a-ss-couple"
             type="checkbox"
             name="sameSexCouple"
             value="Yes"
             {{ checked(fields.nameOnCertificate.value, 'Yes') }}>
      When we married, my {{ petsHusbandOrWife() }} and I were a same sex couple.
    </label>
    <div class="panel panel-border-narrow js-hidden" id="sameSexExplanation">
          <strong class="normal-small">
              The court needs to know this so that the correct legislation is used when processing the divorce
          </strong>
        </div>
      </div>
  </fieldset> -->

</fieldset>

{% endblock %}
