{% extends "question.html" %}
{% set question = '' %}
{% block question %}
Does your {{ petsHusbandOrWife() }} still live at this address?
{% endblock %}

{% block form %}

<p>
  {% for key, addressLine in session.whereLastLivedTogetherAddress %}
    {{ addressLine }}
    {{'<br>' | safe if addressLine }}
  {% endfor  %}
</p>

<fieldset>
      <legend class="visually-hidden">
      </legend>

    <div class="form-group">
      <div class="multiple-choice">
      
        <input id="yes"
               type="radio"
               name="respLivesAtLastLivedTogetherAddress"
               value="Yes"
               {{ checked(session.petitioner.respLivesAtLastLivedTogetherAddress, 'Yes') }}>
        <label for="petitioner" >
    Yes, at this address
</label>
      </div>
      <div class="multiple-choice">
      
        <input id="no-different"
               type="radio"
               name="respLivesAtLastLivedTogetherAddress"
               value="No"
               {{ checked(session.petitioner.respLivesAtLastLivedTogetherAddress, 'No') }}>
        <label for="later">No, they live at another address</label>
      </div>
      <div class="multiple-choice" >
      
        <input id="no-unknown"
               type="radio"
               name="respLivesAtLastLivedTogetherAddress"
               value="Unknown"
               {{ checked(session.petitioner.respLivesAtLastLivedTogetherAddress, 'Unknown') }}>
        <label for="no">No, and I don't know where they live</label>
      </div>

    </fieldset>
{% endblock %}
