{% extends "progress-bar/landing_page_submitted_template.html" %}
{% block core_content %}
{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  current: true
},
three: {
label: "Get a decree nisi"
},
four: {
label: "The divorce is complete"
}
})
}}
<h4 class="heading-medium">Your application was submitted on 31 May 2018</h4>

<p class="text">
Your temporary reference number is:
<span class="bold-small">2283-2245-2364-2352</span><p>
<p class="text"> You’ll be given a full case number when your application has been accepted and issued (sent by post to your {{ husbandOrWife() }}).
</p>

<h2 class="heading-medium">What happens next</h2>
   
   <p class="text">
    If your application is accepted you'll be sent a copy by email along with your case number.
 </p>

  <p class="text">
  Your {{ petsHusbandOrWife() }} will also receive a copy of the application and a form to return. If you have used adultery as your reason for divorce, and named the person that your {{ petsHusbandOrWife() }} committed adultery with, they will also get a copy and a form to return.
</p> 

<p>
  Contact the service centre if you don't hear anything back after 3 weeks.
</p>

<h2 class="heading-medium">If you need help</h2>

<p class"text">
  You can contact the service centre if you need help with your application. Court staff can’t give you legal advice however, and you should speak to a <a href="https://www.gov.uk/find-a-legal-adviser"target="blank">solicitor or legal adviser</a>.
</p>



   <h2 class="heading-medium">Help us improve this service</h2>

<p class="text">
  Please help us improve this service by <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/email">leaving your feedback</a>.
</p>
  
  {% block button %}
  <!-- No button required -->
  {% endblock button %}
  {% endblock %}
