{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}

{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  complete: true
},
three: {
label: "Get a decree nisi",
  complete: true
},
four: {
label: "The divorce is complete",
  current: true
}
})
}}

<h4 class="heading-medium">You can now finalise your divorce</h4>

<p>The 6 week waiting period has passed. You can now complete the divorce and get a decree absolute. </p>

<details>
	<summary>
		<span class="summary">When you need to apply by</span>
	</summary>
	<div class="panel panel-border-narrow">

		
<p class="text">
    You can apply for your decree absolute any time from now. If you apply after 3 June 2020 (1 year after the decree nisi was granted) you’ll have to explain the delay to the court.
</p>

<p class="text">
   The court can cancel (legally known as rescind) the decree nisi any time up until the decree absolute is granted, if it’s given new evidence showing why you shouldn’t be given a divorce.
</p>

<h2 class="heading-small">When your {{ petsHusbandOrWife() }} can apply</h2>

<p class="text">
    Your {{ petsHusbandOrWife() }} can apply for the decree absolute from 3 April 2019 (3 months after you can). If your {{ petsHusbandOrWife() }}  applies you’ll both need to go to a court hearing.
</p>


	</div>

</details>


{% endblock %}

{% block button %}
<p class="text">
	<a class="button button-start" href="/da-stage/start?origin_url={{ path }}" role="button">Continue</a>
</p>
{% endblock button %}
