{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}
{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + husbandOrWife() + " must respond",
  current: true
},
three: {
label: "Get a decree nisi"
},
four: {
label: "The divorce is complete"
}
})
}}
<h4 class="heading-medium">Your application is in progress</h4>

<p class="text">
Your case number is:
<span class="bold-small">EX11D81265</span><p>

<p>
  Your application has passed checks by court staff and the next stage of your divorce has begun. You have been sent a copy of the application by email.
</p>

<h2 class="heading-medium">What happens next</h2>

<p>
  The court sent the application to your husband/wife by post on 1st September 2018. They were also sent an ‘acknowledgement of service’. This is a form which asks if they:
</p>

 <ul class="list-bullet list">
        <li>agree with what you’ve said in the application</li>
        <li>intend to try to stop the divorce (defend it)</li>
        <li>object to paying the costs (if you've claimed them)</li>
      </ul>

<p>
  They have been asked to respond within 7 days. If they don’t respond within 30 days sign into your account to find out what you can do next. 
</p>

<h2 class="heading-medium">If you need help</h2>

<p class"text">
  You can contact the service centre if you need help with your application. Court staff can’t give you legal advice however, and you should speak to a <a href="https://www.gov.uk/find-a-legal-adviser"target="blank">solicitor or legal adviser</a>.
</p>

    <h2 class="heading-medium">Help us improve this service</h2>

    <p class"text">

      Please help us improve this service by <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/done">leaving your feedback</a>.
    </p>

    
  {% block button %}
  <!-- No button required -->
  {% endblock button %}
  {% endblock %}
