{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}

{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  complete: true
},
three: {
label: "Get a decree nisi",
  complete: true
},
four: {
label: "The divorce is complete",
  current: true
}
})
}}

                <h4 class="heading-medium">Your application is blocked</h4>

                <p>You can't finalise your divorce right now because there is an outstanding financial order.</p>

                <p>You can contact the court if you need any help.</p>

                <p>SOME MORE CONTENT TBC DEPENDING ON OPERATION. </p>

                <details>
        <summary>
          <span class="summary">Read more about the decree absolute</span>
        </summary>
        <div class="panel panel-border-narrow">

<p>
  The court order for divorce (known as a decree) is made in 2 stages. You’re only divorced once both stages are complete.
</p>


<ol class="list list-number">
  <li>The 'decree nisi', which shows that the court agrees that you’re entitled to a divorce.</li>
  <li>The ‘decree absolute’, which legally ends the marriage. It cannot be made until at least 6 weeks after the decree nisi.
  </li>
</ol>

<p>
  The court can cancel (legally known as rescind) the decree nisi at any time up until the decree absolute, if it's presented with new evidence showing why you shouldn’t be given a divorce.
</p>

</div>

</details>




{% endblock %}
{% block button %}

{% endblock button %}
