{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}
{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  complete: true
},
three: {
label: "Get a decree nisi",
  current: true
},
four: {
label: "The divorce is complete"
}
})
}}
            <h4 class="heading-medium">You can continue with your divorce</h4>
            
            <p>
              Your {{ petsHusbandOrWife() }} has missed the deadline to submit the form which would have made their case for defending (trying to prevent) the divorce.
              <p> 
            <p>
              This means that you can now continue with your divorce as if they hadn't said that they intended to defend.
            </p>

            <!-- <h4 class="heading-medium">Your husband has responded to your divorce application</h4>
            <p>The court has posted you a copy of your husband’s response to your divorce application (known as the ‘acknowledgement of service’).</p>

            <p>You need to read his response and check that the signature on the response is his.</p>

            <p>Don’t continue until you have received and checked his response.</p> 

 -->


{% endblock %}
