{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}
{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  complete: true
},
three: {
label: "Get a decree nisi",
  current: true
},
four: {
label: "The divorce is complete"
}
})
}}
            <h4 class="heading-medium">You can continue with your divorce</h4>


{% if session.facts.reason == "separation-2-years" %}
<p>
  Your {{ petsHusbandOrWife() }} has responded to your application and given their a consent to a divorce.
</p>
<p>
    You can now continue with the next stage.
</p>

{% else %}
<p>
  Your {{ petsHusbandOrWife() }} has responded to your application and said that they don't intend to defend the divorce (they won't try to prevent it).
</p>

<p>
  You can now continue with the next stage.
</p>


{% endif %}





{% endblock %}
