{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}

{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  complete: true
},
three: {
label: "Get a decree nisi",
  complete: true
},
four: {
label: "The divorce is complete",
  complete:true,
  current:true
}
})
}}

            <h4 class="heading-medium">You are now divorced</h4>
            <p>The court has now issued your decree absolute, and your divorce is complete.</p>

            <p><a href="/public/pdf/decree-absolute.pdf" target="_blank">Download your decree absolute</a> (PDF, 54.9kb).</p> 

            <div class="panel panel-border-wide">

            <p>Print your certificate. You will need to show it if you get married again. You can also use it to change your name, for example with your bank.</p>

          </div>

            <p>
              Your certificate will be stored here for one year. If you need a copy of your certificates after this date, you'll need to contact the court.
            </p>

        {% block button %}
        {% endblock %}
        {% block divorce_times %}
        <!--Not required -->
        {% endblock %}
{% endblock %}
