{% extends "layout.html" %}
{% block proposition_header %}
  <div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">
        {{ serviceName }}
      </a>

  <div id="account-details" style="margin-top: 0;">
<span id="name"><a href="/save-return/goodbye/{{ path }}">Sign out</a></span>

    </nav>
  </div>
</div>
{% endblock %}
{% from "common/errors.html" import errorsFor %}
{% import "common/components/inputComponents.html" as inputComponents %}
{% import "common/components/account.html" as account %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">
  {% include "includes/phase_banner_beta.html" %}
 
   <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Your divorce        </h1>
           <p class="font-xsmall"><strong class="bold-xsmall">Case number:</strong>&nbsp;&nbsp;&nbsp; EX11D81265
           <br />
           <strong class="bold-xsmall">Name:</strong> &nbsp;&nbsp;&nbsp;{{ petsName() }}</p>

           {% block core_content %}
            Content goes here.
           {% endblock core_content %}
           {% block button %}
<p class="text">
<a class="button button-start" href="/dn-stage/start?origin_url={{ path }}" role="button">Continue</a>
      </p>
      {% endblock button %}

      {% block divorce_times %}
      <br />
    
{% endblock divorce_times %}


          <!--  <div style="padding-top: 30px;"></div>
            <div class="panel panel-border-wide">
                <p>All evidence should be received by <span style=""> 9 February 2017</span> <span style="color:red;">[date + 28 days from DWP response]</span>.This is so there’s time to read it before your hearing. <br/><a href="benefit-appeal-evidence">Find out about submitting evidence to support your appeal</a></p>
            </div>-->
            <div class="updates-border"></div>
        </div>
<div class="column-third">
    {% embed "lib/partials/sidebar.html" %}
    {% endembed %}

</div>
    {% include "report-error.html" %}


</main>

{% endblock %}
