{% extends "layout.html" %}
{% block proposition_header %}
  <div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">
       Your divorce cases
      </a>

  <div id="account-details" style="margin-top: 0;">
<span id="name"><a href="/save-return/goodbye/{{ path }}">Sign out</a></span>

    </nav>
  </div>
</div>
{% endblock %}
{% from "common/reform-progress-list/macro.html" import reformProgressList %}
{% from "common/errors.html" import errorsFor %}
{% import "common/components/inputComponents.html" as inputComponents %}
{% import "common/components/account.html" as account %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">
  {% include "includes/phase_banner_beta.html" %}
 
   <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Your cases        </h1>
           <br />
           <strong class="bold-xsmall">Name:</strong> &nbsp;&nbsp;&nbsp;{{ respsName() }}</p>

           {% block core_content %}
            Content goes here.
           {% endblock core_content %}
         
      {% block divorce_times %}
  <br />

{% endblock divorce_times %}

            <div class="updates-border"></div>
        </div>
<div class="column-third">
    {% embed "lib/partials/sidebar-new.html" %}
    {% endembed %}

</div>


</main>

{% endblock %}
