{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}

{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  current: true
},
three: {
label: "Get a decree nisi"
},
four: {
label: "The divorce is complete"
}
})
}}

<h3 class="heading-medium">Your {{ petsHusbandOrWife() }} hasn’t responded</h4>

  <p class="text">

    The court sent your application to:
  <div class="address" >
      23 Stanley Street<br />      
    Farnborough<br />
    UK <br />
    FO54 3RD <br />
  </div>
  </p>

    <p class="text">
    The court usually needs to hear from both parties in a marriage before it can grant a divorce.
  </p> 

<div class="panel panel-border-wide">
<p>
  You can just wait for them to respond if you know they can't at present, for example they're away from home. They can still send in their response after the deadline has passed.
</p>
</div>

  <p class="text">
    You have various options to choose from if your {{ petsHusbandOrWife() }} isn't responding and you want to proceed. 
  </p>



<!--   <p class="text">
    Continue to find out what you can do next.
  </p> -->

  {% endblock %}
