{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}

{{ reformProgressList({
  one: {
  label: "Your " + respsHusbandOrWife() + " applies",
  complete: true
},
two: {
label: "You  must respond",
  complete: true
},
three: {
label: "Get a decree nisi",
  complete: true
},
four: {
label: "The divorce is complete",
  current: true

}
})
}}

<h4 class="heading-medium">You can now finalise your divorce</h4>

<p>
  You can now apply for the decree absolute which will end your marriage.
</p>

<p> 
  This is because 3 months have passed since your {{ respsHusbandOrWife() }} was able to apply for a decree absolute. As they haven't applied yet, you can now apply for it yourself.
</p>

<p> You'll both have to go to a court hearing if you're the one applying for the decree absolute, and not your {{ respsHusbandOrWife() }}.
</p>

<p>
  You can apply at any time, but if you wait until after 7 August 2018 (1 year after the decree nisi) you’ll need to explain the delay to the court.
</p>

<details>
  <summary>
    <span class="summary">Read more about the decree absolute</span>
  </summary>
  <div class="panel panel-border-narrow">

    <p>
      The court order for divorce (known as a decree) is made in 2 stages. You’re only divorced once both stages are complete.
    </p>


    <ol class="list list-number">
      <li>The 'decree nisi', which shows that the court agrees that you’re entitled to a divorce.</li>
      <li>The ‘decree absolute’, which legally ends the marriage. The applicant can apply for it 6 weeks after the decree nisi has been granted. The respondent can apply for it after a further 3 months have passed.
      </li>
    </ol>

    <p>
      The court can cancel (legally known as rescind) the decree nisi at any time up until the decree absolute, if it's presented with new evidence showing why you shouldn’t be given a divorce.
    </p>

  </div>

</details>




{% endblock %}

{% block button %}
<p class="text">
  <a class="button button-start" href="/da-stage/respondent-continue-with-divorce" role="button">Continue</a>
</p>
{% endblock button %}

