{% extends "exit.html" %}

{% block heading %}

Using a court bailiff to serve (deliver) the application to your {{ petsHusbandOrWife() }}

{% endblock %}

{% block exit_reason %}


<p class="text">
	If you think that your {{ petsHusbandOrWife() }} is deliberately not responding to the divorce application you can pay for a court bailiff to deliver it to them.</p>

<p class="text">
	If the bailiff succeeds in delivering the application to your {{ petsHusbandOrWife() }}, you'll be given a 'certificate of service' which you can then send to the court. This will mean that you can continue with your divorce without your {{ petsHusbandOrWife() }}'s response. 
</p>
<p class="text">
	If the bailiff can't deliver the application (eg because they can't find them) you'll need to either:</p>

	<ul class="list list-bullet text">
 		<li>use another method of delivering the application</li>
 		<li>apply to the court to dispense with (not need) a response</li>
 	</ul>




<p class="text">
	<strong class="bold-small">How to apply</strong>: Fill in <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=156">form D89</a> and send it to the court with a fee of £110 and:
<p class="text">

 <ul class="list list-bullet text">
 	<li>a photo or written description of your {{ petsHusbandOrWife() }}</li>
 	<li>a copy of your divorce application</li>
 	<li>your {{ petsHusbandOrWife() }}'s address</li>
 </ul>


</div>
<div class="column-third">

<aside class="govuk-related-items" role="complementary">




               <h3 class="heading-small" id="subsection-title">Your court</h3>

          <ul class="font-xsmall">
          	<li>East Midlands Regional Divorce Centre</li>
            <li>eastmidlandsdivorce@hmcts.gsi.gov.uk</li>
            <li>0115 955 8266 (from: 8am to 4pm)</li>
          </ul>
                  


      </aside>


</main>

{% endblock %}
