
{% extends "exit.html" %}

{% block heading %}
You must find it intolerable to live with your {{ petsHusbandOrWife() }} 
{% endblock %}

{% block exit_reason %}
<p class="text">
	You must find it intolerable (unbearable) to live with your {{ petsHusbandOrWife() }} if you want to use adultery as your reason for divorce. This applies whether you're still living together or not.
</p>

<p class="text">
	If you don't find it intolerable, you'll need to pay a £95 fee to change your application and use another reason for divorce. Your application will also need to be sent to your {{ petsHusbandOrWife() }} again.
</p>

<p class="text">
	Contact the Courts and Tribunals Service Centre to change your application, or go back to change your answer.
</p>

{% endblock %}

