{% extends "exit.html" %}

{% block heading %}

Court services you can use

{% endblock %}

{% block exit_reason %}

<p class="text">
	You can apply for the following court services to help you continue with your divorce. 
</p>

<!-- <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
You need to be able to show the court that you've made every reasonable effort to involve your {{ petsHusbandOrWife() }} in the divorce.

  </strong>
</div> -->


<h2 class="heading-medium">Apply to deliver the application in another way</h2>

<p class="text">
	You can ask for the application to be sent (served) in another way or at a different place, e.g. sent to their work or served through Facebook or an email.
</p>

<p class="text">
	<strong class="bold-small">How to apply</strong>: Fill in <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=98">form D11</a> and send it to the court with a fee of £50.
</p>

<h2 class="heading-medium">Apply for a search of other government departments to get the address</h2>

<p class="text">
	You can apply for a search of other government departments to get the address.
</p>

<p class="text">
	<strong class="bold-small">How to apply</strong>: Contact the court for the form and pay a fee of £50.
</p>

 <h2 class="heading-medium">Pay for a court bailiff to ‘serve’ the application</h2>

<p class="text">
	You can pay for a court bailiff to deliver the application to your {{ petsHusbandOrWife() }}. You'll still need to provide the court with their address. This may be suitable for you if you think that your {{ petsHusbandOrWife() }} has received the application, but can't or won't respond.
</p>
<p class="text">
	<strong class="bold-small">How to apply</strong>: Fill in <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=156">form D89</a> and send it to the court with a fee of £110 and:
<p class="text">

 <ul class="list list-bullet text">
 	<li>a photo or written description of your {{ petsHusbandOrWife() }}</li>
 	<li>a copy of your divorce application</li>
 </ul>

 <h2 class="heading-medium">Apply to the court for a ‘deemed service’</h2>

<p class="text">
	If you know your {{ petsHusbandOrWife() }} received the application, but can’t or won’t respond, you can apply to the court for a ‘deemed service’.
</p>

<p class="text">
	You need to be able to prove that your {{ petsHusbandOrWife() }} received the application (eg, you have a text message from him saying they received it).
</p>

<p class="text">
	<strong class="bold-small">How to apply</strong>: Fill in <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=98">form D11</a> and send it to the court with a fee of £50.
</p>

 <h2 class="heading-medium">Apply to the court to 'dispense with service'</h2>

<p class="text">
	Under exceptional circumstances, you can ask the court to ‘dispense with service’ (decide your {{ petsHusbandOrWife() }} doesn’t have to be served the divorce application).
</p>

<p class="text">
	It’s up to the court to decide whether to grant this. Before it can be considered, you’ll need to show that you’ve done everything you can to find them.

<!--  <ul class="list list-bullet text">
 	<li>relatives (including children)</li>
 	<li>friends</li>
 	<li>last known employer</li>
 	<li>bank or building society</li>
 	<li>trade union or professional organisation</li>
</ul>
 -->


<div class="panel panel-border-wide">
	<p>
		You can’t dispense with service if you’re using the ‘Separated for 2 years with consent’ reason for divorce.
	</p>
</div>

<p class="text">
	<strong class="bold-small">How to apply</strong>: Fill in <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=98">form D11</a> and <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1112">form D13b</a> and send them to the court with a fee of £50.
</p>

</div>
<div class="column-third">

<aside class="govuk-related-items" role="complementary">




               <h3 class="heading-small" id="subsection-title">Your court</h3>

          <ul class="font-xsmall">
          	<li>East Midlands Regional Divorce Centre</li>
            <li>eastmidlandsdivorce@hmcts.gsi.gov.uk</li>
            <li>0115 955 8266 (from: 8am to 4pm)</li>
          </ul>
                  


      </aside>


</main>

{% endblock %}
