{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="govuk-box-highlight">
				
        <h1 class="bold-large">Application updated</h1>

        <p class="text">
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>

			</div>

      <br>

      <p class="text">
        Your changes have been submitted. The court will now check your application again.
      </p>

        A confirmation email has been sent to <strong class="bold-small">{{ session.emailAddress }}</strong>.
      </p>



</div>
</div>

</main>

{% endblock %}
