{% extends "question.html" %}

{% block question %}
You need to provide more detail in your application

{% endblock %}

{% block form %}

<p class="text">
Reference number: HDJ2123F<br />
Name of applicant: {{ session.currentFirstName }} {{ session.currentLastName }}
</p>

<p class="text">
	You used your {{husbandOrWife ()}}'s behaviour as the reason for your divorce.
</p>

<p class="text">
	However, the examples that you've given aren't enough to satisfy the court that your {{husbandOrWife ()}} has behaved in such a way that you can't reasonably be expected to live with them any more.
</p>




<!-- <p class="text">
	You used the following reason for your divorce:
</p>


<div class="panel panel-border-wide">
  <strong class="bold-small">
Your husband/wife has behaved in such a way that you can't reasonably be expected to live with them any more.
  </strong>
</div>


<p class="text">
	However, the examples that you gave to support this claim don't meet the legal requirements.
</p>  -->

<p class="text">
	Follow the instructions on the next page to change your examples and resubmit your application to the court.
</p>

<!-- <p class="text">
	Your application won't progress until you make these changes and send then to the court. 
</p> -->

{% endblock %}
