{% extends "exit.html" %}

{% block heading %}
Your application will be saved for 6 months
{% endblock %}

{% block exit_reason %}

<p class="text">
	Your application will automatically be deleted after 6 months if you take no further action. The court will stop all work on the divorce during this time. You can resume your divorce by signing in to your account. 
</p>
<p class="text">
Alternatively, you can <a href="/save-return/delete-application">delete your application now</a>. 
</p>

<form action="/save-return/goodbye">
<div class="form-group">
                <input id="continue-button" type="submit" class="button" value="Sign out">
            </div>
</form>
{% endblock %}
