{% extends "exit.html" %}

{% block heading %}
You've lived together as a couple for more than 6 months
{% endblock %}

{% block exit_reason %}
<p class="text">
In the eyes of the law, your marriage can’t have broken down irretrievably if you’ve lived together as a couple for more than 6 months since [you separated/you found out about the adultery/the last incidence of behaviour/your husband/wife deserted you].
</p>
<p class="text">
You can either:
<ul class="list list-bullet">
    <li><a href="#" onclick="javascript:history.go(-1)">Go back</a> and check the dates that you lived together as a couple</li>
   <li>Change your reason for divorce. You'll need to contact the court to do this, and pay a fee of £95. </li>
</ul>
<ul
</p>


{% endblock %}
