{% extends "lib/layouts/done.html" %}
{% block heading %}Response sent{% endblock %}
{% block reference_number %}1234 - 5678 - 9012 - 4567{% endblock %}
{% block confirmation_email_address %}{{ respsEmail() }}{% endblock %}
{% block paymentConfirmation %} {% endblock %}
{% block progress_list %}
    {{ reformProgressList({
      one: {
      label: "Your husband/wife applied",
      complete: true
    },
    two: {
    label: "You responded",
    complete: true
    },
    three: {
    label: "Your husband/wife applies for a decree nisi",
    current: true
    },
    four: {
    label: "The divorce is finalised"
    }
    })
    }}
{% endblock %}


   
<h2 class="heading-medium">What happens next</h2>

<p class"text">
        Your response will be sent to the applicant. They can then apply for the court order which will divorce them and the respondent.
    </p>

<h2 class="heading-medium">If the applicant has claimed their costs</h2>

    <p>
        The court will make a decision on this at the same time as it considers whether the divorce should be granted. You'll be sent an email when the decision has been made, and the date of the hearing at which the costs order will be made. 
    </p>

    <h3 class="heading-small">Objecting to a costs order</h3>

    <p>
      You can object to a costs order if you don't think that you should pay it. You'll need to email the court at least 14 days before the hearing, giving your reasons.
  </p>

  <p class="text">
    You can contact the Courts and Tribunals Service Centre if you don't hear anything back after 6 weeks.
</p>



{% block footer %}
<h2 class="heading-medium">If you need help</h2>

<p class"text">
  You can contact the divorce centre if you need help. Court staff can’t give you legal advice however, and you should speak to a <a href="https://www.gov.uk/find-a-legal-adviser"target="blank">solicitor or legal adviser</a>.
</p>

    <h2 class="heading-medium">Help us improve this service</h2>

    <p class"text">

      Please help us improve this service by <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/done">leaving your feedback</a>.
  </p>


{% endblock %}

    {% embed "lib/partials/sidebar.html" %}
    {% endembed %}
