{% extends "corespondent-aos/progress-bar/landing_page_template.html" %}
{% block core_content %}
<div class="pattern-library">
</div>

<h2 class="heading-medium">Read the divorce application</h2>
<p class="text">
  You need to read the divorce application before you respond. You can find a copy in the letter that was sent to you, and a digital version with guidance on what each section means on the next screen.
</p>

<div class="panel panel-border-wide">
<p class="text">
  Your response is legally known  as the 'acknowledgement of service'.
</p>
</div>

<p class="text">
	  You must respond to the application within 7 days. If you don’t, the divorce may move forwards without you.
</p>
	  <p class="text">
	   As you have been named as a co-respondent in the divorce, the applicant is allowed to claim the costs of the divorce from you. This could include the £550 application fee, and their legal fees and expenses. If you don't respond, you won't have a say in whether or not you pay these costs.
	</p>

{% endblock %}
