{% extends "aos/progress-bar/landing_page_template.html" %}
{% block core_content %}
<div class="pattern-library">
</div>

    {% if query.defend == "Yes" and query.answerReceived == "No" %}
        <h2 class="heading-medium">You need to submit your answer</h4>
        <p class"text">
            To defend the divorce you need to submit the '<a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=2651" target="_blank">answer to a divorce application</a>' form. The deadline for this is 21 days from the date that you first signed in to respond to the application.
        </p>

        <p class"text">
        Download and fill in the paper form.
        </p>

        <p class"text">
        Post the form to:
        </p>

        <ul class="list bold-small">
        <li>East Midlands Regional Divorce Centre</li>
        <li>PO Box 10447</li>
        <li>Nottingham</li>
        <li>NG2 9QN</li>
        </ul>

        <p class"text">
        You'll have to pay a £245 fee when you submit the form.
        </p>

        <p class"text">
        You'll probably have to go to a hearing with your {{ respsHusbandOrWife() }} to try to come to an agreement over the divorce.
        </p>

        <p class"text">
        If you don't submit your answer before the deadline, then your {{ respsHusbandOrWife() }} can continue the divorce as if you hadn't said that you intended to defend the divorce.
        </p>
    {% endif %}

    {% if (query.defend == "Yes" and query.answerReceived == "Yes") or query.defend == "No" %}
        <h2 class="heading-medium">You have submitted your response</h2>

            <p class"text">
            Your response will be checked and you'll be contacted about what you need to do next. 
            </p>

        {% endif %}




{% block footer %}
    <h2 class="heading-medium">If you need help</h2>

    <p class"text">
      You can contact the divorce centre if you need help. Court staff can’t give you legal advice however, and you should speak to a <a href="https://www.gov.uk/find-a-legal-adviser"target="blank">solicitor or legal adviser</a>.
    </p>

  <!--   <p class"text">
      Email: divorce@justice.gov.uk
      <br>
      Phone: 0300 303 0642 (Monday to Friday, 8.30am to 5pm) 
    </p> -->

    <!-- <h2 class="heading-medium">Dividing your money and property</h2>

    <p class="text">
      It's advisable to have a legally-binding arrangement with your {{ respsHusbandOrWife() }} on your finances, even if you don't have many assets (for example, money, belongings, or property) and you currently have a good relationship with them.
     </p>

      <p class="text">
        Together, you can apply for a consent order, in which you both agree how your money and property will be split. 
      </p>

      <p class="text">
        To get a consent order, you should pay a solicitor to draft one for you, and then send it to the court with the <a href="https://www.gov.uk/money-property-when-relationship-ends/apply-for-consent-order" target="blank">consent order forms</a> and a £50 fee.
      </p>

      <p class="text">
        You should get legal advice if you're not sure what to do.
      </p> -->
    <h2 class="heading-medium">Help us improve this service</h2>

    <p class"text">

      Please help us improve this service by <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/done">leaving your feedback</a>.
    </p>


{% endblock %}


   {% block button %}
   {% endblock %}
{% endblock %}
