{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="column-two-thirds">
        {% include "includes/phase_banner_beta.html" %}
        <a class="link-back" href="#" onclick="javascript:history.go(-1)">Back</a>

        <h1 class="heading-large">
            Your amended application has been deleted
        </h1>
        <p class="text">
            Your original application cannot be deleted online as it has been issued (sent to the respondent). If you want to completely stop the divorce application you will need to contact the Courts and Tribunals Service Centre and ask to withdraw it. 
        </p>

        <p class="text">
         Your HM Courts and Tribunals sign in details are still active. To have your email address and password deleted you need to contact the Courts and Tribunals Service Centre.
        </p>


<strong class="bold-small">
Courts and Tribunals Service Centre
	</strong>
	
<p class="text">
	Phone: 0300 303 0642 (Monday to Friday, 8.30am to 5pm)<br>
	Email: divorce@justice.gov.uk<br>
</p>


        <a href="/start">Start a new application.</a>



    </div>
</main>
{% endblock %}
