{% extends "question.html" %}
{% set question = 'Are you sure you want to delete your amended application?' %}
{% block question %}
{{ question }}

{% endblock %}

{% block form %}

<p class="text">
  All the information you have entered in your amended application will be deleted and your application will be reset to the original application. 
</p>

<p class="text">
  Your original application cannot be deleted online as it has been issued (sent to the respondent). If you want to completely stop the divorce application you will need to contact the Courts and Tribunals Service Centre and ask to withdraw it. 
</p>
<!-- 
<p class="text">
  Your HM Courts & Tribunals sign in details will not be deleted. To have your email address and password deleted you need to contact the Courts and Tribunals Service Centre.
</p>
 -->

<strong class="bold-small">
Courts and Tribunals Service Centre
  </strong>
  
<p class="text">
  Phone: 0300 303 0642 (Monday to Friday, 8.30am to 5pm)<br>
  Email: divorce@justice.gov.uk<br>
</p>

<div class="form-group">
<fieldset class="inline" id="marriage-type">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
        <input id="wants-to-delete-yes" type="radio"
               name="wantsToDelete" value="Yes" {{ checked(session.wantsToDelete, 'Yes') }}>
        <label for="wants-to-delete-yes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="wants-to-delete-no" type="radio"
               name="wantsToDelete" value="No" {{ checked(session.wantsToDelete, 'No') }}>
      <label for="wants-to-delete-no">No</label>
    </div>
</fieldset>
</div>
{% endblock %}

