{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" rolele="main">
    <div class="column-two-thirds">
        {% include "includes/phase_banner_beta.html" %}
        <a class="link-back" href="#" onclick="javascript:history.go(-1)">Back</a>

        <h1 class="heading-large">
            A code has been sent to your phone
        </h1>

        <p class="text">A one-time passcode has been sent to {{ session.mobileNumber }}</p>

        <form method="POST" accept-charset="utf-8" class="form" id="form" enctype="application/x-www-form-urlencoded">

            <fieldset class="form-group ">
                <label class="form-label" for="oneTimeSMSCode">
                    Enter the code
                </label>
                <input class="form-control" id="oneTimeSMSCode" name="oneTimeSMSCode" type="text" value="">


            </fieldset>
            <p><a href="/save-return/no-sms">I didn't receive the code</a></p>

            <div class="form-group">
                <input id="continue-button" type="submit" class="button" value="Continue">
            </div>

        </form>


    </div>
</main>
{% include "report-error.html" %}
{% endblock %}
