{% import "common/components/genderComponent.html" as gender %}
{% extends "question.html" %}

{% block question %}
Enter your email address
{% endblock %}

{% block form %}
<p class="text">
We need your email address so that we can send you updates and information about your application.
</p>
    <fieldset class="form-group {{ "error" if fields.email.error }}">
    <legend class="visually-hidden">Enter your email address</legend>
    <label class="form-label" for="email">
      Email address
    </label>
    {{ errorsFor(fields.email) }}
    <input class="form-control"
           id="email"
           name="emailAddress"
           type="text"
           value="{{ fields.email.value }}">
  </fieldset>
  <p class="text">
<a href="">I don't have an email address</a>
  </p>
</fieldset>

{% endblock %}
