{% import "common/components/genderComponent.html" as gender %}
{% extends "question.html" %}

{% block question %}
Enter your mobile number
{% endblock %}

{% block form %}

<p class="text">
You need to provide your mobile number so you can save your application and return to it later. Your number will only be used to send you codes to access your application.
</p>
<!--
    <fieldset class="form-group {{ "error" if fields.email.error }}">
    <legend class="visually-hidden">Enter your email address</legend>
    <label class="form-label" for="email">
      Email address
    </label>
    {{ errorsFor(fields.email) }}
    <input class="form-control"
           id="email"
           name="emailAddress"
           type="text"
           value="{{ fields.email.value }}">
  </fieldset>
  -->
  <fieldset class="form-group {{ "error" if fields.phoneNumber.error }}">
    <legend class="visually-hidden">Enter Your mobile number</legend>
    <label class="form-label" for="phone-number">
      Enter your mobile number
    </label>
    {{ errorsFor(fields.phoneNumber) }}
    <input class="form-control"
           id="mobile-number"
           name="mobileNumber"
           type="text"
           value="{{ fields.mobileNumber.value }}">
  </fieldset>
  <p class="text">
<a href="/save-return/enter-email">I don't have a mobile number</a>
  </p>
</fieldset>

{% endblock %}
