{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="column-two-thirds">
        {% include "includes/phase_banner_beta.html" %}

        <h1 class="heading-large">
            Your application has been saved
        </h1>
        

        <p>
        A link to your application has been sent to: 
        </p><p class="text">
        <strong class="bold-small">
            {% if session.emailAddress %}
            {{ session.emailAddress }}
            {% else %}
                zoe.elizabeth.dante@gmail.com
            {% endif %}
        </strong>

<!--              To access it again, visit <a href="/login/enter-email-address?registered=yes&returnAction=check-answers-mid-application&loggedIn=no" target="_blank">www.gov.uk/apply-for-divorce</a>.</p>
 -->
            <p>Your application will be saved for 6 months. To continue with your application your need to <a href="/IDAM/login?continue_url=/save-return/check-your-answers" target="_blank">Sign in</a>.</p>
      <!--   <p>
            <a href="/login/enter-password?registered=yes&returnAction=check-answers-mid-application&loggedIn=no">Return to application</a>
        </p> -->
    </div>
</main>
{% endblock %}
