{% extends "question.html" %}

{% block question %}
Your {{ petsHusbandOrWife() }}'s behaviour
{% endblock %}

{% block form %}


<p class="text">
  You have previously supplied the following examples of your {{ petsHusbandOrWife() }}'s behaviour:</p>
<div id="examples">
<ul class="list list-bullet">
    <li>He shouted at me regularly.</li>
    <li>He never helped with bills or finances.</li>
    <li>He threatened to take the kids with him to France and never return</li>
</ul>
</div>
<div id="addAllegationBtn" class="form-group">
    <a class="secondary-button">+ Add another example</a>
</div>
<script>
function onLoadFunction() {
    $(document).ready(function(){
        $('#allegation-1').click(function() {
            if ($('#allegation-1').val() == "My {{ petsHusbandOrWife() }} ... "){
                $('#allegation-1').val("My {{ petsHusbandOrWife() }} ");
            }
        });
        $('#allegation-2').click(function() {
            if ($('#allegation-2').val() == "My {{ petsHusbandOrWife() }} ... "){
                $('#allegation-2').val("My {{ petsHusbandOrWife() }} ");
            }
        });
        $('#allegation-3').click(function() {
            if ($('#allegation-3').val() == "My {{ petsHusbandOrWife() }} ... "){
                $('#allegation-3').val("My {{ petsHusbandOrWife() }} ");
            }
        });
        var allegationTemplate = '<div id="describe-wrapper-allegation-4" class="form-group">                <label class="form-label-bold" for="allegation-4">                 Example 4                </label>                <textarea class="form-control"                                id="allegation-4"                                rows="3"                                name="unReasonableAllegation3"                                type="text"                                style="width: 100%">My {{ petsHusbandOrWife() }} ... </textarea>              </div>  ';
        $('#addAllegationBtn').click(function() {
            $('#examples').append(allegationTemplate);
        });
    });
}
</script>

{% endblock %}
