{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<div class="grid-row">
    <div class="column-two-thirds">

     <div class="govuk-box-highlight">

      <h1 class="bold-large">
        {% if session.state == "dn-stage-resp-does-not-admit-adultery" and session.dnAmendment == "Yes" %}
        Amendment
        {% elif session.state == "dn-stage-resp-does-not-consent" %}
        Amendment
        {% elif session.dnAmendment == "Yes" %}
        Amendment
        {% elif session.dnHasAnotherAddress == "Yes" %}
        Amendment
        {% else %}
        Application
        {% endif %}
        complete</h1>

        <p class="bold-small">
        {% if session.state == "dn-stage-resp-does-not-admit-adultery" and session.dnAmendment == "Yes" %}
        You've changed your reason for divorce
        {% elif session.state == "dn-stage-resp-does-not-consent" %}
        You've changed your reason for divorce
        {% elif session.dnHasAnotherAddress == "Yes" %}
        The application will be sent to the new address
        {% else %}
        You've applied for a decree nisi
        {% endif %}
      </p>
<p class="text-reference">
          {% if session.paymentMethod == "by-card" %}Your payment has been received.{% endif %} Your reference number is <br>
  <strong class="text-reference-number">{% block reference_number %}1234 - 5678 - 9012 - 4567{% endblock %}</strong>
</p>

      </div>

      <p class="text">
        Email confirmation has been sent to <strong class="bold-small">{% if session.emailAddress %}{{ session.emailAddress }}{% else %}dante-1976@gmail.com{% endif %}</strong>.</p>
      </p>


{% if session.state == "dn-stage-resp-does-not-admit-adultery" and session.dnAmendment == "Yes" %}
    {{ reformProgressList({
      one: {
      label: "You applied",
      complete: true
    },
    two: {
    label: "Your husband/wife must respond",
    current: true
    },
    three: {
    label: "Get a decree nisi"
    },
    four: {
    label: "The divorce is made final"
    }
    })
    }}
{% elif session.state == "dn-stage-resp-does-not-admit-adultery" and session.dnAmendment == "No" %}
    {{ reformProgressList({
      one: {
      label: "You applied",
      complete: true
    },
    two: {
    label: "Your husband/wife must respond",
    current: true
    },
    three: {
    label: "Get a decree nisi"
    },
    four: {
    label: "The divorce is made final"
    }
    })
    }}
{% elif session.state == "dn-stage-resp-does-not-consent" %}
{{ reformProgressList({
  one: {
  label: "You applied",
  complete: true
},
two: {
label: "Your husband/wife must respond",
current: true
},
three: {
label: "Get a decree nisi"
},
four: {
label: "The divorce is made final"
}
})
}}
        {% elif session.dnHasAnotherAddress == "Yes" %}
{{ reformProgressList({
  one: {
  label: "You applied",
  complete: true
},
two: {
label: "Your husband/wife must respond",
current: true
},
three: {
label: "Get a decree nisi"
},
four: {
label: "The divorce is made final"
}
})
}}
        {% else %}
{{ reformProgressList({
  one: {
  label: "You applied",
  complete: true
},
two: {
label: "Your husband/wife responded",
complete: true
},
three: {
label: "Get a decree nisi",
current: true
},
four: {
label: "The divorce is made final"
}
})
}}
        {% endif %}

      {% if session.dnAmendment == "Yes" %}
      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        The court will send your application to your {{ petsHusbandOrWife() }} at the new address you've provided. 
      </p>
      {% endif %}
      {% if session.state == "dn-stage-no-response" %}


      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        The court will send your application to your {{ petsHusbandOrWife() }} at the new address you've provided. 
      </p>

      <p class="text">
        Your {{ petsHusbandOrWife() }} will be given a new 3 week deadline to respond. The court will tell you what to do next if they doesn't respond by the deadline, 
      </P>


      {% endif %}

      {% if session.state == "dn-stage-resp-does-not-admit-adultery" %}

      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        Your new application will be checked. If it's correct and the fee has been paid, court staff will notify you, and send your {{ petsHusbandOrWife() }} the new application.
      </p>

      <p class="text">
        Your {{ petsHusbandOrWife() }} can still choose to defend the divorce by applying and paying a fee of £245. However, you won't need them to admit anything for any of the other reasons (facts) for divorce.
      </P>


      {% endif %}

      {% if session.state == "dn-stage-resp-does-not-consent" %}



      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        Your new application will be checked. If it's correct and the fee has been paid, court staff will notify you, and send your {{ petsHusbandOrWife() }} the new application.
      </p>

      <p class="text">
        Your {{ petsHusbandOrWife() }} can still choose to defend the divorce by applying and paying a fee of £245. However, you won't need their consent for any of the other reasons (facts) for divorce. 
        <p>

          {% endif %}

          {% if session.state == "dn-stage-resp-accepts" %}
          <h2 class="heading-medium">What happens next</h2>

          <p class="text">
            The court will check your application and pass it to the judge. If the judge agrees there's no reason why you shouldnt get a divorce, you'll be sent the time, date and court in which your decree nisi will be announced. You'll then be sent your decree nisi.</p>

            <p class="text">After the decree nisi has been granted, you’ll have to wait 6 weeks before you can finalise your divorce by getting a decree absolute.</p>

            {% endif %}

            <form method="POST" accept-charset="utf-8" class="form" id="form" enctype="application/x-www-form-urlencoded">

                <!-- <p>
                    Download your copy
                </p>


                <div class="form-group">
                    <input type="submit" class="button" value="Download">
                </div>

              </form> -->

            </form></div>
            <div class="column-third">
    {% embed "lib/partials/sidebar.html" %}
    {% endembed %}
            </div>

    {% include "report-error.html" %}
          </main>

          {% endblock %}
