{% extends "question.html" %}
{% block question %}
Is your {{ petsHusbandOrWife() }}'s behaviour still continuing?
{% endblock %}

{% block form %}
<!-- 
<p class="text">
  Select Yes if your {{ petsHusbandOrWife() }}'s behaviour has continued since you submitted your application for divorce.
</p> -->
  <fieldset id="lived-together" class="inline form-group">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
       <input id="yes" type="radio"
               name="behaviourContinuedSinceApplicationDate" value="Yes" {{ checked(session.dnbehaviourContinuedSinceApplicationDate, 'yes') }}>
        <label for="yes">Yes</label>
    </div>
    <div class="multiple-choice" data-target="lastIncidentDate">
      <input id="no" type="radio"
               name="behaviourContinuedSinceApplicationDate" value="No" {{ checked(session.separation.dnbehaviourContinuedSinceApplicationDate, 'no') }}>
      <label for="no">No</label>
    </div>
  </fieldset>
  <div id="lastIncidentDate" class="js-hidden">
    <h3 class="heading-medium">
When did the most recent example take place?
    </h3>
<p class="text">If you're not sure of the exact date, use the closest date you remember.</p>
  <fieldset class="form-group "
            id="lastIncidentDate">
    <legend class="visuallyhidden">When was the most recent incidence of behaviour that you’ve given in your examples?
</legend>
    <div class="form-date">
      <p class="form-hint">For example, 31 3 2002</p>


      <div class="form-group form-group-day {{ "error" if fields.day.error }}">
        <label for="day">Day</label>
        <input class="form-control"
               id="day"
               name="day"
               value="{{ fields.day.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-month {{ "error" if fields.month.error }}">
        <label for="month">Month</label>
        <input class="form-control"
               id="month"
               name="month"
               value="{{ fields.month.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-year {{ "error" if fields.year.error }}">
        <label for="year">Year</label>
        <input class="form-control"
               id="year"
               name="year"
               value="{{ fields.year.value }}"
               maxlength="4" oninput="dateSlice(this)">
      </div>
    </div>
  </fieldset>
</div>

{% endblock %}
