{% extends "layout.html" %}

{% block content %}
<main id="content" role="main" tabindex="-1" class="check-your-answers">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">Beta</strong>
      <span>This is a new service – your <a aria-label="This link will open in a new tab. You’ll need to return to this tab and continue with your application within 60 minutes so you don’t lose your progress." href="http://www.smartsurvey.co.uk/s/0QIL4?pageurl=/check-your-answers" target="_blank">feedback</a> will help us to improve it.</span>
    </p>
  </div>


  <a class="link-back" href="#" onclick="history.go(-1); return false;">Back</a>

  <h1 class="heading-large">Amend your application</h1>    
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Review the court's feedback and make changes to your application as instructed.</p>

      <!-- <p> Not all the information you provided in your application is available to change here. If you need to change other parts of your application, you'll need to contact the court.</p> -->
      <h2 class="heading-small">
        The court's feedback
      </h2>
      <div class="form-group-error">
        <p>"Your husband has not admitted to the adultery and you haven’t provided enough information to convince the court that it took place. You need to change your reason for divorce to another for the divorce to continue." </p>
      </div>
    </div>
  </div>
  <br />
  <table>
    <colgroup>
    <col span="1" style="width: 45%;">
    <col span="1" style="width: 40%;">
    <col span="1" style="width: 15%;">
  </colgroup>
  <tbody>
    {% if session.facts.reason == "adultery"%}
    <tr>
      <th>Reason for divorce</th>
      <td>Adultery</td>
      <td><a class="link" aria-label="Change Reason for divorce" href="/reason-for-divorce">Change</a></td>
    </tr><tr>
    <th>Do you want to name the person you believe your husband committed adultery with?</th>
    <td>No<br></td>
    <td><a class="link" aria-label="Change Do you want to name the person you believe your husband committed adultery with?" href="/about-divorce/reason-for-divorce/adultery/wish-to-name">Change</a></td>
  </tr><tr>
  <th>

    <div>
      Do you know where the adultery took place?

    </div>
  </th>
  <td>Yes<br></td>
  <td><a class="link" aria-label="Change Do you know where the adultery took place?" href="/about-divorce/reason-for-divorce/adultery/where">Change</a></td>
</tr><tr>
<th>Do you know when the adultery took place?</th>
<td>Yes<br></td>
<td><a class="link" aria-label="Change Do you know when the adultery took place?" href="/about-divorce/reason-for-divorce/adultery/when">Change</a></td>
</tr>
<tr>
  <th>When did the adultery happen?</th>
  <td>About 9pm on my birthday, 20th June last year.</td>
  <td><a class="link" aria-label="Change When did the adultery happen?" href="/about-divorce/reason-for-divorce/adultery/details">Change</a></td>
</tr>


<tr>
  <th>Where did the adultery happen?</th>
  <td>It was at the golf club.</td>
  <td><a class="link" aria-label="Change Where did the adultery happen?" href="/about-divorce/reason-for-divorce/adultery/details">Change</a></td>
</tr>

<tr>
  <th>What do you know about the adultery?</th>
  <td>My partner had been involved with Mike Jones for some time. I don't know how long. </td>
  <td><a class="link" aria-label="Change What do you know about the adultery?" href="/about-divorce/reason-for-divorce/adultery/details">Change</a></td>
</tr></tr>
{% elif session.facts.reason == "unreasonable-behaviour" %}

<tr>
  <th>Reason for divorce</th>
  <td>Unreasonable behaviour</td>
  <td><a class="link" aria-label="Change Reason for divorce" href="/reason-for-divorce">Change</a></td>
</tr><tr>
<th>Examples of your husband's behaviour</th>
<td>
  <ul class="list list-bullet">
    <li>{{ session.unreasonable.unReasonableAllegation1 }}</li>
    <li>{{ session.unreasonable.unReasonableAllegation2 }}</li>
    <li>{{ session.unreasonable.unReasonableAllegation3 }}</li></ul>
  </td>
  <td><a class="link" aria-label="Change Examples of your husband's behaviour" href="/about-divorce/reason-for-divorce/unreasonable-behaviour">Change</a></td>
</tr>
{% endif %}
</tbody>
</table>
<div class="column-three-thirds" style="padding: 15 0px">
  <form method="POST" accept-charset="utf-8" class="form">
    <h2 class="heading-medium">Confirm  the following</h2>
    <p>You could be fined or imprisoned for contempt of court if you deliberately submit false information.</p>
    <div class="form-group confirmation-container">
      <div class="multiple-choice">
        <input id="confirm" type="checkbox" name="confirm">
        <label for="confirm">I confirm that:</label>
      </div>
      <ul class="list list-bullet">
        <li>I’m applying to the court for my marriage to be dissolved, to order my {{ petsHusbandOrWife() }} to pay some or all of the divorce costs, and to make financial orders to decide how our money and property will be split.</li>
        <li>I believe that the facts stated in this application are true.</li>
      </ul>

      <br>
      <details>
        <summary><span class="summary">What these statements are</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            The first statement is your formal application to the court (known as 'the prayer'). The second is your statement of truth.</p> 
          </p>
        </div>
      </details>

    </div>
  </div> 

</div>
<div class="column-one-third">
  <!-- side nav -->
</div>
</div>


<div class="form-group">
  <form method="POST" accept-charset="utf-8" class="form">
    <input type="submit" class="button" value="Submit and pay">
  </form>
</div>

{% if (session.isLoggedIn == "yes") %}
<div>
  <a href="/save-return/goodbye/{{ path }}">Save and close </a>
</div>
{% endif %}
{% include "report-error.html" %}
</main>
{% endblock %}
