{% extends "question.html" %}

{% set question = 'Your claim for the divorce costs' %}

{% block question %}
{{ question }}
{% endblock %}


{% block form %}
<p class="text">
  In your application you asked the court that your {{ petsHusbandOrWife() }} 
  {% if session.claimCosts.claimFromCoRespondent == "Yes" %}
  and the co-respondent 
  {% endif %}
  pay some or all of the costs of the divorce.
  
</p><p>
  Your {{ petsHusbandOrWife() }} has
    {% if session.claimCosts.respAgreesToPayCosts == "Yes" %} agreed to pay some or all of the costs of the divorce.{% endif %}
    {% if session.claimCosts.respAgreesToPayCosts == "Other" %}
    suggested paying <strong class="bold-small">£{{ session.claimCosts.respSuggestedOtherAmount }}</strong> toward the costs of the divorce and provided the following details about why they want to pay this much:
        <div class="panel panel-border-wide">
            <p class="text">
                  "{{ session.claimCosts.respSuggestedOtherAmountExplanation }}"
            </p>
        </div>
    {% endif %}
    {% if session.claimCosts.respAgreesToPayCosts == "No" %}
  said they should not pay costs and given the following explanation about why they should not pay:
        <div class="panel panel-border-wide">
            <p class="text">
                  "{{ session.claimCosts.respReasonTheyWontPay }}"
            </p>
        </div>
        {% endif %}
<p>
        {% if session.adultery.wishToName == "Yes" %}
  The co-respondent {{ session.adultery.corespondent.firstName | capitalize }} {{ session.adultery.corespondent.lastName | capitalize }}  
    {% if session.corespondent.claimCosts.coRespAgreesToPayCosts == "Yes" %} has agreed to pay some or all of the costs of the divorce.{% endif %}
    {% if session.corespondent.claimCosts.coRespAgreesToPayCosts == "No" %}
    does not agree to pay any costs and has given the following explanation:
        <div class="panel panel-border-wide">
            <p class="text">
                  "{{ session.corespondent.claimCosts.coRespReasonTheyWontPay }}"
            </p>
        </div>
        {% endif %}
    {% endif %}
    {% if session.corespondent.claimCosts.coRespDidNotRespond == "Yes" %}
    didn't respond.
    {% endif %}

</p>
<p> It is up to the court to decide how the costs will be split, but it will take into account any requests you and your {{ petsHusbandOrWife() }} make.
</p>
<details {{ query.costsOrderHelp }} >
      <a id="costsOrderHelp"></a>
  <summary><span class="summary">Read more about the costs order</span></summary>
  <div class="panel panel-border-narrow">


<p>
  The court will make its decision on whether you should pay any costs when you submit your application for decree nisi. <!-- It will take all your circumstances into account, including your conduct, and your husband/wife's conduct, before and during the divorce. -->
</p>
<p>
  You'll be given the court's decision at the same time as you find out if the divorce will be granted, and the date of the hearing that the decree nisi will be made.
</p>


<!-- <p class="text">
      It's up to the court to decide how the costs will be split, but it will usually split the costs as follows (unless you accept half the costs, or your {{ respsHusbandOrWife() }} provides a good enough reason to not pay anything).
    </p>

    <h3 class="heading-small">2 years separation with consent</h3>

    <p class="text">
     The court will usually make an order that the respondent pay half of the applicant's costs.
   </p>

   <h3 class="heading-small">5 years separation</h3>

   <p class="text">
    The court usually won't make a costs order. However, it could order the respondent to pay costs under some circumstances.
  </p>

  <h3 class="heading-small">Behaviour, adultery, and desertion</h3>
  <p class="text">
    The court will usually order the respondent to pay all of the applicant's costs, unless the applicant has asked for less. If the court decides that the respondent should also pay the applicant's legal costs, it will usually order that the respondent only pay what it judges to be a reasonable amount of these. However, under certain circumstances it could order you to pay more.
  </p> -->
    <p>
      If the court rules in your favour, your  {{ petsHusbandOrWife() }} <!-- [, and the co-respondent if applicable] --> will be ordered to pay you back your costs within 14 days of the order being made.
    </p>

    <p>
      Your {{ petsHusbandOrWife() }} can dispute the costs order. They'll need to tell the court why they don't think they should pay at least 14 days before the hearing.
    </p>
 



  </div>
</details>


    <h3 class="heading-medium">What do you want to claim?</h3>
    <div class="form-group">
      <fieldset class="form-group">
        <div class="multiple-choice">
           <input id="splitEven" type="radio"
                 name="splitMethod" value="even" {{ checked(fields.splitMethod.value, 'even') }}>
            <label for="splitEven" class="block-label">I still want to claim my costs and will let the court decide how much.
          </label>
        </div>
        <!--
    {% if session.claimCosts.respAgreesToPayCosts == "Other" %}
        <div class="multiple-choice">
           <input id="respondentPays" type="radio"
                 name="splitMethod" value="respondentPaysAll" {{ checked(fields.splitMethod.value, 'respondentPaysAll') }}>
           <label for="respondentPays">I will accept the amount my {{ petsHusbandOrWife() }} has suggested</label>
        </div>

        <div class="multiple-choice" data-target="custom-split">
          <input id="customSplitradio" type="radio"
                 name="splitMethod" value="customSplit" {{ checked(fields.splitMethod.value, 'customSplit') }}>
          <label for="customSplitradio">I want to claim a different amount</label>
        </div> 
        <div id="custom-split" class="panel panel-border-narrow js-hidden">
              <label for="case-details-textarea" class="form-label-bold">State what you want to claim and why
              </label>
              <textarea class="form-control" id="case-details-textarea" rows="4" name="custom-split-arrangements" type="text" style="width: 100%"></textarea>
        </div>
    {% endif %}
        -->
    {% if session.claimCosts.respAgreesToPayCosts == "No" %}
        <div class="multiple-choice" data-target="custom-split">
          <input id="customSplitradio" type="radio"
                 name="splitMethod" value="customSplit" {{ checked(fields.splitMethod.value, 'customSplit') }}>
          <label for="customSplitradio">I want to claim a specific amount</label>
        </div> 
        <div id="custom-split" class="panel panel-border-narrow js-hidden">
              <label for="case-details-textarea" class="form-label-bold">State what you want to claim and why
              </label>
              <textarea class="form-control" id="case-details-textarea" rows="4" name="custom-split-arrangements" type="text" style="width: 100%"></textarea>
        </div>
        {% endif %}
                  <div class="multiple-choice">
           <input id="respondentPays" type="radio"
                 name="splitMethod" value="respondentPaysAll" {{ checked(fields.splitMethod.value, 'respondentPaysAll') }}>
           <label for="respondentPays">I don't want to claim my costs anymore</label>
        </div>


      </fieldset>
<!--     </div> -->
    <!-- <fieldset class="form-group">
        <label for="case-details-textarea" class="form-label-bold">Explain why you're making this change
        </label>
        <textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>
    </fieldset> -->
  </div>

{% endblock %}
