{% extends "question.html" %}
{% block question %}
Has your {{ petsHusbandOrWife() }} ever said they wanted to return to you since they deserted you?


{{ question }}
{% endblock %}

{% block form %}


<p class="text">
</p>

<fieldset class="form-group inline">

	<legend class="visually-hidden">{{ question }}</legend>
	<label for="legal-proceedings-yes" class="block-label" data-target="case-details">
		<input id="legal-proceedings-yes" type="radio"
					 name="legalProceedings" value="Yes" {{ checked(fields.legalProceedings.value, 'Yes') }}a>
		Yes
</label>

	<label for="legal-proceedings-no" class="block-label">
		<input id="legal-proceedings-no" type="radio"
					 name="legalProceedings" value="No" {{ checked(fields.legalProceedings.value, 'No') }}>
		No
	</label>
</fieldset>


<div id="case-details" class="form-group panel js-hidden">


	<!-- <label class="form-label-bold" for="case-numbers-textarea">
			Case Numbers
	</label>
<textarea class="form-control" id="case-numbers-textarea" rows="1" name="case-numbers" type="text" style="width: 100%"></textarea>
</br> -->

	<label class="form-label-bold" for="case-details-textarea">
Describe the circumstances and explain why you refused
	</label>
<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</div>

{% endblock %}

{% macro reference(refId) %}
<input class="form-control"
			 name="r{{ refId }}"
			 type="text"
			 value="{{ fields[refId].value }}"
			 maxlength="1"
			 title="reference number {{ refId }}">
{% endmacro %}
