{% extends "question.html" %}
{% block question %}
Your {{ petsHusbandOrWife() }} hasn't responded
{{ question }}
{% endblock %}

{% block form %}



<p class="text">
	It's in your best interests to provide another address. If you can't provide another residential address for your {{ petsHusbandOrWife() }} you'll need to apply and pay for another court service.
</p>





<p class="text">
		It's in your best interests to provide another residential address for your {{ petsHusbandOrWife() }}. If you can't provide another residential address, you'll need to pay for another court service, eg apply to have the application delivered to a work address or an electronic address.
</p>

<p class="text">
	You should try to get your {{ petsHusbandOrWife() }}'s address by contacting their:
</p>

<ul class="list list-bullet">
		<li>relatives (including children)</li>				
		<li>friends</li>	
		<li>last known employer</li>
		<li>trade union or professional organisation</li>
	</ul>

<h3 class="heading-medium">Can you provide another address for your {{ petsHusbandOrWife() }}?</h3>
<p class="text">
  	If you think that your {{ petsHusbandOrWife() }} received the application, but chose not to respond, you should select ‘No’.
</p>

<div class="form-group">
	<fieldset>

		<legend class="visually-hidden">{{ question }}</legend>
		<div class="multiple-choice">
			<input id="has-another-address-yes" type="radio"
						 name="dnStageHasAnotherAddress" value="Yes" {{ checked(fields.dnStageHasAnotherAddress.value, 'Yes') }}a>
			<label for="has-another-address-yes" >Yes</label>
		</div>
		<div class="multiple-choice" >
			<input id="has-another-address-no" type="radio"
						 name="dnStageHasAnotherAddress" value="No" {{ checked(fields.dnStageHasAnotherAddress.value, 'No') }}>
			<label for="has-another-address-no">No</label>
		</div>
		<div class="multiple-choice" >
			<input id="has-another-address-no" type="radio"
						 name="dnStageHasAnotherAddress" value="No" {{ checked(fields.dnStageHasAnotherAddress.value, 'No') }}>
            <label for="has-another-address-no">I need more time to find another address</label>
		</div>
	</fieldset>
</div>



{% endblock %}

{% macro reference(refId) %}
<input class="form-control"
			 name="r{{ refId }}"
			 type="text"
			 value="{{ fields[refId].value }}"
			 maxlength="1"
			 title="reference number {{ refId }}">
{% endmacro %}
