{% extends "question.html" %}


{% block question %}
Have you received your {{ petsHusbandOrWife() }}'s response?
{% endblock %}



{% block form %}

<p class="text">
  The court sent this to you on 22 July 2017 by 2nd class post.
</p>

<div class="notice">
  <em class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </em>
  <strong class="bold-small">
    Only continue if you have received and checked your {{ petsHusbandOrWife() }}'s response.
  </strong>
</div>

<br>

  <div class="form-group">
    <fieldset class="inline">
      <legend class="visually-hidden">{{ question }}</legend>
      <div class="multiple-choice" data-target="received-response">
        <input id="has-received-yes" type="radio" name="hasReceived" value="Yes" {{ checked(session.hasReceived, 'Yes') }}>
        <label for="has-received-yes">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="has-received-no" type="radio" name="hasReceived" value="No" {{ checked(session.hasReceived, 'No') }}>
        <label for="has-received-no">No</label>
      </div>
    </fieldset>
  </div>



  <div id="received-response" class="form-group js-hidden">
    <fieldset class="inline">
      <legend class="visually-hidden">Is the signature on the response your {{ petsHusbandOrWife() }}'s signature?</legend>

      <h3 class="heading-medium" style="margin-top: 0px;">Is the signature in Part 
       {% if session.facts.reason == "adultery" %}
         9a
       {% else %}
         10a
       {% endif %}
        of the response your {{ petsHusbandOrWife() }}'s signature?</h3>

     <div class="multiple-choice">
      <input id="respHabitualResidence-yes" type="radio"
           name="respHabitualResidence" value="Yes" {{ checked(session.jurisdiction.respHabitualResidence, 'Yes') }}>
      <label for="respHabitualResidence-yes" class="block-label">Yes</label>
     </div>
      <div class="multiple-choice">
        <input id="respHabitualResidence-no" type="radio"
           name="respHabitualResidence" value="No" {{ checked(session.jurisdiction.respHabitualResidence, 'No') }}>
        <label for="respHabitualResidence-no" class="block-label"> No</label>
    </fieldset>
  </div>


  

{% endblock %}
