{% extends "question.html" %}
{% block question %}
Have you lived apart since you applied for a divorce?
{% endblock %}

{% block form %}

<p class="text">
You applied for divorce on 5 September 2017.
</p>

<p class="text">
  You can both live in the same property and be considered by the court to be living apart, as long as you're living separate lives. For example, you don’t eat, sleep, or socialise together.
</p>

<!-- <p class="text">
  Select No if you’ve spent any time living together as a couple since {{ session.applicationDateFormatted }}.
</p> -->

<details>

  <summary><span class="summary">Read the rules on living apart</span></summary>

  <div class="panel panel-border-narrow">


    {% if session.facts.reason == "adultery" %}


 <p class="text">
    You can’t use an act of adultery as a reason for divorce if you lived together as a couple for more than 6 months after you found out about it.
  </p>


 <p class="text">
  This could have been in one go, or if you lived together on and off for several periods of time adding up to more than 6 months.
</p>

    {% endif %} 


    {% if session.facts.reason == "unreasonable-behaviour" %}


 <p class="text">
  If you lived together as a couple for more than 6 months after the behaviour occured, the court may take this into account in its decision on whether to grant you a divorce.</p>

<p class="text">
  This is because it may be an indication that the marriage hasn't in fact broken down irretrievably.
</p>

 <p class="text">
  This could have been in one go, or if you've lived together on and off for several periods adding up to more than 6 months.
 </p>

{% endif %} 

{% if session.facts.reason == "separation-2-years" %}

 <p class="text">
      You must have lived apart from your {{ petsHusbandOrWife() }} for at least 2 years since you separated. 
    </p>

    <p class="text">Any time that you've spent living together since you separated doesn't count towards your separation period.</p>

    <p class="text">
      The court will add up any time that you've lived together since you separated. The combined total could affect the date that you can apply using this reason for divorce.
    </p>

    <h4 class="heading-small">Living together for more than 6 months</h4>
    <p class="text">
      If you've lived together for a total of more than 6 months since you separated, then you can't rely on that period of separation as the basis for your 2 year separation period.
    </p>

    <p class="text">
      If this is the case for you, you'll have to use the next date that you separated as a starting point for your 2 years separation period.
    </p>

    <h4 class="heading-small">Living together for less than 6 months</h4>

    <p class="text">
      If you've lived together for a total of less than 6 months since you separated, you can still use this date. However, you'll need to make up any time during which you were living together.
    </p>
    <p class="text">
      For example if you separated on March 2014, lived together from May 2014 to July 2014 (3 months), then lived apart from Aug 2014, the earliest you could apply for divorce based on your original separation date would be June 2016  (2 years and 3 months from March 2014).
    </p>

{% endif %} 

{% if session.facts.reason == "separation-5-years" %}

 <p class="text">
      You must have lived apart from your {{ petsHusbandOrWife() }} for at least 5 years since you separated. 
    </p>

    <p class="text">Any time that you've spent living together since you separated doesn't count towards your separation period.</p>

    <p class="text">
      The court will add up any time that you've lived together since you separated. The combined total could affect the date that you can apply using this reason for divorce.
    </p>

    <h4 class="heading-small">Living together for more than 6 months</h4>
    <p class="text">
      If you've lived together for a total of more than 6 months since you separated, then you can't rely on that period of separation as the basis for your 5 year separation period.
    </p>

    <p class="text">
      If this is the case for you, you'll have to use the next date that you separated as a starting point for your 5 year separation period.
    </p>

    <h4 class="heading-small">Living together for less than 6 months</h4>

    <p class="text">
      If you've lived together for a total of less than 6 months since you separated, you can still use this date. However, you'll need to make up any time during which you were living together.
    </p>
    <p class="text">
      For example if you separated on March 2014, lived together from May 2014 to July 2014 (3 months), then lived apart from Aug 2014, the earliest you could apply for divorce based on your original separation date would be June 2019 (5 years and 3 months from March 2014).
    </p>

{% endif %} 

{% if session.facts.reason == "desertion" %}

<p class="text">Any time that you've spent living together since your {{ petsHusbandOrWife() }} deserted you doesn't count towards the 2 year desertion period.</p>

    <p class="text">
      The court will add up any time that you've lived together since your {{ petsHusbandOrWife() }} deserted you. The combined total could affect the date that you can apply using this reason for divorce.
    </p>

<h4 class="heading-small"> Living together for 6 months or more</h4>

<p class="text">
  You can't use a given desertion date if you lived with your {{ petsHusbandOrWife() }} again for 6 months or more after that date.
</p>

<h4 class="heading-small"> Living together for less than 6 months</h4>

<p class="text">
  If you lived with your {{ petsHusbandOrWife() }} again after they deserted you, but for less than 6 months, that period won't count towards the 2 years you'll need to have been apart. 

  Your {{ petsHusbandOrWife() }} will need to have deserted you again for enough time so that you've spent at least 2 years apart.
</p>

<p class="text">
  For example if your {{ petsHusbandOrWife() }} deserted you on March 2014, you lived together from May 2014 to July 2014 (3 months), then lived apart from Aug 2014, the earliest you could apply for divorce based on your original desertion date would be June 2016  (2 years and 3 months from March 2014).
</p>


{% endif %}


  </div>

</details>

  <div class="form-group">
  <fieldset class="inline" id="lived-together">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="yes" type="radio"
             name="haveLivedTogetherSinceApplicationDate" value="Yes" {{ checked(session.dnHaveLivedTogetherSinceApplicationDate, 'yes') }}>
      <label for="yes">Yes</label>
    </div>
    <div class="multiple-choice" data-target="LivedTogetherDates">
      <input id="no" type="radio"
             name="haveLivedTogetherSinceApplicationDate" value="No" {{ checked(session.separation.dnHaveLivedTogetherSinceApplicationDate, 'no') }}>
      <label for="no">No</label>
    </div>
  </fieldset>
  </div>

<div id="LivedTogetherDates" class="js-hidden">
    <h3 class="heading-medium">
        Enter the periods you lived together since you applied
    </h3>

    <div>
    <p class="text">
      The court needs to know when you started living together to when you stopped.
    </p>

  <fieldset class="form-group"
            id="marriageDate"
            style="margin-bottom: 0px;">
      <legend class="visuallyhidden"></legend>
    <div class="form-date">
      {{ errorsFor(fields.marriageDate) }}
      {{ errorsFor(fields.day) }}
      {{ errorsFor(fields.month) }}
      {{ errorsFor(fields.year) }}
    <h3 class="heading-small">
        From
    </h3>
      <p class="form-hint">For example, 31 3 2002</p>

      <div class="form-group form-group-day {{ "error" if fields.day.error }}">
        <label for="day">Day</label>
        <input class="form-control"
               id="day"
               name="day"
               value="{{ fields.day.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-month {{ "error" if fields.month.error }}">
        <label for="month">Month</label>
        <input class="form-control"
               id="month"
               name="month"
               value="{{ fields.month.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-year {{ "error" if fields.year.error }}">
        <label for="year">Year</label>
        <input class="form-control"
               id="year"
               name="year"
               value="{{ fields.year.value }}"
               maxlength="4" oninput="dateSlice(this)">
      </div>
    </div>
  </fieldset>
    </div>
    <div style="float: left;">
  <fieldset class="form-group"
            id="marriageDate">
      <legend class="visuallyhidden">Child {{ n }}</legend>
    <div class="form-date">
      {{ errorsFor(fields.marriageDate) }}
      {{ errorsFor(fields.day) }}
      {{ errorsFor(fields.month) }}
      {{ errorsFor(fields.year) }}
    <div class="heading-small">
        To
    </div>

      <p class="form-hint">For example, 31 3 2002</p>
      <div class="form-group form-group-day {{ "error" if fields.day.error }}">
        <label for="day">Day</label>
        <input class="form-control"
               id="day"
               name="day"
               value="{{ fields.day.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-month {{ "error" if fields.month.error }}">
        <label for="month">Month</label>
        <input class="form-control"
               id="month"
               name="month"
               value="{{ fields.month.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-year {{ "error" if fields.year.error }}">
        <label for="year">Year</label>
        <input class="form-control"
               id="year"
               name="year"
               value="{{ fields.year.value }}"
               maxlength="4" oninput="dateSlice(this)">
      </div>
    </div>
  </fieldset>
    </div>
<div id="addAllegationBtn" class="form-group">
    <a class="secondary-button">+ Add another period</a>
</div>
</div>

{% endblock %}
