{% extends "question.html" %}
{% block question %}
Have you lived apart since you applied for a divorce?
{% endblock %}

{% block form %}


<!-- <p class="text">

  You must have lived apart from your {{ petsHusbandOrWife() }} for the past 2 years. Any time that you've lived together as a couple doesn't count towards this 2 year desertion period.
</p> -->

<!-- <div class="panel panel-border-wide"> -->
  <p class="text">
  You can both live in the same property and be considered by the court to be living apart, as long as you're living separate lives. For example, you don’t eat, sleep, or socialise together.
</p>
<!-- </div> -->

<!-- <p class="text">
  Select No if you’ve spent any time living together as a couple since {{ session.applicationDateFormatted }}.
</p> -->



  <div class="form-group">
  <fieldset class="inline" id="lived-together">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="yes" type="radio"
             name="haveLivedTogetherSinceApplicationDate" value="Yes" {{ checked(session.dnHaveLivedTogetherSinceApplicationDate, 'yes') }}>
      <label for="yes">Yes</label>
    </div>
    <div class="multiple-choice" data-target="LivedTogetherDates">
      <input id="no" type="radio"
             name="haveLivedTogetherSinceApplicationDate" value="No" {{ checked(session.separation.dnHaveLivedTogetherSinceApplicationDate, 'no') }}>
      <label for="no">No</label>
    </div>
  </fieldset>
<div id="LivedTogetherDates" class="js-hidden fieldset form-group">

<!--     <h3 class="heading-medium">Provide details of how long you've lived together since your  {{ petsHusbandOrWife() }} deserted you</h3> -->
<!-- < --><!-- p>
  The court will add up any time that you've lived together. The combined total could affect the date that you can apply using this reason for divorce.
</p>

<p>
<details>
  <summary><span class="summary">Living together for less than 6 months</span></summary>
    <div class="panel panel-border-narrow">
        <p>
        If you lived with your  {{ petsHusbandOrWife() }} again after they deserted you, but for less than 6 months, that period won't count towards the 2 years you'll need to have been apart. Your  {{ petsHusbandOrWife() }} will need to have deserted you again for enough time so that you've spent at least 2 years apart.
        </p>
        <p>
        For example if your  {{ petsHusbandOrWife() }} deserted you on March 2014, you lived together from May 2014 to July 2014 (3 months), then lived apart from August 2014, the earliest you could apply for divorce based on your original desertion date would be June 2016 (2 years and 3 months from March 2014).
        </p>
    </div>
</details>

</p><p>

<details>
  <summary><span class="summary">Living together for more than 6 months</span></summary>
    <div class="panel panel-border-narrow">
        <p>
        You can't use a given desertion date if you lived with your  {{ petsHusbandOrWife() }} again for 6 months or more after that date.
        </p>
    </div>
</details> -->
</p>
	<label class="form-label-bold" for="case-details-textarea">
Provide details of how long you've lived together and the circumstances
	</label>
<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</div>
  </div>



{% endblock %}
