{% extends "question.html" %}
{% block question %}
Have you lived apart since {{ session.unreasonable.dnLastIncidentDateFormatted }}?
{% endblock %}

{% block form %}

<p class="text">
  You can both live in the same property and be considered by the court to be living apart, as long as you're living separate lives. For example, you don’t eat, sleep, or socialise together.
</p>

<div class="form-group">
    <fieldset class="inline" id="lived-together">
        <legend class="visually-hidden">{{ question }}</legend>
        <div class="multiple-choice">
          <input id="yes" type="radio"
                 name="haveLivedApartSinceLastIncidentDate" value="Yes" {{ checked(session.dnHaveLivedApartSinceLastIncidentDate, 'yes') }}>
          <label for="yes">Yes</label>
        </div>
        <div class="multiple-choice" data-target="LivedApartDates">
          <input id="no" type="radio"
                 name="haveLivedApartSinceLastIncidentDate" value="No" {{ checked(session.separation.dnHaveLivedApartSinceLastIncidentDate, 'no') }}>
          <label for="no">No</label>
        </div>
    </fieldset>
    <div id="LivedApartDates" class="js-hidden fieldset form-group">
        <h3 class="heading-medium">Provide details of how long you've lived together since {{ session.unreasonable.dnLastIncidentDateFormatted }}</h3>
        <p class="text">
        You may not be granted a divorce if you live together as a couple for more than 6 months after the behaviour occurs. This could be over a single 6 month period, or if you live together on and off for several periods adding up to more than 6 months.
        </p>
        <label class="form-label-bold" for="case-details-textarea">
        Give approximate dates or number of months you lived together
        </label>
        <textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>
    </div>
</div>

{% endblock %}
