{% extends "question.html" %}
{% block question %}
Do you want to change your reason for divorce?
{% endblock %}

{% block form %}
       
<p class="text">The court needs to be sure that your {{ petsHusbandOrWife() }} has given their consent for you to use 'separation for 2 years with consent' as the reason for divorce (legally known as the 'fact').
      </p>

       <p class="text">
        As your {{ petsHusbandOrWife() }} hasn't given their consent in their response, you now need to choose from the following options:
      </p>


  <div class="form-group">
  <fieldset id="lived-together">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="yes" type="radio"
             name="nextStep" value="choose-another-reason" {{ checked(session.dnnextStep, 'Yes') }}>
      <label for="yes">Change your reason for divorce (and pay a fee of £95)</label>
    </div>
    <div class="multiple-choice" data-target="LivedTogetherDates">
      <input id="no" type="radio"

             name="nextStep" value="continue-with-evidece" {{ checked(session.dnStageChosenNextStep, 'No') }}>
      <label for="no">Keep using this reason and provide proof of your {{ petsHusbandOrWife() }}'s consent</label>

 

    </div>
  </fieldset>
  </div>

<div id="LivedTogetherDates" class="js-hidden">

  <p>
     You should only do this if you can prove your husband has consented to the divorce. If you haven't already sent the court evidence of their consent, you'll be able to upload more later in this application.</p>

  <p>Evidence can include letters, text messages, emails, or any other document you believe proves your {{ petsHusbandOrWife() }}'s consent.</p>


</div>

{% endblock %}
