{% extends "question.html" %}


{% block question %}
Review your application
{% endblock %}

{% block form %}

<p class="text">
  Check that your original application for divorce is still true to the best of your knowledge.
</p>

<h2 class="heading-medium">Divorce application (petition)</h2>

{% include "../mini-petition-dn.html" %}
<br />
    <h3 class="heading-large">Do you need to change your application or add anything?</h3>
    <div class="form-group">
      <fieldset class="inline">
        <legend class="visually-hidden">{{ question }}</legend>
        <div class="multiple-choice" data-target="yes">
          <input id="need-to-change-yes" type="radio"
                   name="needToChange" value="Yes" >
          <label for="need-to-change-yes">Yes</label>
        </div>
        <div class="multiple-choice" data-target="no">
          <input id="need-to-change-no" type="radio"
                   name="needToChange" value="No" >
          <label for="need-to-change-no">No</label>
        </div>
      </fieldset>
    </div>
   
<div id="yes" class="form-group js-hidden" >
 <div class="notice">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
       If you change or add anything which means your application has to be sent to your {{ petsHusbandOrWife() }} again you may have to pay a £95 fee.”
      </strong>
    </div>
    <br>
    <label class="form-label-bold" for="whats-changed-textarea">
          Provide details of what you need to change or add
    </label>
    <textarea class="form-control" id="whats-changed-textarea" rows="4" name="whats-changed" type="text" style="width: 100%"></textarea>
   
<br />
  <div class="check-your-answers">
    <div class="form-group confirmation-container">
      <div class="multiple-choice">
        <input id="confirm" type="checkbox" name="confirm">
        <label for="confirm">Subject to these changes or additions everything stated in my divorce application is true.<br/><br/>
        </label>
      </div>
    </div>
  </div>
</div>




  <div id="no" class="form-group js-hidden" >
   <div class="check-your-answers">
    <div class="form-group confirmation-container">
      <div class="multiple-choice">
        <input id="confirm" type="checkbox" name="confirm">
        <label for="confirm">I confirm that my original application is still true.<br/><br/>
        </label>
      </div>
    </div>
  </div>
</div>


  

{% endblock %}
