{% extends "question.html" %}


{% block question %}
Read your {{ petsHusbandOrWife() }}'s response
{% endblock %}

{% block form %}


<p class="text">
  You need to read your {{ petsHusbandOrWife() }}'s response before you continue. The response is legally known as the 'acknowledgement of service'.

</p>


<h2 class="heading-medium">Acknowledgement of service</h2>

<h3 class="heading-small">Respondent</h3>

<p class="text">
{{ respsName() }}
</p>

<h3 class="heading-small">Applicant</h3>

<p class="text">
{{ petsName() }}
</p>


<a id="response"></a>
<h3 class="heading-small">
  How the respondent wants to proceed
</h3>

  {% if session.respondent.aos.defend != "Yes" %}

<p class="text">
  The respondent will let the divorce proceed (doesn't intend to 'defend' it)

      {%- if session.respondent.aos.response == "disagreesAndWillNotDefend" -%}

      , but doesn't accept the allegations made in the application
     
      {% endif -%}. <!-- this period is important! Don't remove it -->
</p>


  {%- elif session.respondent.aos.defend == "Yes" %}
      
      <p>
        The respondent will try to prevent the divorce based on this application (they intend to 'defend' it)
      </p>

      {% if session.respondent.aos.defendFinancialHardship == "Yes" %}
      
      <p>
      The respondent is defending on the basis that it will cause them severe hardship and provided the following explanation:
      </p>
        <div class="panel panel-border-wide">
            <p class="text">
                  "I only earn £17,000 a year and without a house I'm having to rent. I can't afford it."
            </p>
        </div>
        {% elif session.respondent.aos.defendFinancialHardship == "No" %}
        <p>
      The respondent is not defending on the basis that it will cause them severe hardship.
        </p>
      {% endif %}
  {% endif -%}
  {%- if session.respondent.aos.delayTheDecree == "Yes" -%}
The respondent is intending to ask the court to delay the divorce until it’s satisfied with their financial situation.
  {%- elif session.respondent.aos.delayTheDecree == "No" -%}
The respondent is not intending to ask the court to delay the divorce until it’s satisfied with their financial situation.
  {% endif %}
  {%- if session.respondent.aos.consent == "Yes" -%}
  The respondent consents to a divorce.
  {%- elif session.respondent.aos.consent == "No" -%}
  The respondent does not consent to a divorce.
  {% endif %}
  {%- if session.respondent.aos.admitAdultery == "No" -%}
  The respondent does not admit to committing the adultery.
  {%- endif -%}
  {%- if session.respondent.aos.admitAdultery == "Yes" -%}
  The respondent admits to committing the adultery.
  {%- endif -%}

  <!-- think this is old design
  {%- if session.respondent.aos.reasonForDefending == "doesNotAdmitAdultery" -%}
      {%- if session.facts.reason == "adultery" %}
      because they do not admit the adultery
      {%- endif -%}
  {%- elif session.respondent.aos.reasonForDefending == "financialHardship" -%}
  they believe it would cause them undue grave financial hardship
  {%- elif session.respondent.aos.reasonForDefending == "doesNotConsent" -%}
  they do not consent to it
  {%- elif session.respondent.aos.reasonForDefending == "doesNotWantToDivorce" -%}
  they don't believe the marriage has broken down irretrievably
  {%- endif -%}

  -->
</p>

<details>
  <summary>
    <span class="summary">What this means</span>
  </summary>
  <div class="panel panel-border-narrow">

    <p class="text">
      The respondent was given the following options for their response.
    </p>

    <ul class="bullet list-bullet">

      <li>to proceed with the divorce</li>
      <li>to proceed, but not accept the allegations</li>
      <li>to disagree with the application - if they want to try to prevent the divorce or want to make their own application for divorce (they intend to 'defend' it)</li>

    </ul>

  </div>
</details>

<h3 class="heading-small">Jurisdiction of the court</h3>
<p class="text">
<a id="jurisdiction"></a>
{% if session.respondent.aos.jurisdiction != "No" %}
 The respondent agrees that the courts of England and Wales have the jurisdiction (the legal power) to grant you a divorce.
{% else %}
 The respondent does not agree that the courts of England and Wales have the jurisdiction (the legal power) to grant you a divorce.

<p class="text">
  They gave the following statement to support this:
</p>
        <div class="panel panel-border-wide">
            <p class="text">
                  "I've already filed for divorce in Russia and submitted my petition before my partner."
            </p>
        </div>

<p class="text">
  They were asked in which country their life is mainly based. They responded:
</p>
        <div class="panel panel-border-wide">
            <p class="text">
                  "Russia"
            </p>
        </div>
{% endif %}
</p>

{% if session.respondent.aos.legalProceedings != "Yes" %}
<p class="text">
  They said there are no other proceedings outside of England and Wales which are related to the marriage or which may affect its validity (how legally binding the marriage is).
</p>
{% else %}

<p class="text">
  They said there are other proceedings outside of England and Wales which are related to the marriage or which may affect its validity (how legally binding the marriage is).
</p>
<p class="text">
  They gave the following statement to support this:
</p>
        <div class="panel panel-border-wide">
            <p class="text">
                  "I've already filed for divorce in Russia and submitted my petition before my partner."
            </p>
        </div>
{% endif %}

<details>
  <summary>
    <span class="summary">What this means</span>
  </summary>
  <div class="panel panel-border-narrow">
    <p> The respondent was asked if they agree with the jurisdiction connections which you give in your divorce application.
    </p>

    <p>They were also asked if there were any other court proceedings which may affect the marriage.</p>
  </div>
</details>

<h3 class="heading-small">  Costs order</h3>
<p class="text">
<a id="costsOrder"></a>
  The respondent has
    {% if (session.claimCosts.respAgreesToPayCosts == "Yes") or (not session.claimCosts.respAgreesToPayCosts) %} agreed to pay some or all of the costs of the divorce.</p>{% endif %}
    {% if session.claimCosts.respAgreesToPayCosts == "Half" %}
    suggested paying <strong class="bold-small">half</strong> (50%) of the costs of the divorce. </p>
    {% endif %}
    {% if session.claimCosts.respAgreesToPayCosts == "No" %}
    said they should not pay costs and given the following explanation about why they should not pay:</p>
        <div class="panel panel-border-wide">
            <p class="text">
                  "{{ session.claimCosts.respReasonTheyWontPay }}"
            </p>
        </div>
        {% endif %}

<details>
  <summary>
    <span class="summary">What this means</span>
  </summary>
  <div class="panel panel-border-narrow">

   <p class="text">
   The respondent was asked if they agreed to pay the costs that you claimed.
  </p>

  <p class="text">
    They were given the following options:
  </p>

  <ul class="bullet list-bullet">
    <li>to agree to pay some or all of the costs of the divorce</li>
    <li>to suggest that they pay half the costs (50%)</li>
    <li>to not agree to paying any of the costs</li>
  </ul>

  <br>

  <p class="text">
You'll be given a chance to accept their suggestion or change your mind about claiming costs later in the application. It is up to the court to decide how the costs will be split, but it will take into account any requests you and your husband/wife make.
  </p>

</div>

</details>

{% block statement_of_truth %}
<a id="statementOfTruth"></a>
  <h3 class="heading-medium">Statement of Truth</h3>
<p class="text">
"I believe that the facts stated in this application are true."
</p>
<p>
<em>{{ respsName() }}</em>
</p>
{% endblock %}

{% endblock %}

{% block button %}
    {% if session.respondent.aos.willDefend == "Yes" %}
        <!-- replace the button with nothing, to make it blank out. -->
    {% else %}
        {{ super() }} <!-- inherit the button from the template -->
    {% endif %}
{% endblock %}
