{% extends "layout.html" %}


{% block content %}
<main id="content" class="check-your-answers" role="main">
      {% include "includes/phase_banner_beta.html" %}
        <a class="link-back" href="#" onclick="javascript:history.go(-1)">Back</a>



  <h1 class="heading-large">
    Review your amended application
  </h1>

<p class="text">
  Check that your original application for divorce is still true to the best of your knowledge.
</p>

<h2 class="heading-medium">Application for divorce</h2>

{% embed "../mini-petition.html" %}
    {% block statement_of_truth %}
    {% endblock %}
{% endembed %}

<br />
<div class="column-three-thirds" style="padding: 15 0px">
        <form method="POST" accept-charset="utf-8" class="form">
            <h2 class="heading-large">Confirm  the following</h2>
            <p>You could be fined or imprisoned for contempt of court if you deliberately submit false information.</p>
            <div class="form-group confirmation-container">
              <div class="multiple-choice">
                <input id="confirm" type="checkbox" name="confirm">
                <label for="confirm">I confirm that:</label>
              </div>
                <ul class="list list-bullet">
                    <li>I’m applying to the court for my marriage to be dissolved, to order my {{ petsHusbandOrWife() }} to pay some or all of the divorce costs, and to make financial orders to decide how our money and property will be split.</li>
                  <li>I believe that the facts stated in this application are true.</li>
                </ul>

<br>
<details>
  <summary><span class="summary">What these statements are</span></summary>
  <div class="panel panel-border-narrow">
    <p>
      The first statement is your formal application to the court (known as 'the prayer'). The second is your statement of truth.</p> 
    </p>
  </div>
</details>

            </div>
            </div>
  

            <div class="form-group">
        <form method="POST" accept-charset="utf-8" class="form">
              <input type="submit" class="button" value="Submit and pay">
        </form>
    </div>

            {% if (session.isLoggedIn == "yes") %}
            <div>
                <a href="/save-return/goodbye/{{ path }}">Save and close </a>
            </div>
            {% endif %}
    {% include "report-error.html" %}
</main>
{% endblock %}
