{% extends "question.html" %}
{% set question = 'You lived together for more than 6 months after the behaviour occurred' %}
{% block question %}
{{ question }}

{% endblock %}

{% block form %}


<p class="text">
    You have indicated that you lived together as a couple for more than 6 months after the most recent example of behaviour. This could have been in one period or over several periods, depending on your answers.
  </p>


<p class="text">
  The court may take this into account in its decision on whether to grant you a divorce. This is because it may be an indication that the marriage hasn't in fact broken down irretrievably.
  </p>
<!-- <p class="text">
  The court will do this for anyone who has continued to live as a couple with their husband or wife for more than 6 months (either in one go or over several periods) after the behaviour occured.

</p> -->

<div class="panel panel-border-wide">
  <p class="text">
  If you want to, you can just continue with your application if you think that you've provided a strong enough case.
</p>
</div>

<h2 class="heading-small">
  Choose from the following options:
</h2>

<div class="form-group">
<fieldset id="six-months">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="six-months-choiceno" type="radio"
               name="sixMonthsChoice" value="checkTheDates" {{ checked(session.unreasonable.sixMonthsChoice, 'checkTheDates') }}>
      <label for="six-months-choiceno">Check the dates that you lived together as a couple</label>
    </div>
    <div class="multiple-choice">
      <input id="six-months-choiceno" type="radio"
               name="sixMonthsChoice" value="continueAnyway" {{ checked(session.unreasonable.sixMonthsChoice, 'continueAnyway') }}>
      <label for="six-months-choiceno">Continue with your divorce using your current examples</label>
    </div>
</fieldset>
</div>
{% endblock %}

