{% extends "question.html" %}

{% block question %}
Is the signature on the response your {{ petsHusbandOrWife() }}'s?
{% endblock %}

{% block form %}

<p class="text">
...
</p>


  <fieldset class="form-group inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <label for="signature-verified-yes" class="block-label">
      <input id="signature-verified-yes" type="radio"
             name="signatureVerified" value="Yes" {{ checked(session.signatureVerified, 'Yes') }}>
      Yes
    </label>

    <label for="signature-verified-no" class="block-label">
      <input id="signature-verified-no" type="radio"
             name="signatureVerified" value="No" {{ checked(session.signatureVerified, 'No') }}>
      No
    </label>

  </fieldset>


  

{% endblock %}
