{% extends "question.html" %}
{% set question = 'Settling your finances' %}
{% block question %}
{{ question }}

{% endblock %}

{% block form %}


<p class="text">
  Before you begin you should consider how you'll divide your money and property when you divorce. You can make the division legally binding with a 'financial order'. 
</p>

<p class="text">You need to get a financial order if you:</p>
 <ul class="list-bullet list">
  <li>have nothing to split but want to make your financial separation final</li>
  <li>agree on how you want to share your money and property and want to make that legally binding</li>
  <li>disagree on the split and want the court to settle the dispute</li>
</ul>

<!-- <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">If you don’t get a financial order then any money and property you have now or in the future will still be linked after your divorce.</strong>
</div>

 -->

<p class="text">
    You should <a target="#" href="https://www.gov.uk/money-property-when-relationship-ends/">read more about financial orders</a> before you continue as you'll be asked if you want to apply for one later in this application.</p>
  </p><br>


{% endblock %}


