{% extends "question.html" %}
{% block question %}
Did you marry your {{ petsHusbandOrWife() }} in the UK?
{% endblock %}

{% block form %}

<p class="text">
  The UK is made up of England, Scotland, Wales and Northern Ireland.
  </p>

<div class="form-group">
  <fieldset class="inline" id="where-married">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="england" type="radio"
             name="whereMarried" value="yes" {{ checked(session.certificate.whereMarried, 'yes') }}>
      <label for="england">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="wales" type="radio"
             name="whereMarried" value="no" {{ checked(session.certificate.whereMarried, 'no') }}>
      <label for="wales">No</label>
    </div>
  </fieldset>
</div>
{% endblock %}
