{% extends "question.html" %}
{% set question = "Has your marriage broken down irretrievably (it can\'t be saved)?" %}
{% block question %}
{{ question }}

{% endblock %}

{% block form %}

<p class="text">You can only get a divorce on the ground that your marriage has broken down irretrievably.
</p>

<div class="form-group">
  <fieldset class="inline" id="marriage-type">
      <legend class="visually-hidden">{{ question }}</legend>
      <div class="multiple-choice">
        <input id="irretrievable-breakdown-yes" type="radio"
                   name="irretrievableBreakdown" value="Yes" {{ checked(session.irretrievableBreakdown, 'Yes') }}>
        <label for="irretrievable-breakdown-yes" class="block-label">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="irretrievable-breakdown-no" type="radio"
                   name="irretrievableBreakdown" value="No" {{ checked(session.irretrievableBreakdown, 'No') }}>
        <label for="irretrievable-breakdown-no" class="block-label">No</label>
      </div>
  </fieldset>
</div>

{% endblock %}

