#account-details {
    float: right; 
    display: inline; 
    margin-top: -10px;
}

#account-details span {
    padding-right: 25px;
}

#account-details span a {
    text-decoration: none;
    color: white;
}

#account-details span a:hover {
    text-decoration: underline;
}

#account-details #name {
    font-weight: 600;
    color: white;
}

#account-details #not-you, #links {
    font-weight: 600;
}

#account-details #not-you a, #links a {
    color: $light-blue;
}

