
.paypoint-payment-summary {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	margin-top: 30px;
}

.paypoint-payment-summary h2 {
	font-size: 27px;
	font-weight: 700;
	padding-bottom: 15px;
}

.find-paypoint-location {
	margin-top: 15px;
	margin-bottom: 30px;
}

.paypoint-locater {
	border: 1px solid #DEE0E2;
	padding: 15px;
}

.payment-summary {
	border: 10px solid #DEE0E2;
	background-color: #F8F8F8;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.payment-summary h2 {
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 15px;
}

.payment-info {
  font-weight: 700;
}

.payment-amount {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0px;
}

#amount {
  max-width: 150px;
}

.payment-unsuccessful {
  background-color: #AF1324;
  color: white;
  padding: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

.payment-unsuccessful h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}

.payment-confirmed {
  background-color: #28A197;
  color: white;
  padding: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

.payment-confirmed h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}

.payment-confirmed p {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.payment-confirmed img {
  padding-right: 15px;
}

.payment-confirmed td {
  color: white;
  border-bottom-color: white;
  font-weight: 700;
}

.finish-and-return {
  margin-top: 30px;
}

.payment-type-intro {
  max-width: 100%;
  color: #6F777B;
}

.intro {
  font-weight: 700;
}

#security-number {
  width: 100px;
}

#building-and-street {
  margin-bottom: 10px;
}


.payment-summary-small {
  border: 10px solid #DEE0E2;
  background-color: #F8F8F8;
  padding: 15px;
  margin-top: 30px;
}

.payment-summary-small h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 30px;
}

h2.heading-paypoint {
  font-size: 27px;
  font-weight: 700;
  padding-bottom: 15px;
}
