{% extends "question.html" %}

{% block question %}
Create a password
{% endblock %}

{% block form %}

<p class="text">
  It needs to include at least:
</p>

<ul class="list list-bullet">
  <li>8 characters</li>
  <li>a capital letter</li>
  <li>a number</li>
</ul>

  <fieldset class="form-group-related {{ "error" if fields.email.error }}">
    <legend class="visually-hidden">Password</legend>
    <label class="form-label-bold" for="emailOrPhone">
        Password
    </label>  
    {{ errorsFor(fields.emailOrPhone) }}
    <input class="form-control"
           id="email-or-phone"
           name="emailOrPhone"
           type="password"
           value="{{ fields.emailOrPhone.value }}">
  </fieldset>
 
  <fieldset class="form-group-related {{ "error" if fields.email.error }}">
    <legend class="visually-hidden">Confirm password</legend>
    <label class="form-label-bold" for="emailOrPhone">
        Confirm password
    </label>
    {{ errorsFor(fields.emailOrPhone) }}
    <input class="form-control"
           id="email-or-phone"
           name="emailOrPhone"
           type="password"
           value="{{ fields.emailOrPhone.value }}">
  </fieldset>


{% endblock %}
