{% extends "question.html" %}

{% block question %}
Create an account
{% endblock %}

{% block form %}

<p class="text">
  If you have already registered, please <a href=""> sign in</a>.
</p>


<!-- <p class="text">
  You need to set up your account so that you can receive notices and documents from the court.
</p> -->


<br>
<div class="form-group">
  <fieldset class="form-group">
    <legend class="visually-hidden">Enter your email address</legend>
    <label class="form-label-bold" for="email">
       Enter your email address
    </label>
    <span class="form-hint">
      By entering your email address you are giving your consent to receive emails from the court.
    </span>


    <input class="form-control"
           id="email"
           name="email"
           type="text"
           value="">
  </fieldset>
  <fieldset class="form-group-related {{ "error" if fields.email.error }}">
    <legend class="visually-hidden">Enter your password</legend>
    <label class="form-label-bold" for="emailOrPhone">
        Choose a password
    </label>
    <span class="form-hint">
        Your password must be at least 8 characters long, with one uppercase letter, one lowercase letter, and a number.
    </span>

    {{ errorsFor(fields.emailOrPhone) }}
    <input class="form-control"
           id="email-or-phone"
           name="emailOrPhone"
           type="password"
           value="{{ fields.emailOrPhone.value }}">
  </fieldset>
  <fieldset class="form-group-related {{ "error" if fields.email.error }}">
    <legend class="visually-hidden">Enter your password again</legend>
    <label class="form-label-bold" for="emailOrPhone">
        Repeat password
    </label>
    {{ errorsFor(fields.emailOrPhone) }}
    <input class="form-control"
           id="email-or-phone"
           name="emailOrPhone"
           type="password"
           value="{{ fields.emailOrPhone.value }}">
  </fieldset>
</div>

{% endblock %}
