{% extends "question.html" %}
{% block question %}
Enter these details from the letter
{{ question }}
{% endblock %}
{% block serviceName %}{% endblock %}

{% block form %}

      <p>Enter the reference number and access code from the court's letter.</p>

      <div class="form-group">
        <label class="form-label" for="ref">
          Reference number
           <span class="form-hint">This is a 16 digit number </span>
         </label>
        <input class="form-control" id="ref" type="text">
      </div>
       <div class="form-group">
        <label class="form-label" for="code">
          Access code
           <span class="form-hint">Your code is 8 characters long</span>
        </label>
        <input class="form-control" id="code" type="text">
      </div>

<p><span class="bold-small">
      It may take a few minutes to link your account with this case.<br>
      Please don't leave or refresh this page.</span> 
</p>

{% endblock %}

