{% extends "layout.html" %}
{% from "common/errors.html" import errorsFor %}
{% import "common/components/inputComponents.html" as inputComponents %}
{% import "common/components/account.html" as account %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}


{% block content %}
<main id="content" role="main">
    <div>
  {% include "includes/phase_banner_beta.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
    <h1 class=heading-large>Your divorce</h1>
    <h3 class="heading-medium">
        <span class="circle">
        </span>
        Apply for Decree Nisi
    </h3>
    <div class="timeline-first">


      <p class="text">
      You can begin this step once you have received your {{ petsHusbandOrWife() }}'s response to your divorce application.
    <p class="text">
            <a class="button button-start" href="/dn-stage/has-received-aos" role="button">Start now</a>
          </p>
          <br/>
    </div>
    <div class="timeline-item">
        <div>
            <span class="circle circle-minor">
                <svg height="40" width="40">
                  <circle cx="15" cy="15" r="10" />
                </svg>
            </span>
            <b>Decree Absolute</b>
        </div>
        <div class="timeline timeline-minor timeline-no-left-border">
        </div>
    </div>



    <!--
    <div class="timeline-item">
        <h3 class="heading-medium">
            <span class="circle">
                <svg height="40" width="40">
                  <circle cx="20" cy="20" r="15" />
                </svg>
            </span>
            Decree Absolute
        </h3>
        <div class="timeline">
            <p class="text">
            Find out more about this stage of the process on <a href="">GOV.UK</a>.
            </p>
        </div>
        <div class="terminus">
        </div>
    </div>
    -->

</div>
<div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h3 class="heading-medium" id="subsection-title">Getting help</h2>
                <p>If you need help while completing your application, contact the court on <strong>02435 121466 or email at </p>
              </aside>

            </div>
        </div>
    </div>
</main>

{% endblock %}
