{% extends "question.html" %}

{% block question %}
Is your marriage certificate in English?
{% endblock %}
{% block form %}

<fieldset class="form-group inline">

  <legend class="visually-hidden">Is your marriage certificate in English?</legend>


<details>

  <summary><span class="summary">Help with foreign marriage certificates</span></summary>

  <div class="panel panel-border-narrow">


<p class="text">
If your certificate contains an English version as part of the original certificate, select 'yes'. 

</p>

<p class="text">

If you have an English translation as a different document, select 'no'.
</p>

  </div>

</details>

  <div class="multiple-choice">
    <input id="marriageCertInEnglish-yes" type="radio"
           name="marriageCertInEnglish" value="Yes" {{ checked(session.jurisdiction.marriageCertInEnglish, 'Yes') }}>
    <label for="marriageCertInEnglish-yes">Yes</label>
  </div>
  <div class="multiple-choice" data-target="certified-translation">
    <input id="marriageCertInEnglish-no" type="radio"
           name="marriageCertInEnglish" value="No" {{ checked(session.jurisdiction.marriageCertInEnglish, 'No') }}>
    <label for="marriageCertInEnglish-no">No</label>
  </div>
</fieldset>




<div id="certified-translation" class="js-hidden">
<fieldset class="form-group inline">

    <legend class="visually-hidden">Do you have a certified translation of your marriage certificate?</legend>

    <h3 class="heading-medium" style="margin-top: 0px;">Do you have a certified translation of your marriage certificate?</h3>
<p class="text">
  Translations must be certified as a true and accurate translation by the translator or by a notary public.
</p>

  <div class="multiple-choice">
    <input id="hasCertifiedTranslation-yes" type="radio"
           name="hasCertifiedTranslation" value="Yes" {{ checked(session.jurisdiction.hasCertifiedTranslation, 'Yes') }}>
    <label for="hasCertifiedTranslation-yes">Yes</label>
  </div>
  <div class="multiple-choice">
    <input id="hasCertifiedTranslation-no" type="radio"
           name="hasCertifiedTranslation" value="No" {{ checked(session.jurisdiction.hasCertifiedTranslation, 'No') }}>
    <label for="hasCertifiedTranslation-no">No</label>
  </div>
</fieldset>
</div>

{% endblock %}
