{% extends "question.html" %}

{% block question %}
    Check your marriage certificate details are correct
{% endblock %}


{% block form %}
    <p class="bold-small">
        The details you entered:
    </p>

    <div class="certificate-details-confirm">
        <p>
            Marriage solemnised at <span class="certificate-details-confirm-solemnised">{{ session.certificate.placeOfMarriage['inThe1'] }}</span> in the {{ 'Parish' if session.certificate.church == 'Yes' else 'District' }} of <br><span>{{ session.certificate.placeOfMarriage['of1'] }}</span>
            in the <span>{{ session.certificate.placeOfMarriage['inThe2'] if session.certificate.placeOfMarriage['inThe2'] != 'other' else session.certificate.placeOfMarriage['other'] }}</span> of <span>{{ session.certificate.placeOfMarriage['of2'] }}</span>
        </p>
        <div>
            <a href="where" class="secondary-button">Change</a>
        </div>
    </div>

    <label class="form-label-bold block-label" for="confirm">
        <input id="confirm" type="checkbox" name="confirm">
        I confirm that the above details exactly match what is shown on my marriage certificate
    </label>

{% endblock %}
