{% extends "question.html" %}
{% block question %}
Where you got married
{% endblock %}

{% block form %}

<!--   <p class="text">{% if session.certificate.hasCertifiedTranslation == "Yes" %}
  You'll need the translation of your marriage certificate for this.
{% else %}
 You'll need your marriage certificate for this.
{% endif %}</p> -->

    <h3 class="heading-medium">In which country did you get married?</h3>
<fieldset class="form-group">


  <fieldset class="form-group {{ " error" if fields.countryOfMarriage.error }}" >
    <legend class="visually-hidden">First Name(s)</legend>
    <label class="form-label" for="countryOfMarriage">
      Enter the country name
    </label>
    {{ errorsFor(fields.countryOfMarriage) }}
    <input class="form-control"
           id="countryOfMarriage"
           name="countryOfMarriage"
           type="text",
           style="width: 100%;",
           value="{{ fields.countryOfMarriage.value }}">
  </fieldset>


<!-- <h3 class="heading-medium">How is the the place of marriage displayed on the marriage certificate?</h3>

<p>NEED A TRANSLATION VERSION OF THIS H3!</P> -->

<h3 class="heading-medium">
{% if session.certificate.hasCertifiedTranslation == "Yes" %}
How is the place of marriage displayed on the translation of your marriage certificate?
{% else %}
 How is the place of marriage displayed on your marriage certificate?
{% endif %}
</h3>


<fieldset class="form-group {{ "error" if fields.placeOfMarriage.error }}" >
    <legend class="visually-hidden">Last Name(s)</legend>
    
    <label class="form-label" for="placeOfMarriage">{% if session.certificate.hasCertifiedTranslation == "Yes" %}
  Copy the words on the translation of your marriage certificate exactly
{% else %}
 Copy the words on the marriage certificate exactly
{% endif %}</label>
    {{ errorsFor(fields.placeOfMarriage) }}
    

    <input class="form-control"
           id="placeOfMarriage"
           name="placeOfMarriage"
           type="text",
           style="width: 100%;",
           value="{{ fields.placeOfMarriage.value }}">
  </fieldset>
</fieldset>


{% endblock %}
