{% extends "question.html" %}
{% block question %}
How did you change your name?
{{ question }}
{% endblock %}

{% block form %}



<fieldset class="form-group ">

	<legend class="visually-hidden">{{ question }}</legend>
	<label for="marriageCert" class="block-label">
		<input id="marriageCert" type="checkbox"
					 name="nameChangeMethod" value="marriageCert" {{ checked(fields.nameChangeMethod.value, 'marriageCert') }}>
        Marriage certificate
</label>

	<label for="deedPoll" class="block-label" data-target="provide-evidence-deed">
		<input id="deedPoll" type="checkbox"
					 name="nameChangeMethod" value="deedPollOrStatutoryDeclaration" {{ checked(fields.nameChangeMethod.value, 'deedPollOrStatutoryDeclaration') }}>
		Deed poll or statutory declaration
	</label>

	<div id="provide-evidence-deed" class="form-group panel js-hidden">
		<p class="text">
			You'll need to upload a digital photo or scan of the deed poll and/or statutory declaration later in this application. If you can't upload it, you can send it by post. 
		</p>
	</div>

	<label for="other" class="block-label" data-target="case-details">
		<input id="other" type="checkbox"
					 name="nameChangeMethod" value="Other" {{ checked(fields.nameChangeMethod.value, 'Other') }}>
		Other
	</label>



<div id="case-details" class="form-group panel js-hidden">

	<label class="form-label-bold" for="case-details-textarea">
			Provide details of how you changed your name
	</label>

	<span class="form-hint">
		 Later in this application, you'll need to upload a digital photo or scan of the evidence showing how you changed your name. If you can't upload this, you can send it by post. If you don't have any evidence showing how you changed your name, explain why here. 
	</span>


<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</fieldset>



{% endblock %}

{% macro reference(refId) %}
<input class="form-control"
			 name="r{{ refId }}"
			 type="text"
			 value="{{ fields[refId].value }}"
			 maxlength="1"
			 title="reference number {{ refId }}">
{% endmacro %}
