{% extends "question.html" %}
{% block question %}
Did you stop living together as a married couple on {{ session.separation.marriageOverDateFormatted }}?
{% endblock %}

{% block form %}
    
    <p class="text">
      Living as a married couple means that you behave like one. For example, you cook meals together, eat them together, sleep together and share social time together.
    </p>

    <p class="text">
      You can still live in the same residence and be considered by the court to be separated, as long you're not behaving like a married couple.
</p>

  <fieldset class="form-group inline" id="where-married">
    <legend class="visually-hidden">{{ question }}</legend>
    <label for="yes" class="block-label">
      <input id="yes" type="radio"
             name="isMarriageOverDateAlsoSeparationDate" value="Yes" {{ checked(session.separation.isMarriageOverDateAlsoSeparationDate, 'yes') }}>
      Yes
    </label>
    <label for="no" class="block-label">
      <input id="no" type="radio"
             name="isMarriageOverDateAlsoSeparationDate" value="No" {{ checked(session.separation.isMarriageOverDateAlsoSeparationDate, 'no') }}>
      No
    </label>

  </fieldset>

{% endblock %}
