{% extends "question.html" %}

{% block question %}
When you separated{% endblock %}
{% block form %}

<p class="text">
You need to provide the following dates related to your separation. The court will use the most recent date as the date that you separated.</p>
<p class="text">
  Use the same date for both if they happened on the same day. If you're not sure of the exact dates, use the closest dates that you remember.</p>


<h3 class="heading-medium">When did you first decide that the marriage was over?</h3>

  <fieldset class="form-group "
            id="marriageDate">
    <legend class="visuallyhidden"></legend>
    <div class="form-date">
      <p class="form-hint">For example, 31 3 2002</p>


      <div class="form-group form-group-day {{ "error" if fields.day.error }}">
        <label for="mentalSeparationDay">Day</label>
        <input class="form-control"
               id="mentalSeparationDay"
               name="mentalSeparationDay"
               value="{{ fields.day.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-month {{ "error" if fields.month.error }}">
        <label for="mentalSeparationMonth">Month</label>
        <input class="form-control"
               id="mentalSeparationMonth"
               name="mentalSeparationMonth"
               value="{{ fields.month.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-year {{ "error" if fields.year.error }}">
        <label for="mentalSeparationYear">Year</label>
        <input class="form-control"
               id="mentalSeparationYear"
               name="mentalSeparationYear"
               value="{{ fields.year.value }}"
               maxlength="4" oninput="dateSlice(this)">
      </div>
    </div>
  </fieldset>

  <h3 class="heading-medium">When did you start living apart?
</h3>
    <p class="text">
      You can both live in the same property and be considered by the court to be living apart, as long as you're living separate lives. For example, you don’t eat, sleep, or socialise together. 
    </p>

  <fieldset class="form-group "
            id="marriageDate">
    <legend class="visuallyhidden"></legend>
    <div class="form-date">
      <p class="form-hint">For example, 31 3 2002</p>


      <div class="form-group form-group-day {{ "error" if fields.day.error }}">
        <label for="physicalSeparationDay">Day</label>
        <input class="form-control"
               id="physicalSeparationDay"
               name="physicalSeparationDay"
               value="{{ fields.day.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-month {{ "error" if fields.month.error }}">
        <label for="physicalSeparationMonth">Month</label>
        <input class="form-control"
               id="physicalSeparationMonth"
               name="physicalSeparationMonth"
               value="{{ fields.month.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-year {{ "error" if fields.year.error }}">
        <label for="physicalSeparationYear">Year</label>
        <input class="form-control"
               id="physicalSeparationYear"
               name="physicalSeparationYear"
               value="{{ fields.year.value }}"
               maxlength="4" oninput="dateSlice(this)">
      </div>
    </div>
  </fieldset>

{% endblock %}
