{% extends "question.html" %}


{% block question %}
Risks at the property

{% endblock %}



{% block form %}

<p class="text">
  The bailiff needs to know about anything that may put them in danger at the property. For example:
</p>

<ul class="bullet list-bullet">
  <li>if there's anyone else living at the property who has been involved with the police</li>
  <li>if there are any dogs or other potentially dangerous animals kept in the property</li>
</ul>

<br />

<h2 class="heading-small">Do you believe that someone or something living at the property may present a risk?</h2>
  <div class="form-group">
    <fieldset>
      <legend class="visually-hidden">{{ question }}</legend>
      <div class="multiple-choice"  data-target="vehicle-yes">
        <input id="continue-yes" type="radio"
               name="continueWithDivorce" value="Yes" {{ checked(session.continueWithDivorce, 'Yes') }}>
        <label for="continue-yes">Yes</label>
      </div>
<div id="vehicle-yes" class="form-group panel js-hidden" >


	<label class="form-label-bold" for="case-details-textarea">
        Provide details
	</label>
<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>



</div>
      <div class="multiple-choice">
      
        <input id="continue-no" type="radio"
               name="continueWithDivorce" value="No" {{ checked(session.continueWithDivorce, 'No') }}>
        <label for="continue-no">No</label>
      </div>

    </fieldset>
  </div>
<div id="jurisdiction-no" class="form-group panel js-hidden" >


	<label class="form-label-bold" for="case-details-textarea">
			Why don't you agree that the court has jurisdiction?
	</label>
<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

<br>
<fieldset class="form-group">
    <legend class="visually-hidden">In which country is your life mainly based?</legend>
    <label class="form-label-bold" for="whichCountry">
      In which country is your life mainly based?
<!--       <span class="form-hint">In which country do you live?</span>
 -->    </label>

    <input class="form-control"
           id="whichCountry"
           name="whichCountry"
           type="text"
           value="{{ fields.whichCountry.value }}">
  </fieldset>

</div>
  

{% endblock %}
