{% extends "question.html" %}

{% block question %}

When is your {{ husbandOrWife() }} most likely to be at home?
{% endblock %}

{% block form %}


  <p class="text">
  	Your {{ petsHusbandOrWife() }} must be at the address when the bailiff visits so they can be served the papers.
  </p> 

<div class="panel panel-border-wide">

  <p class="text">
  	Bailiffs usually work between 6am and 9pm, Monday to Friday. They will only try to serve the application a limited number of times. You'll have to try a different way of moving the divorce forwards if they're unsuccessful. <!-- , and on Saturday between 6am and 12pm (midday) -->
  	</p>
</div>

  <p class="text">
  	Provide as much detail as you can to help the bailiff deliver the application. For example: 
</p>

<ul class="list list-bullet text">
  <li>the times your {{ petsHusbandOrWife() }} leaves for work and returns home</li>
  <li>regular activities or hobbies when they're not home</li>
</ul>

    <h2 class="heading-small">Provide details of when the application should be served</h2>
  <fieldset class="form-group">
  
<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>
  </fieldset>

{% endblock %}
