{% extends "question.html" %}


{% block question %}
Describe your  {{ petsHusbandOrWife() }} 
{% endblock %}

<p class="text">
	  The better your description, the more likely the bailiff will be to succeed.
</p>



{% block form %}

  <p class="text">Try to include:</p>

  <ul class="list list-bullet text">
<li>approximate age</li>
<li>approximate height and weight</li>
<li>hair and eye colour</li>
<li>any other identifying features (eg. "has a flower tattoo on their neck")</li>

<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</fieldset>
<br>

{% endblock %}
