{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<div class="grid-row">
    <div class="column-two-thirds">

     <div class="govuk-box-highlight">

      <h1 class="bold-large">

        Application complete</h1>

        <p class="bold-small">
        {% if session.state == "dn-stage-resp-does-not-admit-adultery" and session.dnAmendment == "Yes" %}
        You've changed your reason for divorce
        {% elif session.state == "dn-stage-resp-does-not-consent" %}
        You've changed your reason for divorce
        {% elif session.dnHasAnotherAddress == "Yes" %}
        The application will be sent to the new address
        {% else %}
        You've applied for bailiff service
        {% endif %}
      </p>
<p class="text-reference">
          {% if session.paymentMethod == "by-card" %}Your payment has been received.{% endif %} Your reference number is <br>
  <strong class="text-reference-number">{% block reference_number %}1234 - 5678 - 9012 - 4567{% endblock %}</strong>
</p>

      </div>

      <p class="text">
        Email confirmation has been sent to <strong class="bold-small">{% if session.emailAddress %}{{ session.emailAddress }}{% else %}dante-1976@gmail.com{% endif %}</strong>.</p>
      </p>


    {{ reformProgressList({
      one: {
      label: "You applied",
      complete: true
    },
    two: {
    label: "Your husband/wife must respond",
    current: true
    },
    three: {
    label: "Get a decree nisi"
    },
    four: {
    label: "The divorce is made final"
    }
    })
    }}

      {% if session.dnAmendment == "Yes" %}
      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        The court will send your application to your {{ petsHusbandOrWife() }} at the new address you've provided. 
      </p>
      {% endif %}
      {% if session.state == "dn-stage-no-response" %}


      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        The court will check your application to make sure you've provided enough information for the bailiff to deliver (serve) the application to your {{husbandOrWife ()}}. It will then appoint a bailiff to serve the application.
      </p>

      <p class="text">
        The bailiff is only allowed to try to serve the application to your {{husbandOrWife ()}} at the address you have provided. 
      
      <p class="text">
        The bailiff will attempt to serve the application to your {{husbandOrWife ()}}  3 times.
      </p>

       <h2 class="heading-medium"> If the bailiff succeeds</h2>

      <p class="text">
      If the bailiff succeeds in delivering the application, you'll be given a letter as evidence that your {{ petsHusbandOrWife() }} has received the application. This is known as an ‘endorsement of service'. If your {{ petsHusbandOrWife() }} doesn’t respond within 14 days of getting the application, you can use this letter to continue your divorce without their response.
      </p> 

       <h2 class="heading-medium"> If the bailiff doesn't succeed</h2>

      <p class="text">
        If the bailiff can't serve the application to your {{husbandOrWife ()}} at the address you've provided, they will return it to the court.
      </p> 

<!--       <p class="text">
        They may be able to ask other people at the address, or neighbours if they know where your {{husbandOrWife ()}} is.
      </p> -->

      <p class="text">
        The court will then contact you to tell you that the application hasn't been served at that address.
      </p>

      <p class="text">
         You can then do one of the following to move the divorce forwards:
      </p>

     <ul class="list-bullet list">
        <li>provide a new address for the bailiff (and pay another £110 fee)</li>
        <li>use a different court service</li>
      </ul>

      <p class="text">
        If you provide a new address, you'll need to have the application sent by normal post before you can use the bailiff service there. 

      </p>
     
    

      {% endif %}

      {% if session.state == "dn-stage-resp-does-not-admit-adultery" %}

      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        Your new application will be checked. If it's correct and the fee has been paid, court staff will notify you, and send your {{ petsHusbandOrWife() }} the new application.
      </p>

      <p class="text">
        Your {{ petsHusbandOrWife() }} can still choose to defend the divorce by applying and paying a fee of £245. However, you won't need them to admit anything for any of the other reasons (facts) for divorce.
      </P>


      {% endif %}

      {% if session.state == "dn-stage-resp-does-not-consent" %}



      <h2 class="heading-medium">What happens next</h2>

      <p class="text">
        Your new application will be checked. If it's correct and the fee has been paid, court staff will notify you, and send your {{ petsHusbandOrWife() }} the new application.
      </p>

      <p class="text">
        Your {{ petsHusbandOrWife() }} can still choose to defend the divorce by applying and paying a fee of £245. However, you won't need their consent for any of the other reasons (facts) for divorce. 
        <p>

          {% endif %}

          {% if session.state == "dn-stage-resp-accepts" %}
          <h2 class="heading-medium">What happens next</h2>

          <p class="text">
            The court will check your application and pass it to the judge. If the judge agrees there's no reason why you shouldnt get a divorce, you'll be sent the time, date and court in which your decree nisi will be announced. You'll then be sent your decree nisi.</p>

            <p class="text">After the decree nisi has been granted, you’ll have to wait 6 weeks before you can finalise your divorce by getting a decree absolute.</p>

            {% endif %}
<!-- 
            <details>
              <summary><span class="summary">See average divorce times</span></summary>
              <div class="panel panel-border-narrow">

                <p class="font-xsmall">It usually takes 4 to 6 months to get a divorce if your {{ petsHusbandOrWife() }} doesn't 'defend' it (doesn't try to prevent it). </p>


                <table>
                  <thead>
                    <tr>
                      <th class="bold font-xsmall">What happens</th>
                      <th class="bold font-xsmall">How long it takes</th>
                    </tr>
                  </thead>
                  <tbody class="table--borderless">
                    <tr>
                      <td class="font-xsmall">The court sends the application to your {{ petsHusbandOrWife() }}</td>
                      <td class="font-xsmall">Up to 1 week after you submit it</td>
                    </tr>
                    <tr>
                      <td class="font-xsmall">Your {{ petsHusbandOrWife() }}  responds</td>
                      <td class="font-xsmall">Up to 3 weeks after they get it</td>
                    </tr>
                    <tr>
                      <td class="font-xsmall">Decree nisi is granted</td>
                      <td class="font-xsmall">3 to 4 weeks after you apply for it</td>
                    </tr>
                    <tr>
                      <td class="font-xsmall">Wait to apply for decree absolute</td>
                      <td class="font-xsmall">6 weeks and 1 day after decree nisi is granted</td>
                    </tr>
                    <tr>
                      <td class="font-xsmall">Divorce is granted </td>
                      <td class="font-xsmall">2 working days after applying for decree absolute</td>
                    </tr>
                  </tbody>
                </table>

                <p class="font-xsmall">
                  Times can vary depending on when and where you apply for a divorce, and how long it takes your {{ petsHusbandOrWife() }} to respond.
                </p>


              </div>
            </details>
 -->
            <form method="POST" accept-charset="utf-8" class="form" id="form" enctype="application/x-www-form-urlencoded">

                <!-- <p>
                    Download your copy
                </p>


                <div class="form-group">
                    <input type="submit" class="button" value="Download">
                </div>

              </form> -->

            </form></div>
            <div class="column-third">
    {% embed "lib/partials/sidebar.html" %}
    {% endembed %}
            </div>

    {% include "report-error.html" %}
          </main>

          {% endblock %}
