{% extends "question.html" %}


{% block question %}
Do you have a photo of your {{ petsHusbandOrWife() }}?
{% endblock %}



{% block form %}


<p class="text">
  The bailiff needs to be able to identify your {{ petsHusbandOrWife() }} from the picture. The better the picture, the more likely they will be to succeed.
</p>

<form>
  <div>
    <fieldset class="form-group">
      <legend class="visually-hidden">{{ question }}</legend>
      <div class="multiple-choice" data-target="describe" >
        <input id="continue-yes" type="radio"
               name="hasPhoto" value="Yes">
        <label for="continue-yes">Yes</label>

      </div>

      <div class="multiple-choice">
      
        <input id="continue-no" type="radio"
               name="hasPhoto" value="No">
        <label for="continue-no">No</label>
      </div>

    </fieldset>

  </div>

<div id="describe" class="js-hidden" >

<fieldset class="form-group">
	<label class="form-label-bold" for="case-details-textarea">
        Provide details about the picture
	</label>

<p class="text">
  Help the bailiff identify your {{ petsHusbandOrWife() }} from the photo. For example:
</p>

  <ul class="list list-bullet text">
  <li>when the photo was taken (eg 1992)</li>
  <li>how your {{ petsHusbandOrWife() }} now looks different if their apperance has changed (eg they now have blonde hair)</li>
  <li>if there's anyone else in the photo, which person is your {{ petsHusbandOrWife() }} (eg, my {{ petsHusbandOrWife() }} is the person in the middle wearing blue jeans)</li>
</ul>

<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</fieldset>


      </div>
</div>
  
      

{% endblock %}
