{% extends "question.html" %}

{% block question %}
Advice
{% endblock %}

{% block form %}


<p class="text" for="respAgreement">
</p>


<fieldset class="form-group" id="advice">

    <label for="adviceChoiceAnother" class="block-label">
        <input id="adviceChoiceAnother" type="radio"
               name="adviceChoice" value="anotherReason">
        Choose another reason
    </label>

    <label for="adviceChoiceContinue" class="block-label">
        <input id="adviceChoiceContinue" type="radio"
               name="adviceChoice" value="continue" >
        I want to use adultery as my reason for divorce
    </label>

</fieldset>

{% endblock %}
