{% extends "question.html" %}

{% block question %}
Do you know when and where the adultery took place?
{% endblock %}

{% block form %}


<p class="text" for="evidence">
</p>


<fieldset class="form-group inline" id="evidence">

    <label for="agreeYes" class="block-label" data-target="time-period">
        <input id="agreeYes" type="radio"
               name="evidence" value="Yes" {{ checked(session.adultery.evidence, 'Yes') }}>
        Yes
    </label>

    <label for="agreeNo" class="block-label">
        <input id="agreeNo" type="radio"
               name="evidence" value="No" {{ checked(session.adultery.evidence, 'No') }}>
        No
    </label>

</fieldset>

{% endblock %}
