{% extends "question.html" %}
{% block question %}
Do you have a confession from your {{ petsHusbandOrWife() }} about the adultery?
{% endblock %}

{% block form %}

<p class="text">
  The court will ask your {{ petsHusbandOrWife() }} if they admit to the adultery.
</p>

  <p class="text">
    If you already have a signed confession, you can send it to the court with your application. You don't have to do this now, but it may save you time later on. 
</p>


  <fieldset class="inline form-group">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice" data-target="hasConsent">
    <input id="hasProvidedConsent-yes" type="radio"
           name="hasProvidedConsent" value="Yes" {{ checked(session.separation.hasProvidedConsent, 'Yes') }}>
    <label for="hasProvidedConsent-yes">Yes</label>
  </div>
  <div class="multiple-choice">
    <input id="hasProvidedConsent-no" type="radio"
           name="hasProvidedConsent" value="No" {{ checked(session.separation.hasProvidedConsent, 'No') }}>
    <label for="hasProvidedConsent-no">No</label>
  </div>
</fieldset>


<div id="hasConsent" class="js-hidden panel">
    <p class="text">
      You can upload a digital photo or scan of the document later in this application or send it to the court by post.
    </p>
</div>
<div id="willConsent" class="js-hidden">

<h2 class="heading-medium">
Are you confident that your {{ petsHusbandOrWife() }}  will admit to the adultery?
</h2>

  <fieldset class="form-group inline" id="where-married">
    <legend class="visually-hidden">{{ question }}</legend>
    <label for="willRespondentConsent-yes" class="block-label" data-target="heWillConsent">
      <input id="willRespondentConsent-yes" type="radio"
             name="willRespondentConsent" value="Yes" {{ checked(session.separation.willRespondentConsent, 'yes') }}>
      Yes
    </label>
    <label for="willRespondentConsent-no" class="block-label" data-target="heWontConsent">
      <input id="willResondentConsent-no" type="radio"
             name="willRespondentConsent" value="No" {{ checked(session.separation.willRespondentConsent, 'no') }}>
      No
    </label>
  </fieldset>
</div>

<div id="heWillConsent" class="js-hidden panel">
    <p class="text">
   If your {{ petsHusbandOrWife() }} doesn't admit to the adultery, you'll need to go to a court hearing. You may be asked to provide proof of the adultery. If you can't provide proof, then your application will be rejected and you'll need to choose another reason. This will delay your divorce and you'll have to pay another fee of £95 to change your application. 
    </p>
</div>

<div id="heWontConsent" class="js-hidden panel">
    <p class="text">
    You may want to consider changing your reason for divorce. If your {{ petsHusbandOrWife() }} doesn't admit to the adultery, you'll need to go to a court hearing. You may be asked to provide proof of the adultery. If you can't provide proof, then your application will be rejected and you'll need to choose another reason. This will delay your divorce and you'll have to pay another fee of £95 to change your application. 
 
    </p>
</div>


<div id="heWontConsent" class="js-hidden panel">
    <p class="text">
       You may want to change your reason. 
    </p>
</div>

{% endblock %}
