{% extends "question.html" %}

{% block question %}
Has any of the information about the adultery come from another person?
{{question}}
{% endblock %}



{% block form %}

<p class="text">
  The court needs to know if any of this information is second hand.</p>
<fieldset class="inline form-group">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice"  data-target="detailed-information">
    <input id="dnThirdParty-yes" type="radio"
           name="dnThirdParty" value="Yes" {{ checked(session.dnThirdParty , 'Yes') }}>
    <label for="dnThirdParty-yes">Yes</label>
  </div>
  <div class="multiple-choice">
    <input id="dnThirdParty-no" type="radio"
           name="dnThirdParty" value="No" {{ checked(session.dnThirdParty, 'No') }}>
    <label for="dnThirdParty-no">No</label>
  </div>
</fieldset>
  

    <div class="panel panel-border-narrow js-hidden" id="detailed-information">
        <label class="form-label-bold" for="case-details-textarea">
            Which information was given to you?
        </label>
        <textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>
   </div>
{% endblock %}
