{% extends "question.html" %}
{% block question %}
Do you know when the adultery took place?
{% endblock %}
{% block form %}

  <p class="text">
    You only need to provide an approximate date that it happened.
  </p>

<fieldset class="form-group inline">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice" data-target="approximate-date">
    <input id="when-various" type="radio"
           name="knowWhen" value="Yes" {{ checked(session.adultery.when, 'various') }}>
    <label for="knowWhen-yes">Yes</label>
  </div>

  <div class="multiple-choice" data-target="approximate">
    <input id="when-approximate" type="radio"
           name="knowWhen" value="approximate" {{ checked(session.adultery.when, 'approximate') }}>
    <label for="knowWhen-no">No</label>
  </div>
  
  
</fieldset>
<div class="js-hidden form-group panel" id="approximate-date">

<h3 class="heading-small">Provide a date</h3>
  <fieldset class="form-group "
            id="firstFindOutDate">
    <legend class="visuallyhidden">When did you first find out about the adultery?
</legend>
    <div class="form-date">
        <p class="text">If the adultery happened more than once, enter the date that you're most certain it took place. If you wish to provide more than one date you will need to contact the court and complete your application on paper instead.</p>
      <p class="form-hint">For example, 31 3 2002</p>


      <div class="form-group form-group-day {{ "error" if fields.day.error }}">
        <label for="day">Day</label>
        <input class="form-control"
               id="day"
               name="day"
               value="{{ fields.day.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-month {{ "error" if fields.month.error }}">
        <label for="month">Month</label>
        <input class="form-control"
               id="month"
               name="month"
               value="{{ fields.month.value }}"
               maxlength="2" oninput="dateSlice(this)">
      </div>

      <div class="form-group form-group-year {{ "error" if fields.year.error }}">
        <label for="year">Year</label>
        <input class="form-control"
               id="year"
               name="year"
               value="{{ fields.year.value }}"
               maxlength="4" oninput="dateSlice(this)">
      </div>
    </div>
  </fieldset>
  </div>
{% endblock %}

