{% extends "question.html" %}
{% block question %}
Do you know where the adultery took place?

{% endblock %}
{% block form %}

  <p class="text">
  </p>

<fieldset class="form-group inline">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice" data-target="where">
    <input id="when-various" type="radio"
           name="knowWhere" value="Yes" {{ checked(session.adultery.when, 'various') }}>
    <label for="knowWhere-yes">Yes</label>
  </div>
  <div class="multiple-choice" >
    <input id="when-approximate" type="radio"
           name="knowWhere" value="No" {{ checked(session.adultery.when, 'approximate') }}>
    <label for="knowWhere-no">No</label>
  </div>
  
  
</fieldset>
<div class="panel js-hidden" id="where">
  
    <label class="form-label-bold" for="hwf-ref">
        Name at least one place where the adultery took place
    </label>
  <input class="form-control" id="hwf-ref" name="helpWithFeesReference" type="text" value="">

  </div>
{% endblock %}

