{% extends "question.html" %}
{% set question = 'Do you want to name the person you believe your wife committed adultery with?' %}
{% block question %}
{{ question }}
{% endblock %}
{% block form %}

  <p class="text">
    You don't have to name this person, and naming them usually doesn't benefit an application for divorce.
  </p>

<!-- <ul class="list-bullet list">
        <li>
          they'll be given a chance to respond to your claim
        </li>
        <li>
          your application could be delayed if they don't respond
        </li>
      </ul> -->

<!--   <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    If you name them you must provide their full name and address so the court can send them a copy of your divorce application.
  </strong>
</div> -->

 <p class="text">
 If you do name them you must provide their full name and address so that they can respond. 
</p>


  <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    Your divorce could be delayed and cost more if this person doesn't respond.
  </strong>
</div>



<br>


<p class="text">
  You can ask the court to order them to pay some or all of your divorce costs. 
</p>

<fieldset class="inline form-group">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice" data-target="wish-to-name-warning">
    <input id="wishToName-yes" type="radio"
           name="wishToName" value="Yes" {{ checked(session.adultery.wishToName, 'Yes') }}>
    <label for="wishToName-yes">Yes</label>
  </div>
  <div class="multiple-choice">
    <input id="wishToName-no" type="radio"
           name="wishToName" value="No" {{ checked(session.adultery.wishToName, 'No') }}>
    <label for="wishToName-no">No</label>
  </div>
</fieldset>

<div class="panel js-hidden" id="wish-to-name-warning">
  <div class="notice">
<h2 class="heading-medium">Enter their name</h2>
  <p class="text">This person is legally known as the 'co-respondent'.</p>

    <fieldset class="form-group">
  <legend class="visually-hidden">{{ question }}</legend>
  <div class="form-group">
    <label class="form-label" for="first-name">
      First name(s)
    </label>
    <input class="form-control" id="first-name" name="firstName"
           type="text" value="{{ session.adultery.corespondent.firstName }}">
  </div>

  <div class="form-group">
    <label class="form-label" for="last-name">
      Last name(s)
    </label>
    <input class="form-control" id="last-name" name="lastName"
           type="text" value="{{ session.adultery.corespondent.lastName }}">
  </div>

  </div>
</div>


{% endblock %}

