{% extends "exit.html" %}

{% block heading %}
You haven't been separated for long enough to use this fact
{% endblock %}

{% block exit_reason %}
<p class="text">
    You must have been separated for at least {% if session.facts.reason == 'separation-2-years' %}2{% else
    %}5{% endif %} years to use this fact.
</p>
<p class="text">
    If you want to proceed with your divorce application, you must <a href="../../reason-for-divorce">choose another
    fact which applies to you</a>.
</p>
{% endblock %}
