{% extends "exit.html" %}

{% block heading %}
You can't use adultery as your reason for divorce
{% endblock %}

{% block exit_reason %}
<p class="text">
    You can't use adultery as your reason for divorce if you lived together as a couple for more than 6 months after you
    found out about the adultery.
</p>

<p class="text">
    If you want to proceed with your divorce application, you must <a href="../../reason-for-divorce">choose another
    fact which applies to you</a>.
</p>


{% endblock %}
