{% extends "question.html" %}

{% block question %}
Paying by debit or credit card
{% endblock %}

{% block form %}

<p class="text">
  You need to provide your phone number so the court can take payment over the phone.
</p>

<p class="text">
  The court will call you to take payment. Your application can only be processed when you've paid the fee.
</p>

<div class="form-group {{ " error" if fields.phoneNumber.error }}">
  <label class="form-label-bold" for="phoneNumber">
    Your phone number
  </label>

{{ errorsFor(fields.phoneNumber) }}

<input class="form-control"
       id="phoneNumber"
       name="phoneNumber"
       type="text"
       value="{{ fields.phoneNumber.value | default(session.mobileNumber )}}">
</div>

<div class="form-group {{" error" if fields.timeToCall.error }}">
  <fieldset>
    <legend class="form-label-bold">
      What time of day would you prefer to be called?
    </legend>

    <p class="form-hint">
      The court will try to accommodate your request
    </p>

    {{ errorsFor(fields.timeToCall) }}

    <label for="morning" class="block-label">
      <input id="morning"
             type="checkbox"
             name="timeToCall"
             value="morning"
             {{ checked(fields.timeToCall.value, 'morning') }}>
      In the morning (10am to 12pm)
    </label>

    <label for="afternoon" class="block-label">
      <input id="afternoon"
             type="checkbox"
             name="timeToCall"
             value="afternoon"
             {{ checked(fields.timeToCall.value, 'afternoon') }}>
      In the afternoon (12pm to 4pm)
    </label>
  </fieldset>
</div>

<p class="text">
  Courts are open Monday to Friday
</p>

{% endblock %}
