{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- <div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div> -->
	  <h1 class="heading-large">Confirm your payment</h1>
	  <div class="check-details">

	  	<table>
		    <tbody>		      
		      <tr>
		        <td>Card number:</td>
		        <td class="table-info">************7470</td>
		      </tr>
		      <td>Expiry date:</td>
		        <td class="table-info">11/19</td>
		      </tr>
		      <tr>
		        <td>Name on card:</td>
		        <td class="table-info">John Smith</td>
		      </tr>
		      <tr>
		        <td>Billing address:</td>
		        <td class="table-info">10 Main Street, London, N8 9JH</td>
		      </tr>
		       <tr>
		        <td>Email address:</td>
		        <td class="table-info">johnsmith@gmail.com</td>
		      </tr>
		      <tr>
		        <td>Payment of:</td>
		        <td class="table-info">Divorce application</td>
		      </tr>
		      <tr>
		        <td>Amount to pay:</td>
		        <td class="table-info">£550.00</td>
		      </tr>
		    </tbody>
  		</table>	
		</div>
</div>

			<div class="form-group">
                <br />
<form method="POST" accept-charset="utf-8" class="form" id="form" enctype="application/x-www-form-urlencoded">
                <input id="continue-button" type="submit" class="button" value="Pay">
</form>
		 		</div>
		 		<div class="back">
				<a href="/pay/how">Cancel payment</a>
			</div>
		 </div>


</main>

{% endblock %}
