{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ respsName() }} {% endblock %}
{% block email_recipient_email %}{{ respsEmail() }}{% endblock %}
{% block email_subject %}Finish setting up your account
{% endblock %}
{% block content %}
<!-- <p>
Reference no: 4829-1351-1234-2343
</p> -->
<p>
	Dear {{ respsName() }},
</p>

<p>Click on the following link to finish setting up your account.</p>

<p><a href="/IDAM/login?continue_url=/aos/progress-bar/respond&status=confirmed">https://www.hmcts.gov.verification/6e500dda-49b2-4ee2-8960-327c720583e7
</a></p>

<!-- <h2 class="heading-medium">
	Help us improve this service
</h2>
<p>
	This is a new service which is still being developed. If you haven’t already, please tell us what you think of it and how it can be improved at <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/">http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/email</a>.
</p> -->
<!-- <h2 class="heading-medium">
	If you need help
</h2> -->

<p>
	If you can’t sign in to the online service, please contact:
</p>

<p>
	East Midlands Regional Divorce Centre</br>
	Email: eastmidlandsdivorce@hmcts.gsi.gov.uk</br>
	Phone: 0300 303 0642 (from 8.30am to 5pm)</br>
</p>



<p class="text"> HM Courts and Tribunals Service </p>
<p>
	This is an automated message, please don’t reply to this email.
</p>
{% endblock %}

