{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}When your decree nisi will be announced
{% endblock %}
{% block content %}
<p>
Reference no: 4829-1351-1234-2343
</p>
<p>
	Dear {{ respsName() }},
</p>

<p class="text">
	{{ petsName() }} application for a decree nisi has been accepted and the court certifies that they are entitled to a decree of divorce.</p>


<p class="text">
	 The court has also decided to make an order that you pay towards the divorce costs.
</p>

<p class="text">
	A district judge will formally announce these orders at a hearing on 21 April 2019.
</p>
</p>

<p class="text">
	You don’t need to come to the hearing unless you want to object to the costs order. Contact the court by 7 April 2019 if you want to attend.
</p>

<p class="text">
	Sign in to your account for further details.
</p>


<p class="text">
	 <a href="/IDAM/login?continue_url=/corespondent-aos/progress-bar/date-of-decree-nisi">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>


{% endblock %}

