{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Your decree nisi has been announced
{% endblock %}
{% block content %}
<p>
Reference no: 4829-1351-1234-2343
</p>
<p>
Dear {{ respsName() }},
</p>

<p>
	Your decree nisi (court order) for a divorce from {{ petsName() }} was made on 8 August 2017. The order was announced by District Judge Wylie at East Midlands Regional Divorce Centre.
</p>

<p>
	The judge also made a court order instructing you to pay your {{ respsHusbandOrWife() }} the costs of the divorce. The order states how much money you need to pay them. 
</p>

<div class="panel panel-border-wide">
  <p>
	You’re not divorced until you have your decree absolute, the legal certificate ending your marriage.
  </p>
</div>

<p>
	You can download the documents for both these orders from your account.</p>
<p>
	 <a href="/IDAM/login?continue_url=/progress-bar/decree-nisi-granted">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>

<h2 class="heading-medium">When you can finalise the divorce</h2>

<p>
	You can apply for your decree absolute from 20 December 2017, 3 months after your {{ respsHusbandOrWife() }} can apply. Both you and your {{ respsHusbandOrWife() }} will need to go to a court hearing if you (instead of your {{ respsHusbandOrWife() }} apply for the decree absolute. You’ll get an email telling you how to apply at that time.
</p>

<h2 class="heading-medium">
	Help us improve this service
</h2>
<p>
	This is a new service which is still being developed. If you haven’t already, please tell us what you think of it and how it can be improved at <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/">http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/email</a>.
</p>
<h2 class="heading-medium">

If you need help
</h2>
<p>
You can contact the court if you need help. Court staff can’t give you legal advice. If you need a legal adviser you can find one at <a href="https://www.gov.uk/find-a-legal-adviser">https://www.gov.uk/find-a-legal-adviser</a>.
</p>
<p>
East Midlands Regional Divorce Centre</br>
Email: <a href="">eastmidlandsdivorce@hmcts.gsi.gov.uk<a/></br>
Phone: 0300 303 0642 (from 8.30am to 5pm)</br>
<a href="https://courttribunalfinder.service.gov.uk/courts/east-midlands-divorce-unit">https://courttribunalfinder.service.gov.uk/courts/east-midlands-divorce-unit</a></br>

<h2 class="heading-medium"> HM Courts & Tribunals Service </h2>
<p>
This is an automated message, please don’t reply to this email.
</p>
{% endblock %}

