{% extends "question.html" %}

{% block question %}
Were you last habitually resident in England or Wales together?
{% endblock %}

{% block form %}

<p class="text">
  <span class="bold-small">Habitual Residence</span> means that you live voluntarily and for settled purposes (such as
  work, training, family life) in England or Wales, apart from temporary or occasional absences. You must spend a
  substantial amount of time in a place to be habitually resident there. This does not have to be your permanent home.
</p>

<fieldset class="form-group inline">
  <label class="block-label">
    <input id="together-yes" name="together" type="radio" value="Yes" {{ 'checked' if together}} >
    Yes
  </label>

  <label class="block-label">
    <input id="together-no" name="together" type="radio" value="No" {{ 'checked' if not together}}>
    No
  </label>
</fieldset>

{% endblock %}
