{% extends "question.html" %}

{% block question %}
Are you and your {{ petsHusbandOrWife() }} mainly based in England or Wales?
{% endblock %}
{% block form %}
<p class="text">
The court needs to know if you're habitually resident here. For example, working here, owning property here, have children in school here, main family life may take place here. You may intend to stay in England or Wales.
</p>
<fieldset class="form-group">
  <legend class="visually-hidden">Are you and your {{ petsHusbandOrWife() }} mainly based in England or Wales?
</legend>
  <label for="habitualResidence-yes" class="block-label" data-target="habitual-residency-yes">
    <input id="habitualResidence-yes" type="radio"
           name="habitualResidence" value="Yes" {{ checked(session.jurisdiction.habitualResidence, 'Yes') }}>
    Yes, both of our lives are based here.
  </label>

  <label for="habitualResidence-petitionerOnly" class="block-label">
    <input id="habitualResidence-petitionerOnly" type="radio"
           name="habitualResidence" value="PetitionerOnly" {{ checked(session.jurisdiction.habitualResidence, 'PetitionerOnly') }}>
    Only my life is based here.
  </label>

  <label for="habitualResidence-respondentOnly" class="block-label">
    <input id="habitualResidence-respondentOnly" type="radio"
           name="habitualResidence" value="RespondentOnly" {{ checked(session.jurisdiction.habitualResidence, 'RespondentOnly') }}>
    Only my {{ petsHusbandOrWife() }}'s life is based here.
  </label>

  <label for="habitualResidence-no" class="block-label">
    <input id="habitualResidence-no" type="radio"
           name="habitualResidence" value="No" {{ checked(session.jurisdiction.habitualResidence, 'No') }}>
    Neither or our lives are based here.
  </label>
</fieldset>

</div>
<div id="habitual-residency-yes" class="panel js-hidden">
  <p class="text">
    This indicates that you’re habitually resident here.
  </p>

  <details>
    <summary>
      <span class="summary font-small">What does habitually resident and domiciled mean?</span>
    </summary>
    <div class="panel panel-border-narrow font-small text">

      <p class="text">
        Habitually resident means your life is mainly based in England and Wales, you’re settled here and you intend to
        remain settled here. You may work here, own property, have your children in school here, and your main family
        life may take place here.
      </p>

      <p class="text">
        Domiciled means that you consider England and Wales to be your permanent home. You can be domiciled and live
        abroad as long as you intend to return here.
      </p>

      <p class="text">
        If you don't think this applies to you, you can <a href="/jurisdiction/your-connections">choose how you're
        connected to England and Wales.</a>
      </p>


    </div>
  </details>

</div>

{% endblock %}
