{% extends "question.html" %}

{% block question %}
You can use English or Welsh courts to get a divorce
{% endblock %}
{% block form %}

<p class="text">
    Your answers indicate that you can apply for a divorce in England and Wales because you have the following connections:</p>

<div class="panel panel-border-wide">
 

<p class="text">

        {% if (session.jurisdiction.conditions.a == "Yes" or session.jurisdiction.conditions.c == "Yes") and session.jurisdiction.numConditions <= 2 %}
            {% if session.jurisdiction.habitualResidence == "Yes" and session.jurisdiction.respHabitualResidence == "Yes" %}
                You and your {{ petsHusbandOrWife() }} are both ‘habitually resident’ in England and Wales.
            {% endif %}
            {% if session.jurisdiction.habitualResidence == "No" and session.jurisdiction.respHabitualResidence == "Yes" %}
                Your {{ petsHusbandOrWife() }} is 'habitually resident' in England and Wales.
            {% endif %}
        {% else %}
        <ul class="list-bullet bullet">
        {% if session.jurisdiction.conditions.a == "Yes" %}
            <li>
            you and your {{ petsHusbandOrWife() }} are both ‘habitually resident’ in England and Wales
            </li>
        {% endif %}
        {% if session.jurisdiction.conditions.c == "Yes" %}
        <li>your {{ petsHusbandOrWife() }} is habitually resident in England and Wales</li>
        {% endif %}
        {% if session.jurisdiction.conditions.d == "Yes" %}
        <li>you are 'habitually resident' in England and Wales and have lived there for at least a year</li>
        {% endif %}
        {% if session.jurisdiction.conditions.e == "Yes" %}
        <li>your are domiciled and habitually resident in England and Wales and have lived there for at least six months</li>
        {% endif %}
        {% if session.jurisdiction.conditions.f == "Yes" %}
        <li>you and your {{ petsHusbandOrWife() }} are both domiciled in England and Wales</li>
        {% endif %}
        </ul>
    {% endif %}
</p>

 
</div>

<details>
    <summary>
    <span class="summary font-small">Read more about your connections</span>
    </summary>
    <div class="panel panel-border-narrow font-small text"> 

            <H3 class="heading-medium">Habitual residence</h3>

        <p class="text">
        If your lives are mainly based in England or Wales then you're what is legally known as 'habitually resident'. </p>
        <p class="text">
          This may include working, owning property, having children in school, and your main family life taking place in England or Wales.
        </p>
        <p class="text">
        These examples aren't a complete list of what makes up habitual residence, and just because some of them apply to you doesn’t mean you’re habitually resident. If you’re not sure, you should get legal advice.
        </p>

    <H3 class="heading-medium">Domicile</h3>
    
      <p class="text">
          Your domicile is usually the place in which you were born, regard as your permanent home and to which you have the closest ties.
      </p>
      <p class="text">
          However, domicile can be more complex if you or your parents have moved countries in the past. 
      </p>
      <p class="text">
          When you're born, you acquire a <strong class="bold-small">domicile of origin</strong>. This is usually:
      </p>
      <ul class="list-bullet list">
        <li>
          the country your father considered his permanent home if your parents were married
        </li>
        <li>
          the country your mother considered her permanent home if your parents were unmarried, or your father had died
        </li>
      </ul>
      <p class="text">
          If you leave your domicile of origin and settle in another country as an adult, the new country may become your <strong class="bold-small">domicile of choice</strong>.
      </p>
      <p class="text">
      If you're not sure about your domicile you should get legal advice.
      </p>

          <H3 class="heading-medium">Residual jurisdiction</h3>

<p class="text">
      The court may have residual jurisdiction if none of the other connections apply, and both of the following are true:
    </p>

    <ul class="list-bullet list">
      <li>either you or your {{ session.divorceWho }} are domiciled in England or Wales</li>
      <li>neither you nor your {{ session.divorceWho }} are able to apply (on the basis of your nationality or residence) for a divorce in another member state of the EU</li>
    </ul>

    <p class="text">In addition, if you're married to a person of the same sex, the court may have residual jurisdiction if all the following apply:</p>

    <ul class="list-bullet list">
      <li>you and your {{ session.divorceWho }} married each other in England or Wales</li>
      <li>neither you nor your {{ session.divorceWho }} are able to apply for a divorce in any other country</li>
      <li>it would be in the interests of justice for the court to consider the application (for example, this may apply if you or your {{ session.divorceWho }}'s home country doesn’t allow divorce between same-sex couples).</li>
    </ul>
        <p class="text">
        However, residual jurisdiction can be more complex. If you’re not sure if this might apply to you, you should get legal advice.
    </p>

    </div>
  </details>

{% if session.jurisdiction.numConditions > 2 %}<h3 class="heading-medium">Do you want to change your answers?</h3>
    {% else %}<h3 class="heading-medium">Do you want to add more connections to England and Wales ?</h3> {% endif %}

<p class="text">
    {% if session.jurisdiction.numConditions > 2 %}
        You only need to do this if your {{ petsHusbandOrWife() }} may disagree with these connections.
        {% else %}
        You only need to do this if your {{ petsHusbandOrWife() }} may disagree that both of you are ‘habitually resident’.
    {% endif %}
</p>

<!-- <ul class="list list-bullet text">
    <li>you’re not sure that both of you are habitually resident</li>
    <li>your husband may disagree that either of you are habitually resident</li>
</ul> -->
<div class="form-group">
    <fieldset>
      <legend class="visually-hidden">Do you want to add more connections to England and Wales?
    </legend>

    <div class="multiple-choice">
        <input id="addMore-no" type="radio"
               name="addMoreInterstitial" value="No" {{ checked(session.jurisdiction.addMore, 'No') }}>
       <label for="addMore-no"> I’m confident {% if session.jurisdiction.numConditions > 2 %}these connections are{% else %}that connection is{% endif %} right
      </label>
    </div>

    <div class="multiple-choice" data-target="add-more-yes">
        <input id="addMore-yes" type="radio"
               name="addMoreInterstitial" value="Yes" {{ checked(session.jurisdiction.addMore, 'Yes') }}>
        <label for="addMore-yes">{% if session.jurisdiction.numConditions > 2 %}I'm still not sure, and I want to change my answers
        {% else %}I'm not sure, and I want to provide more connections {% endif %}</label>
    </div>
    </fieldset>
</div>
{% if session.jurisdiction.numConditions > 2 %}
<p class="text">
<a href="last-resort">Show me all the connections, I'll choose myself</a>
</p>
{% endif %}

{% endblock %}
