{% extends "question.html" %}

{% block question %}
Do you believe your {{ petsHusbandOrWife() }} considers England or Wales to be their permanent home?
{% endblock %}

{% block form %}

<p class="text">
  Permanent home means that your {{ petsHusbandOrWife() }} has some lasting connection, for example they were been born in
  England or Wales or became a
  citizen. They may be living abroad, but plan to return to England or Wales in the future.
</p>
<p>
  For legal purposes this means that they are 'domiciled' here.
</p>

<fieldset class="form-group inline">
  <label class="block-label">
    <input
        id="permanent-yes"
        name="permanent"
        type="radio"
        value="Yes"
        {{ checked(session.jurisdiction.respondentPermanentHome, 'Yes') }}
    >
    Yes
  </label>

  <label class="block-label">
    <input
        id="permanent-no"
        name="permanent"
        type="radio"
        value="No"
        {{ checked(session.jurisdiction.respondentPermanentHome, 'No') }}
    >
    No
  </label>
</fieldset>
{% endblock %}
