{% extends "question.html" %}
{% set question = 'Have you been living in England or Wales for the last 6 months?' %}

{% block question %}
{{ question }}
{% endblock %}

{% block form %}

<fieldset class="form-group inline">
  <legend class="visually-hidden"> {{ question }}</legend>
  <label for="last-6-months-yes" class="block-label">
    <input id="last-6-months-yes"
           type="radio"
           name="last6Months"
           value="Yes" {{ checked(session.jurisdiction.last6Months, 'Yes') }}>
    Yes
  </label>

  <label for="last-6-months-no" class="block-label" data-target="last-6-months">
    <input id="last-6-months-no"
           type="radio"
           name="last6Months"
           value="No" {{ checked(session.jurisdiction.last6Months, 'No') }}>
    No
  </label>
</fieldset>
{% if askSixMonths %}
<div id="last-6-months" class="js-hidden panel">
  <fieldset class="form-group inline">
    <legend class="form-label-bold">Have you been living in England or Wales for the last 6 months?</legend>
    <label for="last-6-months-yes" class="block-label">
      <input id="last-6-months-yes" type="radio"
             name="last6Months" value="Yes">
      Yes
    </label>

    <label for="last-6-months-no" class="block-label">
      <input id="last-6-months-no"
             type="radio"
             name="last6Months"
             value="No" {{ checked(session.certificate.church, 'No') }}>
      No
    </label>
  </fieldset>
</div>
{%endif%}

{% endblock %}

