{% extends "question.html" %}

{% block question %}
How are you legally connected to England and Wales?
{% endblock %}

{% block form %}


<p>You must have at least one of the following legal connections for your divorce to fall within the jurisdiction of a court in England and Wales.</p>

<p>If you're not sure how you're legally connected, you should get legal advice.</p>


<details>
  <summary>
    <span class="summary">Read more about your connections</span>
  </summary>
  <div class="panel panel-border-narrow">

    <H3 class="heading-medium">Habitual residence</h3>

     <p class="text">
      If your lives are mainly based in England or Wales then you're what is legally known as 'habitually resident'. </p>
      <p class="text">
        This may include working, owning property, having children in school, and your main family life taking place in England or Wales.
      </p>
      <p class="text">
        These examples aren't a complete list of what makes up habitual residence, and just because some of them apply to you doesn’t mean you’re habitually resident. If you’re not sure, you should get legal advice.
      </p>

      <H3 class="heading-medium">Domicile</h3>
        
        <p class="text">
          Your domicile is usually the place in which you were born, regard as your permanent home and to which you have the closest ties.
        </p>
        <p class="text">
          However, domicile can be more complex if you or your parents have moved countries in the past. 
        </p>
        <p class="text">
          When you're born, you acquire a <strong class="bold-small">domicile of origin</strong>. This is usually:
        </p>
        <ul class="list-bullet list">
          <li>
            the country your father considered his permanent home if your parents were married
          </li>
          <li>
            the country your mother considered her permanent home if your parents were unmarried, or your father had died
          </li>
        </ul>
        <p class="text">
          If you leave your domicile of origin and settle in another country as an adult, the new country may become your <strong class="bold-small">domicile of choice</strong>.
        </p>
        <p class="text">
          If you're not sure about your domicile you should get legal advice.
        </p>

        <H3 class="heading-medium">Residual jurisdiction</h3>

         <p class="text">
          The court may have residual jurisdiction if none of the other connections apply, and both of the following are true:
        </p>

        <ul class="list-bullet list">
          <li>either you or your {{ session.divorceWho }} are domiciled in England or Wales</li>
          <li>neither you nor your {{ session.divorceWho }} are able to apply (on the basis of your nationality or residence) for a divorce in another member state of the EU</li>
        </ul>

        <p class="text">In addition, if you're married to a person of the same sex, the court may have residual jurisdiction if all the following apply:</p>

        <ul class="list-bullet list">
          <li>you and your {{ session.divorceWho }} married each other in England or Wales</li>
          <li>neither you nor your {{ session.divorceWho }} are able to apply for a divorce in any other country</li>
          <li>it would be in the interests of justice for the court to consider the application (for example, this may apply if you or your {{ session.divorceWho }}'s home country doesn’t allow divorce between same-sex couples).</li>
        </ul>

        <p class="text">
          However, residual jurisdiction can be more complex. If you’re not sure if this might apply to you, you should get legal advice.
        </p>

      </div>
    </details>

    <h2 class="heading-medium">Select which connections apply:  </h2>
    <fieldset class="form-group">
      <div class="multiple-choice">
        <input id="a"
        type="checkbox"
        name="conditionA"
        value="Yes" {% if conditions.a == "Yes" %} checked {% endif %}>
        <label class="form-label-bold block-label"
        for="a"><span class="font-small">
        My {{ petsHusbandOrWife() }} and I are both habitually resident in England or Wales                                       
      </span>
    </label>
  </div>
  <div class="multiple-choice">
    <input id="b"
    type="checkbox"
    name="conditionB"
    value="Yes" {% if conditions.b == "Yes" %} checked {% endif %}>
    <label class="form-label-bold block-label"  for="b">     <span class="font-small">
      My {{ petsHusbandOrWife() }} and I were last habitually resident in England or Wales and 
      {% if session.jurisdiction.howLongHasPetLivedHere == "" %} one of us still lives there.</li>
      {% else %}
                    <!-- If the petitioner has said they are not living here, then they will not be eligible to be the 
                    'one' referred to in this question who still lives here.
                    However, the respondent could possibly be the 'one of us' who still lives here.-->
                    {% if session.jurisdiction.howLongHasPetLivedHere == "notLivingHere" %} my {{ petsHusbandOrWife() }} still lives there.</li>
                    {% else %} I still live there.</li>
                    {% endif %}
                    {% endif %}
                  </span></label>
                </div>
                <div class="multiple-choice">
                  <input id="c"
                  type="checkbox"
                  name="conditionC"
                  value="Yes" {% if conditions.c == "Yes" %} checked {% endif %}>
                  <label class="form-label-bold block-label"
                  for="c"> <span class="font-small">
                  My {{ petsHusbandOrWife() }} is habitually resident in England or Wales

                </span>
              </label>
            </div>
            <div class="multiple-choice">
              
              <input id="d"
              type="checkbox"
              name="conditionD"
              value="Yes" {% if conditions.d == "Yes" %} checked {% endif %}>
              <label class="form-label-bold block-label"
              for="d"><span class="font-small">
              I'm habitually resident in England or Wales and have lived here for at least a year
            </span>
          </label>
        </div>
        <div class="multiple-choice">
          
          <input id="e"
          type="checkbox"
          name="conditionE"
          value="Yes" {% if conditions.e == "Yes" %} checked {% endif %}>
          <label class="form-label-bold block-label"
          for="e">  <span class="font-small">
          I'm domiciled and habitually resident in England or Wales and have lived here for at least six months
        </span>
      </label>
    </div>
    <div class="multiple-choice">
     
      <input id="f"
      type="checkbox"
      name="conditionF"
      value="Yes" {% if conditions.f == "Yes"%} checked {% endif %}>
      <label class="form-label-bold block-label"
      for="f"> <span class="font-small">
      My {{ petsHusbandOrWife() }} and I are both domiciled in England or Wales
    </span>
  </label>
</div>
<div class="multiple-choice">
  
  <input id="g"
  type="checkbox"
  name="conditionG"
  value="Yes" {% if conditions.g == "Yes" %} checked {% endif %}>
  <label class="form-label-bold block-label"
  for="g">        <span class="font-small">
  I believe the courts of England and Wales have jurisdiction on a residual basis
</span>
</label>
</div>
</fieldset>

{% endblock %}
