{% extends "question.html" %}

{% block question %}
Were you both last habitually resident in England or Wales and does one of you still live there?
{% endblock %}

{% block form %}

<p class="text">
This means that England or Wales were the last countries in which your and your {{ petsHusbandOrWife() }}‘s lives were mainly based at the same time. You don’t necessarily need to have been a couple at the time. One of you must still live there.</p>

<details>
    <summary>
    <span class="summary font-small">Find out more about habitual residence</span>
    </summary>
    <div class="panel panel-border-narrow font-small text"> 
        <p class="text">
        If your lives are mainly based in England or Wales then you're what is legally known as 'habitually resident'. </p>
        <p class="text">
          This may include working, owning property, having children in school, and your main family life taking place in England or Wales.
        </p>
        <p class="text">
        The examples above aren't a complete list of what makes up habitual residence, and just because some of them apply to you doesn’t mean you’re habitually resident. If you’re not sure, you should get legal advice.
        </p>
    </div>
</details>

<fieldset class="form-group inline">
  <label class="block-label">
    <input id="yes" name="last-hr" type="radio" value="Yes" {{ 'checked' if last-hr}} >
    Yes
  </label>

  <label class="block-label">
    <input id="no" name="last-hr" type="radio" value="No" {{ 'checked' if not last-hr}}>
    No
  </label>
</fieldset>

{% endblock %}
