{% extends "question.html" %}

{% block question %}
Where is your permanent home?
{% endblock %}

{% block form %}

<fieldset class="form-group inline">
  <p class="form-label-bold">Do you consider England or Wales to be your permanent home?</p>
  <label class="block-label">
    <input id="petitioner-yes" name="petitioner" type="radio" value="Yes">
    Yes
  </label>

  <label class="block-label">
    <input id="petitioner-no" name="petitioner" type="radio" value="No">
    No
  </label>
</fieldset>

<fieldset class="form-group inline">
  <p class="form-label-bold">Does your husband/wife consider England or Wales to be their permanent home?</p>
  <label class="block-label">
    <input id="respondent-yes" name="respondent" type="radio" value="Yes">
    Yes
  </label>

  <label class="block-label">
    <input id="respondent-no" name="respondent" type="radio" value="No">
    No
  </label>
</fieldset>

{% endblock %}
