{% extends "question.html" %}

{% block question %}
Are you and your husband 'habitually resident' in England and Wales?
{% endblock %}

{% block form %}

<p class="text">
  'Habitual residence' means that you consider England and Wales to be your home. You're settled here and spend most of
  your life here either in work, education, or with your family.
</p>

<p class="text">
  If you both have 'habitual residence' in England and Wales you can use the courts here to get a divorce.</p>

<p class="text">
  There are other ways of falling within the courts jurisdiction however. You can strengten your case for jurisdiction
  if you want to and present more connections to England and Wales.
</p>

<fieldset class="form-group inline">
  <label for="respondentAddress-yes" class="block-label">
    <input id="respondentAddress-yes" type="radio"
           name="respondentAddress" value="Yes" {{ checked(session.respondent.haveRespondentAdress, 'Yes') }}>
    Yes
  </label>

  <label for="respondentAddress-no" class="block-label">
    <input id="respondentAddress-no" type="radio"
           name="respondentAddress" value="No" {{ checked(session.respondent.haveRespondentAdress, 'No') }}>
    No
  </label>
</fieldset>

{% endblock %}
