{% extends "question.html" %}

{% block question %}
Have you and your {{ petsHusbandOrWife() }}  always lived in England and Wales?
{% endblock %}

{% block form %}

<p class="text">
  In other words, you were born in England and Wales, have always lived here, and intend to stay here.
</p>

<fieldset class="form-group inline">
  <label for="respondentAddress-yes" class="block-label">
    <input id="respondentAddress-yes" type="radio"
           name="respondentAddress" value="Yes" {{ checked(session.respondent.haveRespondentAdress, 'Yes') }}>
    Yes
  </label>

  <label for="respondentAddress-no" class="block-label">
    <input id="respondentAddress-no" type="radio"
           name="respondentAddress" value="No" {{ checked(session.respondent.haveRespondentAdress, 'No') }}>
    No
  </label>
</fieldset>

{% endblock %}
