{% extends "question.html" %}

{% block question %}
How is your {{ petsHusbandOrWife() }} connected to England and Wales?
{% endblock %}

{% block form %}

<div class="text">

  <p class='text'>
    The court needs to understand how your {{ petsHusbandOrWife() }} is connected to England and Wales to decide whether you can get a divorce here.
  </p>

  <p class='text'>
    For example whether they're 'habitual resident' and/or 'domiciled'.
  </p>

  <details>
    <summary>
      <span class="summary font-small">Help with habitual residence and domicile</span>
    </summary>
    <div class="panel panel-border-narrow font-small text">
     
      <p class="bold-small">Habitual residence</p>
     <p class="text">
        Your habitual residence is the place in which your life is mainly based. You must be settled there and intend to stay settled there. For example, you work there, own property, have your children in school there, and your main family life takes place there.
      </p>

      <p class="bold-small">Domicile</p>
      <p class="text">
        Your domicile is the main permanent home in which you live, or to which you intend to return. When you were born you will have acquired your parents' domicile (either your father's if they were married, or your mother's if they weren’t married or if your father died before you were born). If you have since moved to another country and made that your permanent home then your domicile may have moved there.
      </p>

    </div>
  </details>

  <fieldset class="form-group">
    <legend class="form-label-bold">Select the statement which you believe applies to your {{ petsHusbandOrWife() }}:
    </legend>
    <br>

    <label class="form-label-bold block-label"
           for="both">
      <input id="both"
             type="radio"
             name="respondentConnection"
             value="HRD">

      <strong class="bold-small">Your {{ petsHusbandOrWife() }} is habitually resident and domiciled</strong>
      <br>
      <span class="font-small">    
        Your {{ petsHusbandOrWife() }}'s life is mainly based in England and Wales, and they consider it to be their permanent home
      </span>
    </label>

    <p class="bold-small">Or</p>

    <label class="form-label-bold block-label"
           for="HR">
      <input id="HR"
             type="radio"
             name="respondentConnection"
             value="HR">

      <strong class="bold-small">Your {{ petsHusbandOrWife() }} is habitually resident</strong>
      <br>
      <span class="font-small">     
           Your {{ petsHusbandOrWife() }}'s life is mainly based in England and Wales, but they don't consider it to be their permanent home

      </span>
    </label>

    <label class="form-label-bold block-label"
           for="domiciledOnly" data-target="separation-2-years-warning">
      <input id="domiciledOnly"
             type="radio"
             name="respondentConnection"
             value="domiciledOnly">

      <strong class="bold-small">Your {{ petsHusbandOrWife() }} is domiciled</strong>
      <br>
      <span class="font-small">
          Your {{ petsHusbandOrWife() }} considers England and Wales to be their permanent home, but their life is mainly based elsewhere
      </span>
    </label>

    <label class="form-label-bold block-label"
           for="neither">
      <input id="neither"
             type="radio"
             name="respondentConnection"
             value="neither">

      <strong class="bold-small">Your {{ petsHusbandOrWife() }} is neither habitually resident or domiciled</strong>
        <span class="font-small"><br>
        Your {{ petsHusbandOrWife() }}'s life is mainly based elsewhere and they don't consider England and Wales to be their permanent home
        </span>
    </label>


  </fieldset>
</div>
{% endblock %}
