{% extends "question.html" %}

{% block question %}
Do you consider England or Wales to be your permanent home?
{% endblock %}

{% block form %}

<p class="text">
  Permanent home means that you have some lasting connection, for example you were been born in England or Wales or
  became a
  citizen. You may be living abroad, but plan to return to England or Wales in the future.
</p>
<p>
  For legal purposes this means that you are 'domiciled' here.
</p>

<fieldset class="form-group inline">
  <label class="block-label">
    <input
        id="permanent-yes"
        name="permanent"
        type="radio"
        value="Yes"
        {{ checked(session.jurisdiction.petitionerPermanentHome, 'Yes') }}
    >
    Yes
  </label>

  <label class="block-label">
    <input
        id="permanent-no"
        name="permanent"
        type="radio"
        value="No"
        {{ checked(session.jurisdiction.petitionerPermanentHome, 'No') }}
    >
    No
  </label>
</fieldset>

{% endblock %}
