{% extends "question.html" %}


{% block question %}
Do you admit to the adultery?
{% endblock %}



{% block form %}


 <p class="text">
 The applicant provided the following details.
</p>

    <h3 class="heading-small">Where the adultery took place</h3>

    <p class="text">
      "At a travelodge in Doncaster"
    </p>

    <h3 class="heading-small">When the adultery took place</h3>

    <p class="text">
      "New years eve 2017"
    </p>

    <h3 class="heading-small">Description of the adultery</h3>

    <p class="text">
      "I received several messages that night from Melissa Hardy boasting that she was with my husband and that they were having an affair. I confronted him about it the next day and he confessed and moved out of the house. We haven’t spoken since that day. I can provide text messages from both my Husband and Melissa Hardy confessing to the adultery."
    </p>

<details>

  <summary><span class="summary">How your answer will affect the divorce</span></summary>

  <div class="panel panel-border-narrow">

<p>
    The court will take your answer into account in its judgement on whether the adultery took place, and therefore whether there are grounds for divorce. 
</p>

<p>
  You don’t have to admit to the adultery if you don’t want to. You can allow the divorce to proceed (not ‘defend’ it) and not admit to the adultery.
</p>


<h3 class="heading-small">If the applicant has claimed the divorce costs</h3>

<p>
  In divorces based on adultery, the applicant can also claim the costs from the person who allegedly committed adultery with the respondent (known as the co-respondent).
</p>

<p>
  The applicant's costs usually include the £550 fee. They could also include other court fees and costs. The costs could be much higher if the applicant has legal fees (eg a solicitor) and these are also included.
</p>

<p>
   You may be liable to pay the costs regardless of whether or not you admit to the adultery. However, if you do admit to it and the applicant relies on it being proof that the adultery took place, then this may result in an order for costs being made against you. You should speak to a solicitor if you aren’t sure how to respond.
</p>

<p>
 You will have a chance to respond to the costs claim later in this application. If you object to paying the costs you'll need to provide a reason for not paying them, and may need to attend a hearing to present your case.
</p>



  </div>

</details>

  <div class="form-group">
    <fieldset>
      <legend class="visually-hidden">{{ question }}</legend>
      <div class="multiple-choice">
        <input id="admit-yes" type="radio"
               name="admitAdultery" value="Yes" {{ checked(session.aos.admitAdultery, 'Yes') }}>
        <label for="admit-yes">Yes, I admit to the adultery</label>
      </div>
      <div class="multiple-choice" data-target="admit-no">
      
        <input id="admit-no" type="radio"
               name="admitAdultery" value="No" {{ checked(session.aos.admitAdultery, 'No') }}>
        <label for="admit-no">No, I do not admit to the adultery</label>
      </div>
    </fieldset>
  </div>
<div id="admit-no" class="form-group panel js-hidden" >


	<label class="form-label-bold" for="case-details-textarea">
			Provide details about why you do not admit to the adultery.
	</label>
<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</div>

  

{% endblock %}
