{% extends "question.html" %}


{% block question %}

Confirm that you intend to defend the divorce
{% endblock %}

{% block form %}

 <p class="text">
    You'll need to submit another form (known as the 'answer') with your reason for defending the divorce.   You'll also have to pay another £245 fee. You may also have to go to a hearing with a judge.
  </p>


<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You should get legal advice if you're not sure.
  </strong>
</div>

<br>

<details>
  <summary><span class="summary">Read more about defending</span></summary>
  <div class="panel panel-border-narrow">

  <p class="text">
    You have 28 days to submit your answer from the date you first signed into the divorce account. 
</p>

   <p class="text">
    If you don't submit the answer by the deadline, the divorce will usually continue as if you didn't defend it.
  </p>

  
</div>
</details>

<br>

<div class="form-group">
  <fieldset>
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="continue-yes" type="radio"
      name="defend" value="Yes" {{ checked(session.aos.defend, 'Yes') }}>
      <label for="continue-yes">I confirm that I intend to defend the divorce</label>
    </div>
    <div class="multiple-choice">

      <input id="continue-no" type="radio"
      name="defend" value="No" {{ checked(session.aos.defend, 'No') }}>
      <label for="continue-no">I want to change my response</label>
    </div>
  </fieldset>
</div>





{% endblock %}
