{% extends "question.html" %}
{% block question %}
Other legal proceedings outside of England and Wales
{{ question }}
{% endblock %}

{% block form %}


<p class="text">
	The court needs to know if there are currently any legal proceedings in a court, tribunal or other authority which are either:
</p>

<ul class="bullet list-bullet">
	<li>related to the marriage</li> 
	<li>may affect its validity (how legally binding the marriage is)</li>
	</ul>

<h3 class="heading-medium">Are there any other legal proceedings the court needs to know about?
</h3>

<div class="form-group">
	<fieldset class="inline">

		<legend class="visually-hidden">{{ question }}</legend>
		<div class="multiple-choice" data-target="case-details">
			<input id="legal-proceedings-yes" type="radio"
						 name="legalProceedings" value="Yes" {{ checked(fields.legalProceedings.value, 'Yes') }}a>
			<label for="legal-proceedings-yes" >Yes</label>
		</div>
		<div class="multiple-choice">
			<input id="legal-proceedings-no" type="radio"
						 name="legalProceedings" value="No" {{ checked(fields.legalProceedings.value, 'No') }}>
			<label for="legal-proceedings-no">No</label>
		</div>
	</fieldset>
</div>

<div id="case-details" class="form-group panel js-hidden">

 <h4 class="heading-small">Provide further details</h4>

<p class="text">
You should try to include:
	</p>

<ul class="list list-bullet">
		<li>case numbers</li>				
<!-- 		<li>if they're still ongoing or if they've finished</li>	
 -->		<li>what they are about</li>
		<li>names of those involved</li>
        <li>name of the court, the tribunal, and/or the authority</li>
        <li>the country it's in</li>
		<li>date that the proceedings began and of any future hearings</li>
<!-- 		<li>details of any orders that were made</li>
 -->
 <li>anything else that might affect the application for divorce</li>
</ul>

	<!-- <label class="form-label-bold" for="case-numbers-textarea">
			Case Numbers
	</label>
<textarea class="form-control" id="case-numbers-textarea" rows="1" name="case-numbers" type="text" style="width: 100%"></textarea>
</br> -->

	<label class="form-label-bold" for="case-details-textarea">
			Details of the court cases
	</label>
<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</div>

{% endblock %}

{% macro reference(refId) %}
<input class="form-control"
			 name="r{{ refId }}"
			 type="text"
			 value="{{ fields[refId].value }}"
			 maxlength="1"
			 title="reference number {{ refId }}">
{% endmacro %}
