{% extends "question.html" %}


{% block question %}
Do you want to continue with your divorce and apply for a 'decree nisi'?
{% endblock %}



{% block form %}

<p class="text">
  A decree nisi is a court order stating that the court will allow you to have a divorce in the future, provided that it isn't given sufficent reason not to grant you one. 
</p>
<p>
  You must turn it into a decree absolute before you are divorced. 
<p>

</p>

  <div class="form-group">
    <fieldset class="inline">
      <legend class="visually-hidden">{{ question }}</legend>
      <div class="multiple-choice">
        <input id="continue-yes" type="radio"
               name="continueWithDivorce" value="Yes" {{ checked(session.continueWithDivorce, 'Yes') }}>
        <label for="continue-yes">Yes</label>
      </div>
      <div class="multiple-choice">
      
        <input id="continue-no" type="radio"
               name="continueWithDivorce" value="No" {{ checked(session.continueWithDivorce, 'No') }}>
        <label for="continue-no">No</label>
      </div>
    </fieldset>
  </div>

  

{% endblock %}
