{% extends "lib/layouts/done.html" %}
{% block heading %}Application complete{% endblock %}
{% block reference_number %}1234 - 5678 - 9012 - 4567{% endblock %}
{% block confirmation_email_address %}zoe1971@gmail.com{% endblock %}
{% block paymentConfirmation %}Your payment has been received. {% endblock %}
{% block progress_list %}
    {{ reformProgressList({
      one: {
      label: "Your " + husbandOrWife() + " applied",
      complete: true
    },
    two: {
    label: "You responded",
    complete: true
    },
    three: {
    label: "The court decides",
    current: true
    },
    four: {
    label: "The divorce is finalised"
    }
    })
    }}
{% endblock %}
{% block whatToDoNow %}
      <h2 class="heading-medium">What to do now</h2>


      <h3 class="heading-small">1. Write your reference number on each document</h3>


      <p class="text">Write your reference number on the back of each of the following:</p>

    <ul class="list list-bullet">
     <li>your original marriage certificate or a certified copy</li>
     <li>proof of your name change, for example a deed poll. Include proof of each change if you've done it more than once since you got married</li>
     <li>an English translation of your marriage certificate</li>
   </ul>


      <h3 class="heading-small">2. Post your documents</h3>

    </ol>

    <p class="text">
      You must send your original marriage certificate or a certified copy. Don't send a photocopy. Your certificate will be kept by the court and won't be returned to you.
    </p>


    <p class"text">
     Post all your documents to:
   </p>

   <ul class="list bold-small">
     <li>East Midlands Regional Divorce Centre</li>
     <li>PO Box 10447</li>
     <li>Nottingham</li>
     <li>NG2 9QN</li>
   </ul>
{% endblock %}
{% block whatNext %}
       <h2 class="heading-medium">What happens next</h2>
       <p class="text">
        Your application will be checked. If it's correct, you'll be sent a notice saying that your application has been issued (sent out). You'll also get a case number and a copy of the application stamped by the divorce centre.
      </p>
    <p class="text">
      Your {{ petsHusbandOrWife() }} will also receive a copy of the application and a form to return. If you have used adultery as your reason for divorce, and named the person that your {{ petsHusbandOrWife() }} committed adultery with, they will also get a copy and a form to return.
    </p>
{% endblock %}

{% block footer %}
       <h2 class="heading-medium">Help us improve this service</h2>

       <p class"text">
         If you haven’t already, please <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/done">provide feedback</a> on what you think of this service and how it can be improved.
      </p>

      <h2 class="heading-medium">If you need help</h2>

      <p class"text">
        You can contact the divorce centre if you need help with your application. Court staff can’t give you legal advice however, and you should speak to a <a href="https://www.gov.uk/find-a-legal-adviser"target="blank">solicitor or legal adviser</a> if you need help with that.
      </p>

      <p class"text">
        Email: eastmidlandsdivorce@hmcts.gsi.gov.uk
        <br>
        Phone: 0115 955 8186
        <br>
        Call between 10:00am to 2:00pm, Monday to Friday 
      </p>

{% endblock %}
{% block guidance %}
    {% embed "lib/partials/sidebar.html" %}
    {% endembed %}
{% endblock %}
