{% extends "question.html" %}

{% set question = 'Do you have access to a printer?' %}

{% block question %}
{{ question }}
{% endblock %}



{% block form %}

<p class="text">
  This service produces a completed divorce application that you'll need to print and post to the court.  
</p>

<div class="panel panel-border-wide">
  <p class="text">
    If you don't have access to a printer now, you can save it as a PDF when you're finished to print later. 
  </p>
</div>


  <fieldset class="form-group inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <label for="has-printer-yes" class="block-label">
      <input id="has-printer-yes" type="radio"
             name="hasPrinter" value="Yes" {{ checked(session.hasPrinter, 'Yes') }}>
      Yes
    </label>

    <label for="has-printer-no" class="block-label">
      <input id="has-printer-no" type="radio"
             name="hasPrinter" value="No" {{ checked(session.hasPrinter, 'No') }}>
      No
    </label>

  </fieldset>


  

{% endblock %}
