{% extends "../onboarding/question.html" %}

{% block question %}
{% endblock %}


{% block para %}
To:
From:
Subject:
<p class="text">

Hello Michael Test Admin,
</p>

<p class="text">An account has been created for you on the Divorce service.
</p>
<p class="text">
To activate the account please click on the link:
<a href="create-password">
https://idam-test.dev.ccidam.reform.hmcts.net/activate?jwt=sdfkj239f2
SKDZFCa2FUrXjzKcIv4kQtAS8SvRHHCJ4tWt0B5bl4q8txNx3mvNJGd
dpRqVKl4ncnrTlISZkaPyW1mDjOvqjPG4BowQTkfDMFG7PkX8eRzFbNj
FznFvMKCbV3

</a>
</p>
<p class="text">After clicking the link you'll need to create a password to use the service.
</p>
<p class="text">
After you have created your password you'll receive another email with a link to sign in to the service.

</p>
<p class="text">
Regards,
</p>
<p class="text">
The Divorce team
{% endblock %}
