{% extends "../onboarding/layoutz.html" %}
{% from "common/errors.html" import errorsFor %}
{% import "common/components/inputComponents.html" as inputComponents %}
{% import "common/components/account.html" as account %}

{% block page_title %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            {% block question %}{% endblock %}
        </h1>
            {% block para %}{% endblock %}
        {% if errors.length > 0 %}
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            There was a problem
          </h1>

          <ul class="error-summary-list">
            {% for error in errors %}
            <li><a href="#{{error.param}}">{{error.msg}}</a></li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}

    </div>
    {% if (session.isLoggedIn == "yes") %}
    <!--{{ account.details(session.petCurrentFirstName, session.petCurrentLastName, session.lastSignIn) }} -->
    {% endif %}
</main>
{% endblock %}
{% macro checked(isChecked, answer) %}
  {%if isChecked == answer %}
    checked
  {% endif %}
{% endmacro %}
