{% extends "layout.html" %}
{% from "../lib/macros/reform-progress-list/macro.njk" import reformProgressList %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_beta.html" %}
	<div class="grid-row">
    <div class="column-two-thirds">

     <div class="govuk-box-highlight">

      <h1 class="bold-large">
        You are now divorced</h1>

        <p class="bold-small">
        Your decree absolute has been granted
        </p>

<p class="text-reference">
          {% if session.paymentMethod == "by-card" %}Your payment has been received.{% endif %} Your reference number is <br>
  <strong class="text-reference-number">{% block reference_number %}1234 - 5678 - 9012 - 4567{% endblock %}</strong>
</p>
      </div>

      <p class="text">
        Email confirmation has been sent to <strong class="bold-small">{% if session.emailAddress %}{{ session.emailAddress }}{% else %}dante-1976@gmail.com{% endif %}</strong>.</p>
      </p>


{{ reformProgressList({
  one: {
  label: "Your " + petsHusbandOrWife() + " applied",
  complete: true
},
two: {
label: "You responded",
complete: true
},
three: {
label: "The court decided",
complete: true
},
four: {
label: "Your divorce is finalised",
complete: true
}
})
}}



<h2 class="heading-medium">Download your decree absolute</h2>

  <p class="text"><a href="/da-stage/documents/decree-absolute-downloaded">Download your decree absolute</a> (PDF 69kb).</p>

   <p class="text">This is the certificate confirming that you're divorced. Keep your certificate safe. You'll need to take a printed copy to the register office if you want to get married again.</p>


      <p class="text">
        Your {{ petsHusbandOrWife() }} has been sent an email telling them how to download the decree absolute.</p>
      </p>
    
<!--         <h2 class="heading-medium">Your other documents</h2>

        <p class="text">
          You may also want to download:
        </p>

        <ul class="list list-bullet">
         <li><a href="/da-stage/documents/decree-absolute-downloaded">your costs order</a> (PDF 10KB, 1 page)</li>
         <li><a href="/da-stage/documents/decree-absolute-downloaded">your decree nisi</a> (PDF 10KB, 1 page)</li>
         <li><a href="/da-stage/documents/decree-absolute-downloaded">your certificate of entitlement </a> (PDF 10KB, 1 page)</li>
       </ul>
 -->        
        <h2 class="heading-medium">Your documents will be available here for one year</h2>

        <p class="text">
          Your account will then be closed. If you need a certified copy after that, you'll need to apply to the general register office and pay a fee. 
        </p>



                    
            <form method="POST" accept-charset="utf-8" class="form" id="form" enctype="application/x-www-form-urlencoded">

                <!-- <p>
                    Download your copy
                </p>


                <div class="form-group">
                    <input type="submit" class="button" value="Download">
                </div>

              </form> -->

            </form></div>
            <div class="column-third">
    {% embed "lib/partials/sidebar.html" %}
    {% endembed %}
            </div>
    {% include "report-error.html" %}

          </main>

          {% endblock %}
