{% extends "exit.html" %}

{% block heading %}
You will need to attend a hearing


{% endblock %}

{% block exit_reason %}


<p class="text">
    Your application for a decree absolute has been sent to the court. 
</p>

<p class="text">
    You and your {{ respsHusbandOrWife() }} will need to attend a hearing where a judge will make a decision on the divorce. Your {{ respsHusbandOrWife() }} will need to explain why they haven’t applied for the decree absolute
</p>

<p class="text">
    The court will contact you with the date and address of the hearing.
</p>



<p class="text">
    <a href="/IDAM/login?continue_url=/progress-bar/undefended">Sign in</a> to return to the application.
</p>

<!-- <p class="text">
    Your progress has not been saved.
</p> -->

<!-- <p class="text">
	Your progress will be saved for 6 months. A link to your application has been sent to 


      
        <strong class="bold-small">
            {% if session.emailAddress %}
            {{ session.emailAddress }}
            {% else %}
                zoe.elizabeth.dante@gmail.com
            {% endif %}
        </strong>.
  </p> -->



<!-- 
	<p class="text">
	If you need help with this service you can call or email us.<br>
	Phone: 0300 303 0642 (Monday to Friday, 8.30am to 5pm)<br>
	Email: divorce@justice.gov.uk<br>
</p> -->





</form>
{% endblock %}
