{% extends "question.html" %}


{% block question %}
Paying for the divorce
{% endblock %}



{% block form %}

<p class="text">
  Your {{ respsHusbandOrWife() }} askffed the court that you 
  {% if session.claimCosts.claimFromCoRespondent == "Yes" %}
  and the co-respondent
  {% endif %}
  pay some or all of the costs of the divorce. This could include the £550 fee, other court fees and a reasonable amount of legal costs and expenses. 
</p>


<p class="text">
  It is up to the court to decide how the costs will be split, but it will take into account any requests you and your {{ respsHusbandOrWife() }}  make.
</p>

<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    A costs order will only cover the divorce costs, and won't include any costs related to financial settlements.
  </strong>
</div>


<br>
<details {{ query.costsOrderHelp }} >
  <a id="costsOrderHelp"></a>
  <summary><span class="summary">Read more about costs orders</span></summary>
  <div class="panel panel-border-narrow">

   <!--  <h3 class="heading-small">How much you may have to pay</h3>

    <p class="text">
      The applicant's costs usually include the £550 fee. They could also include other court fees and costs. The costs could be much higher if your {{ respsHusbandOrWife() }} has legal fees (eg a solicitor) and these are also included in the order.
    </p> -->

    <p class="text">
      It's up to the court to decide how the costs will be split, but it will usually split the costs as follows (unless your {{ respsHusbandOrWife() }} accepts half the costs, or you provide a good enough reason to not pay anything).
    </p>

    <h3 class="heading-small">2 years separation with consent</h3>

    <p class="text">
     The court will usually make an order that the respondent pay half of the applicant's costs.
   </p>

   <h3 class="heading-small">5 years separation</h3>

   <p class="text">
    The court usually won't make a costs order. However, it could order the respondent to pay costs under some circumstances.
  </p>

  <h3 class="heading-small">Behaviour, adultery, and desertion</h3>
  <p class="text">
    The court will usually order the respondent to pay all of the applicant's costs, unless the applicant has asked for less. If the court decides that the respondent should also pay the applicant's legal costs, it will usually order that the respondent only pay what it judges to be a reasonable amount of these. However, under certain circumstances it could order you to pay more and the costs could be significantly higher.
  </p>


    <!-- <p class="text">
      How the court usually splits the costs:
    </p>

    <ul class="list-bullet list">
      <li> In divorces based on 2 years separation, the court will usually make an order that the respondent pay half of the applicant's costs.
      </li>
      <li>
        In divorces based on 5 years separation, the court usually won't make a costs order. However, it could order the respondent to pay costs under some circumstances.
      </li>
      <li>
        In divorces based on behaviour, adultery, or desertion the court will usually order the respondent to pay all of the applicant's costs, unless the applicant has asked for less. If the court decides that the respondent should also pay the applicant's legal costs, it will usually order the respondent only pay what it judges to be a reasonable amount of these. However, under certain circumstances it could order you to pay more.
      </li>
    </ul> -->

    <h3 class="heading-small">What happens now</h3>

    <p>
      Your response will be sent to your {{ respsHusbandOrWife() }}. They'll be asked to confirm that they want to claim their costs. If you suggest paying half the costs they'll be given the opportunity to accept this.
   </p> 

   <p>
     The court will take all your circumstances into account when it makes its decision, including your conduct, and your {{ respsHusbandOrWife() }}'s conduct, before and during the divorce.
   </p>

   <p>
    You'll be given the court's decision at the same time as you find out if the divorce will be granted.
  </p>

  <h3 class="heading-small">Objecting to a costs order</h3>

  <p>
   After it's been made, you can dispute the costs order if you don't think that you should pay it. You'll need to send a letter to the court stating why you don't think you should pay at least 14 days before the hearing.
  </p>


</div>
</details>



<h2 class="heading-medium">Do you agree to pay the costs?</h2>
<div class="form-group">
  <fieldset>
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="yes" type="radio"
      name="respAgreesToPayCosts" value="Yes" {{ checked(session.claimCosts.respAgreesToPayCosts, 'Yes') }}>
      <label for="yes">I agree to pay the costs</label>
    </div>
    {% if (not session.adultery.wishToName) or (session.adultery.wishToName == "No") %}
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="yes" type="radio"
      name="respAgreesToPayCosts" value="Half" {{ checked(session.claimCosts.respAgreesToPayCosts, 'Half') }}>
      <label for="yes">I suggest I pay half the costs (50%)</label>
    </div>
    {% endif %}
     <!-- 
      <div class="multiple-choice" data-target="other-details">
        <input id="other" type="radio"
               name="respAgreesToPayCosts" value="Other" {{ checked(session.claimCosts.respAgreesToPayCosts, 'Other') }}>
        <label for="other">I suggest I pay a specific amount</label>
      </div>
        <div id="other-details" class="form-group js-hidden panel" >
            <div class="form-group">
            <label class="form-label-bold" for="otherAmount">Enter amount</label>
            <span style="padding-right:6px;">£</span><input class="form-control" id="otherAmount" type="text" name="otherAmount">
            </div>
            <div class="form-group">
            <label class="form-label-bold" for="otherDetails">
                Provide brief details of why you want to pay this much
            </label>
            <textarea class="form-control form-control-3-4" id="otherDetails" rows="4" name="otherDetails" type="text"></textarea>
            </div>
        </div>
      -->
      <div class="multiple-choice" data-target="no-reason">

        <input id="continue-no" type="radio"
        name="respAgreesToPayCosts" value="No" {{ checked(session.respAgreesToPayCosts, 'No') }}>
        <label for="continue-no">I should not pay any costs, and will give my reasons</label>
      </div>

      <div id="no-reason" class="form-group js-hidden panel" >
        <label class="form-label-bold" for="noDetails">
          Provide a brief explanation of why you should not pay     </label>
          <textarea class="form-control form-control-3-4" id="noDetails" rows="4" name="noDetails" type="text"></textarea>
        </div>
      </fieldset>
    </div>


    {% endblock %}
