{% extends "layout.html" %}

{% block content %}
<main id="content" class="check-your-answers" role="main">

  <h1 class="heading-large">
    Check your answers
  </h1>

  <table>
    <tbody>
      <h2 class="heading-medium"></h2>
      <tr>
        <tr>
          <td>
            Confirm that you have read your husband/wife's application
          </td>
          <td>I confirm that I've read it</td>
          <td><a class="link" href="">Change </a></td>
        </tr>
        <tr>
          <td>
            Do you agree with your connections to England and Wales?
          </td>
          <td>Yes</td>
          <td><a class="link" href="">Change </a></td>
        </tr>
        <tr>
          <td>
            Have you ever been involved in any court cases relating to your marriage, property or children?
          </td>
          <td>No</td>
          <td><a class="link" href="">Change </a></td>
        </tr>
        <tr>
          <td>
How do you want to respond?          </td>
          <td>I agree with what the applicant said, and won't try to prevent the divorce</td>
          <td><a class="link" href="">Change </a></td>
        </tr>
        {% if session.ClaimCosts.claim == "Yes" %}
        <tr>
          <td>
Do you agree to paying the costs of the divorce?

          </td>
          <td>Yes, I agree to pay 50% of the costs</td>
          <td><a class="link" href="">Change </a></td>
        </tr>
        {% endif %}
      
      </tbody>
    </table>
    <br />
    <div class="column-three-thirds" style="padding: 15 0px">
      <form method="POST" accept-charset="utf-8" class="form">
        <h1 class="heading-large">
          Confirm the following
        </h1>

        <div class="column-three-thirds" style="padding: 15 0px">
          <form method="POST" accept-charset="utf-8" class="form">
            <p>You could be fined or imprisoned for contempt of court if you deliberately submit false information.</p>
            <div class="form-group confirmation-container">
              <div class="multiple-choice">
                <input id="confirm" type="checkbox" name="confirm"> 
                <label for="confirm">I confirm that:</label>
              </div>
              <ul class="list list-bullet">
                <li>
                  I am the person named as the respondent in the application for divorce. 
                </li>
                <li>I believe that the facts stated in this response are true.</li>
                <!--                   <li>My {{ respsHusbandOrWife() }}'s signature appears on the response to my divorce application.</li> -->
              </ul>

              <br>
              <details>

                <summary><span class="summary">What these statements are</span></summary>

                <div class="panel panel-border-narrow">

                  <p>
                    The first statement is your confirmation that you're the person who should be responding to this application for divorce. The second is your statement of truth.
                  </p>

                </div>

              </details>



            </div>
          </div> 

          <div class="form-group">
            <input type="submit" class="button" value="Submit">
          </form>
        </div>
      </main>
      {% endblock %}
