{% extends "question.html" %}


{% block question %}
Confirm that you want to make your own application for divorce
{% endblock %}



{% block form %}


<p class="text">
    You'll need to pay £245 to submit your 'answer' to this application and another £550 to submit your own application. 
  </p>

<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You should get legal advice if you're not sure. Your divorce will take longer and cost more if you make your own application.
  </strong>
</div>

<br>

<p class="text">
  You and your {{ respsHusbandOrWife() }} will usually have to go to a court hearing where a judge will make a decision.
</p>

<div class="form-group">
  <fieldset>
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="continue-yes" type="radio"
      name="continueWithDefence" value="Yes" {{ checked(session.continueWithDefence, 'Yes') }}>

      <label for="continue-yes">I confirm that I want to make my own divorce application</label>
       
    </div>
    <div class="multiple-choice">

      <input id="continue-no" type="radio"
      name="continueWithDefence" value="No" {{ checked(session.continueWithDefence, 'No') }}>
      <label for="continue-no">I want to change my response</label>
    </div>
  </fieldset>
</div>



{% endblock %}
