{% extends "question.html" %}


{% block question %}
Are you defending the divorce as it would cause you severe hardship?
{% endblock %}



{% block form %}

  <p class="text">
    As your {{ respsHusbandOrWife() }} used 5 years separation as the reason for divorce, you can defend it on the basis that it will cause you severe hardship.
  </p>

  <p class="text">
    The hardship could be financial (for example, you'll lose your rights to a widow's pension) or another type of hardship (for example, you'll be stigmatized for cultural or religious reasons).
  </p>

<details>
  <summary><span class="summary">Read more about hardship</span></summary>
  <div class="panel panel-border-narrow">

  <p>
    You'll need to convince the court that the hardship will be severe.
  </p>

  <p>
    The court will take your and your husband's individual circumstances and interests into acccount. It will also take into account the needs of any children if you have any, and anyone else who would be affected by a divorce.
  </p>

  <p>
    Severe hardship is rarely used as a defence against divorce, and it's even rarer for the court to reject a divorce application because of it.
  </p>

  <p>
    You'll need to make your case for hardship in another form (called the 'answer') within 21 days of first signing in to respond to the divorce application.. You'll also have to pay another £245 fee.
  </p>

</div>
</details>


  <div class="form-group">
    <fieldset class="inline">
      <legend class="visually-hidden">{{ question }}</legend>
      <div class="multiple-choice" data-target="hardship">
        <input id="hardship-yes" type="radio"
               name="hardship" value="Yes" {{ checked(session.aos.defendFinancialHardship, 'Yes') }}>
        <label for="hardship-yes">Yes</label>
      </div>
      <div class="multiple-choice">
      
        <input id="continue-no" type="radio"
               name="hardship" value="No" {{ checked(session.aos.defendFinancialHardship, 'No') }}>
        <label for="continue-no">No</label>
      </div>
    </fieldset>
  </div>

<div id="hardship" class="form-group panel js-hidden">

 <h4 class="heading-small">How will the divorce cause you severe hardship?</h4>

<textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</div>


  

{% endblock %}
