{% extends "question.html" %}


{% block question %}

Confirm that you intend to defend the divorce
{% endblock %}

{% block form %}

<p class="text">
  You'l have to pay a fee and complete another form to defend the divorce. You both may have to attend a hearing where a judge will decide if the divorce should be granted.
  </p>

<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You should get legal advice if you're not sure.
  </strong>
</div>

<br>

<details>
  <summary><span class="summary">Read more about defending</span></summary>
  <div class="panel panel-border-narrow">

  <h2 class="heading-small">If you intend to prevent the divorce </h2>


  <p class="text">
    You'll need to submit another form (known as the 'answer') with your reason for defending the divorce.   You'll also have to pay another £245 fee.
</p>

  <p class="text">
    You have 21 days to submit your answer from the date that you first signed into your divorce account.
  </p>

   <p class="text">
    If you don't submit the answer by the deadline, your {{ respsHusbandOrWife() }} will usually be able to continue with the divorce as if you didn't defend it.
  </p>

  <h2 class="heading-small">Making your own application for divorce</h2>

  <p class="text">
    You'll need to complete a new divorce application and pay the £550 fee if you want to apply for the divorce yourself. 
    You have 21 days to submit your answer from the date that you first signed into your divorce account.
  </p>

</div>
</details>

<br>

<div class="form-group">
  <fieldset>
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="continue-yes" type="radio"
      name="defend" value="Yes" {{ checked(session.aos.defend, 'Yes') }}>
      <label for="continue-yes">I confirm that I intend to defend the divorce</label>
    </div>
    <div class="multiple-choice">

      <input id="continue-no" type="radio"
      name="defend" value="No" {{ checked(session.aos.defend, 'No') }}>
      <label for="continue-no">I want to change my response</label>
    </div>
  </fieldset>
</div>





{% endblock %}
