{% extends "question.html" %}


{% block question %}

Confirm that you do not wish to give your consent to the divorce
{% endblock %}

{% block form %}




  <p class="text">
  If you don't agree, then the divorce won't be able to continue based on 2 years separation with consent.
</p>


<p class="text">
  The application will be returned to your {{ respsHusbandOrWife() }}. If they choose to continue, they will need to change the reason for divorce to one that doesn't need your consent. 
</p>

<p class="text">
  Your {{ respsHusbandOrWife() }} will have to pay £95 to change the reason. You may have to pay some or all of this extra fee if they've applied to claim their divorce costs.
</p>
<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You should get legal advice if you're not sure.
  </strong>
</div>
</br>

<div class="form-group">
  <fieldset>
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="continue-yes" type="radio"
      name="continueWithNoConsent" value="Yes" {{ checked(session.continueWithNoConsent, 'Yes') }}>
      <label for="continue-yes">I confirm that I do not consent to the divorce</label>
    </div>
    <div class="multiple-choice">

      <input id="continue-no" type="radio"
      name="continueWithNoConsent" value="No" {{ checked(session.continueWithNoConsent, 'No') }}>
      <label for="continue-no">I want to change my response</label>
    </div>
  </fieldset>
</div>





{% endblock %}
