{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Respond to a divorce application
      </h1>

      <p class="text">
        Use this service to respond to an application for divorce made in England or Wales.
      </p>

      <p class="text">
        You can use this service if you've received a letter or email from the court with a reference number and access code.</p>

      <h3 class="heading-medium">Before you begin</h3>

      <p class="text">
        You won't pay anything to respond to the application. If you don't respond you may have to pay other fees. If you choose to 'defend' (try to prevent) the divorce you will pay more fees in future.
      </p>

      <p class="text">
        The applicant has already:
      </p>

      <ul class="bullet list-bullet">

        <li>paid the £550 court fee (or got help with fees) to begin the process</li>
        <li>had the option of asking the court to order you to pay some, or all of the divorce costs</li>
        <li>been asked if they want to apply for a financial order, in which the court decides how money and property are split</li>
      </ul>

      <br>

      <p class="text">
        It usually takes 4 to 6 months to get a divorce if you don't try to defend it.
      </p>

      <p class="text">
        <a class="button button-start" href="/IDAM/login?continue_url=/aos/progress-bar/respond&noServiceName=Yes" role="button">Start now</a>
      </p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">
          Marriage, civil partnership and divorce
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li>
              <a href="/legal-separation">
                Get a legal separation
              </a>
            </li>
            <li>
              <a href="/how-to-annul-marriage">Annul a marriage</a>
            </li>
            <li>
              <a href="/looking-after-children-divorce">
                Looking after children if you divorce or separate
              </a>
            </li>
            <li>
              <a href="/money-property-when-relationship-ends">
                Money and property when a relationship ends
              </a>
            </li>
            <li class="related-topic bold-xsmall">
              <a href="/browse/births-deaths-marriages/marriage-divorce">
                More
                <span class="visuallyhidden">
                  in Marriage, civil partnership and divorce
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}

