{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Date of your decree nisi announcement
{% endblock %}
{% block content %}
<p>
Reference no: 12345678
</p>
<p>
Dear {{ petsName() }},
</p>

<p>
	Your {{respsHusbandOrWife () }}'s application for a decree nisi has been accepted and the court will now proceed with the first stage of the order ending your marriage.
</p>

<p>
	A district judge will formally announce the decree nisi at a court hearing on 8 August 2017.
</p>

<p>
	You don’t need to come to the hearing unless you want to object to any of the court orders being made.
</p>

<h2 class="heading-medium">
	Stages of the decree
</h2>

<p>
	The order (known as a decree) is made in 2 stages. You’re only divorced once both stages are complete.
</p>


<ol class="list list-number">
  <li>1. The 'decree nisi', which shows that the court agrees that you’re entitled to a divorce.</li>
  <li>2. The ‘decree absolute’, which legally ends the marriage. It cannot be made until at least 6 weeks after the decree nisi.
</li>
</ol>

<p>
	The court can cancel (known as rescind) the decree nisi at any time up until the decree absolute, if it's presented with new evidence showing why you shouldn’t be given a divorce.
</p>
<p>
	The court will also order your husband to pay you all of the costs of the divorce.
</p>

<h2 class="heading-medium">
	The hearing
</h2>

<!-- <p>
	A district judge will formally announce the decree nisi at a court hearing on 8 August 2017.
</p> -->

<p>
	<!-- You don’t need to come to the hearing unless you want to object to any of the court orders being made.  -->If you want to attend please email the court before the date of the hearing. If you, or your husband, want to dispute a costs order, the court must receive a letter stating the reasons for doing so at least 14 days before the hearing date.
</p>

<p>
	You can find the court address and the time of the hearing on the ‘certificate of entitlement to a decree nisi’ which can be downloaded from your account: <a href="/IDAM/login?continue_url=/aos/progress-bar/date-of-your-decree-nisi-announcement">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>

<p>
	After the hearing, you’ll both be sent an email telling you when you can apply for your decree absolute.
</p>

<div class="panel panel-border-wide">
	<p>
		If you need help with this service you can call or email us. <br>
		Phone: 0300 303 0642 (Monday to Friday, 8.30am to 5pm)<br>
		Email: divorce@justice.gov.uk<br>
	</p>
</div>

<p>
	Please help us improve this service by leaving your feedback at<br> <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/">http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/email</a>.
</p>

<h2 class="heading-medium"> HM Courts & Tribunals Service </h2>
<p>
This is an automated message, please don’t reply to this email.
</p>
{% endblock %}

