{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Your {{ petsHusbandOrWife() }} has applied for a decree nisi
{% endblock %}
{% block content %}
<p>
Reference no: 4829-1351-1234-2343
</p>
<p>
Dear {{ respsName() }},
</p>

<p class="text">
	Your {{ respsHusbandOrWife() }} has applied for a decree nisi. The court will check your {{ respsHusbandOrWife() }}'s application for a decree nisi and pass it to the judge. </p>

<p class="text">
	If the judge agrees there's no reason why you shouldnt get a divorce, you'll be sent the time, date and court in which your decree nisi will be announced.
</p>

<p class="text">
	After the decree nisi has been announced, your {{ respsHusbandOrWife() }} will have to wait 6 weeks before they can apply for a ‘decree absolute’ to end the marriage. If they haven't applied for a decree absolute 3 months after that 6 week period has passed, you'll be able to apply for it yourself. You'll be told how to apply at the time.
</p>

{% endblock %}

