{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Subject...
{% endblock %}
{% block content %}
<p>
Reference no: 4829-1351-1234-2343
</p>
<p>
Dear {{ petsName() }},
</p>

<p>...</p>


<div class="panel panel-border-wide">
	<p>
		If you need help with this service you can call or email us. <br>
		Phone: 0300 303 0642 (Monday to Friday, 8.30am to 5pm)<br>
		Email: divorce@justice.gov.uk<br>
	</p>
</div>

<p>
	Please help us improve this service by leaving your feedback at<br> <a href="http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/">http://www.smartsurvey.co.uk/s/8RR1T?pageurl=/email</a>.
</p>

<h2 class="heading-medium"> HM Courts & Tribunals Service </h2>
<p>
This is an automated message, please don’t reply to this email.
</p>
{% endblock %}

