{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}The co-respondent has responded{% endblock %}
{% block content %}
<p>
Reference no: 12345678
</p>
<p>
	Dear {{ petsName() }},
</p>

<p class="text">
	The co-respondent has responded to your divorce application. 
</p>

<p class="text">
	If your {{ petsHusbandOrWife() }} has also responded and not defended, you'll be able to apply for a decree nisi. If they have not yet responded, you'll need to wait for them to respond or for the deadline to pass before you can try to move your divorce forwards.
</p>

<p class="text">
	You can read the co-resondent's response by signing into your account.
</p>

<p>
	<a href="/IDAM/login?continue_url=/progress-bar/undefended">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>


{% endblock %}

