{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Your husband has responded
{% endblock %}
{% block content %}
<p>
	Reference no: 12345678
</p>
<p>
	Dear {{ petsName() }},
</p>

<p class="text">
	You husband has responded and said that they intend to 'defend' the divorce (they will try to prevent it).
</p>

<p class="text">
	Sign in to your account to find out what happens next.
</p>

<p class="text">
		<a href="/IDAM/login?continue_url=/progress-bar/resp-defends-awaiting-answer">https://www.divorce.reform.hmcts.net/sign-in</a>  
</p>

{% endblock %}

