{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Date of your decree nisi announcement
{% endblock %}
{% block content %}
<p>
	Reference no: 12345678
</p>
<p>
	Dear {{ petsName() }},
</p>

<p class="text">
	Your application for a decree nisi has been accepted. The court certifies that you are entitled to a decree of divorce. The court will also order your husband to pay you some or all of the divorce costs.
</p>

<p class="text">
	A district judge will formally announce this at a hearing on 21 April 2019. You’ll then be told when you can apply for a decree absolute, which will legally end the marriage.
</p>

<p class="text">
You don’t need to come to the hearing unless you want to object to any of the orders being made. You must contact the court by 7 April 2019 if you want to attend.
</p>

<p class="text">
	Sign in to your account for further details.
</p>

<p class="text">
	<a href="/IDAM/login?continue_url=/progress-bar/date-of-your-decree-nisi-announcement">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>

{% endblock %}

