{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Your husband has responded{% endblock %}
{% block content %}
<p>
	Reference no: 12345678
</p>
<p>
	Dear {{ petsName() }},
</p>
<p class="text">
	Your {{ petsHusbandOrWife() }} has not admitted to the adultery in their response to your divorce application.
</p>

<p class="text">
	The court needs to be sure that adultery took place for it to grant a divorce based on this.
</p>

<p class="text">
	Sign in to your account to find out what to do next.</p>
<p>
	 <a href="/IDAM/login?continue_url=/progress-bar/resp-does-not-admit-adultery">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>
		{% endblock %}

