{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Your  {{ petsHusbandOrWife() }} has submitted their answer{% endblock %}
{% block content %}
<p>
Reference no: 12345678
</p>
<p>
Dear {{ petsName() }},
</p>

<p class="text">
	Your {{ petsHusbandOrWife() }} has submitted their 'answer', the form which makes their case for defending the divorce
</p>

<p class="text">
	You’ll both now need to go to a court hearing where a judge will make a decision on the divorce.
</p>

<p class="text">
	The court will send you a letter in the post telling you what to do next.
</p>

{% endblock %}

