{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}You can now finalise your divorce
{% endblock %}
{% block content %}
<p>
Reference no: 12345678
</p>
<p>
Dear {{ petsName() }},
</p>



<p class="text">
	Your decree nisi (court order) for a divorce from {{ respsName() }} was made on 8 August 2017. The court also made an order that your {{ petsHusbandOrWife() }} pay some or all of the divorce costs.  
</p>

<div class="panel panel-border-wide">
<p class="text">
	You’re not divorced until you have your decree absolute.
  </p>
</div>

<p class="text">
	Sign in to your account for details on when the divorce can be completed and how much of the costs your {{ petsHusbandOrWife() }} needs to pay and when. 

<p class="text">
	 <a href="/IDAM/login?continue_url=/progress-bar/decree-nisi-granted">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>


{% endblock %}

