{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Case reference number 12345678

{% endblock %}
{% block content %}

<p>
Dear {{ petsName() }},
</p>

<p>
	We have an update on your divorce.
</p>

<p>
	You need to sign in to your account.
</p>

<p>
<a href="/IDAM/login?continue_url={{ query.continue_url }}">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>

{% endblock %}

