{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}You need to provide more information or documents


{% endblock %}
{% block content %}
<p>
Reference no: 12345678
</p>
<p class="text">
Dear {{ petsName() }},
</p>

<p class="text">
	The court has checked your application and found that you need to provide more information or more documents.
</p> 

<p class="text">
	Sign in to your account to find out what to do next:</p>

<p class="text">
	<a href="/IDAM/login?continue_url=/progress-bar/more-information-needed">https://www.divorce.reform.hmcts.net/sign-in</a>
</p>


{% endblock %}

