{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Your application has been sent out (issued)

{% endblock %}
{% block content %}
<p>
Reference no: 12345678
</p>
<p>
Dear {{ petsName() }},
</p>

<p class="text">
	Your application has passed checks by court staff and the next stage of your divorce has begun. You can find a copy of the issued application attached to this email.
</p>

<p class="text">
	The court will send the application to your ((husband/wife)) ((and the co-respondent)) by post, along with a form called an ‘acknowledgement of service’.
</p>

<p class="text">
	They will be told they must respond within 7 days. If they don’t respond within 30 days you’ll be sent an email from the court telling you what to do next.
</p>

{% endblock %}

