{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Your application has been submitted

{% endblock %}
{% block content %}
<!-- <p>
Reference no: 12345678
</p> -->
<p>
Dear {{ petsName() }},
</p>

<p class="text">
Your divorce application has been submitted to the East Midland Regional Divorce Centre.
</p>
<p class="text">
Your temporary reference number is ((CCD reference)). You’ll be given a full case number when your application has been accepted and issued.
</p>

<p class="text">
You can contact us if you don’t hear anything back after 4 weeks.
</p>

{% endblock %}

