{% extends "layout-email.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block email_sender %}{{ super() }}{% endblock %}
{% block email_date_time %}01 January 2017 at 11:08am{% endblock %}
{% block email_recipient_name %}{{ petsName() }} {% endblock %}
{% block email_recipient_email %}{{ petsEmail() }}{% endblock %}
{% block email_subject %}Update on your application
{% endblock %}
{% block content %}
<p>
Reference no: 12345678
</p>
<p>
Dear {{ petsName() }},
</p>

<p class="text">
	It's been 6 weeks since your decree nisi was granted and usually this would mean that you could finalise your divorce by gettting a decree absolute.
</p>

<div class="panel panel-border-wide">
  <p>
  	You’re not divorced until you have your decree absolute.
  </p>
</div>


<p class="text">
		However, our records show that there is an outstanding application for a financial order. You can't finalise your divorce until the court has made a decision on this.
	</p> 

<p class="text">
SOME MORE CONTENT TBC DEPENDING ON OPERATION. HERE'S THE <a href="/IDAM/login?continue_url=/progress-bar/respondent-apply-for-decree-absolute-blocked-fr">LINK TO THE HOLD PAGE</a> IN THE SERVICE.

</p>

<p class="text">
	You'll be contacted by the court when it's made a decision and you can finalise your divorce.</p>


{% endblock %}

