{% extends "question.html" %}
{% block question %}
Where should your {{ petsHusbandOrWife() }}'s divorce papers be sent?
{% endblock %}

{% block form %}

<fieldset class="form-group">
  <legend class="visually-hidden">{{ question }}</legend>

  <label for="no-solicitor" class="block-label">
    <input id="no-solicitor"
           type="radio"
           name="usePetitionerAddressForService"
           value="noSolicitor"
           {{ checked(session.respondent.usePetitionerAddressForService, 'noSolicitor') }}>
    To his/her solicitor's address
  </label>

  <label for="no" class="block-label">
    <input id="no"
           type="radio"
           name="usePetitionerAddressForService"
           value="noOther"
           {{ checked(session.respondent.usePetitionerAddressForService, 'noOther') }}>
    To a different address
  </label>
</fieldset>
{% endblock %}
