{% extends "progress-bar/landing_page_template.html" %}
{% block core_content %}

{{ reformProgressList({
  one: {
  label: "You apply",
  complete: true
},
two: {
label: "Your " + petsHusbandOrWife() + " must respond",
  complete: true
},
three: {
label: "Get a decree nisi",
  current: true,
  complete: true
},
four: {
label: "The divorce is complete"
}
})
}}

<h4 class="heading-medium">Your {{respsHusbandOrWife () }} has been granted a decree nisi</h4>

<p class="text">
  On 8 August 2017 the court granted your {{respsHusbandOrWife () }} a:
</p>

 <ul class="list list-bullet">
  <li>decree nisi - the first stage of the decree ending your marriage</li>
  <li>costs order - giving your {{respsHusbandOrWife () }} the right to claim their divorce costs from you</li>
</ul>

<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
            You are not divorced yet. You will only be divorced when the second stage is complete and the decree has been made absolute.
  </strong>
</div>

<h2 class="heading-medium">When the divorce can be completed</h2>

<p class="text">
  Your {{respsHusbandOrWife () }} must wait 6 weeks after the decree nisi is granted before they can apply for the decree absolute.
 </p>  

<p class="text">
  The court can cancel (known as rescind) the decree nisi at any time up until the decree absolute, if it's presented with new evidence showing why you shouldn’t be given a divorce.
</p>

<p class="text">
  You can apply for the decree absolute if your {{respsHusbandOrWife () }} doesn't. You'll need to wait an extra 3 months after the 6 week period has passed to do this.
</p>


<p><a href="/public/pdf/decree-nisi.pdf" target="_blank">Download your decree nisi</a> (PDF, 69kb).</p> 

<h2 class="heading-medium">What to do with your costs order</h2>

<p class="text">
  The order will state what the court has decided you must pay your {{ respsHusbandOrWife()}}. You are required to pay them within 14 days of the order being made. If you don't pay within that time, your {{ respsHusbandOrWife()}} can use the order to make a money claim against you. 
</p>



<p><a href="/public/pdf/costs-order.pdf" target="_blank">Download your costs order</a> (PDF, 69kb).</p> 


        {% block button %}
        <!--Not required -->
        {% endblock %}
{% endblock %}
