{% extends "question.html" %}
{% block question %}
Enter your {{ petsHusbandOrWife() }}'s current name
{% endblock %}

{% block form %}



<fieldset class="form-group">

  <fieldset class="form-group {{ " error" if fields.respCurrentFirstName.error }}" >
    <legend class="visually-hidden">First Name(s)</legend>
    <label class="form-label" for="respCurrentFirstName">
      First name(s)
      <span class="form-hint">Include all middle names here</span>
    </label>
    {{ errorsFor(fields.respFirstName) }}
    <input class="form-control"
           id="respCurrentFirstName"
           name="respCurrentFirstName"
           type="text"
           value="{{ fields.respCurrentFirstName.value }}">
  </fieldset>

  <fieldset class="form-group {{ "error" if fields.respCurrentLastName.error }}" >
    <legend class="visually-hidden">Last Name(s)</legend>
    <label class="form-label" for="respCurrentLastName">Last name(s) </label>
    {{ errorsFor(fields.respCurrentLastName) }}
    <input class="form-control"
           id="respCurrentLastName"
           name="respCurrentLastName"
           type="text"
           value="{{ fields.respCurrentLastName.value }}">
  </fieldset>

</fieldset>


<fieldset class="form-group inline">


    <h3 class="heading-medium" style="margin-top: 0px;">Does this exactly match your {{ petsHusbandOrWife() }}'s name on the marriage certificate?</h3>

<p class="text">
    Select ‘No’ if you used a different name when you married (eg your maiden name) or if the spelling in the certificate is different or includes text such as 'formerly known as'.

</p>


  <fieldset id="currentNameCheck" class="form-group inline {{ "error" if fields.nameOnCertificate.error }}">
    {{ errorsFor(fields.nameOnCertificate) }}
    <label for="current-name-yes" class="block-label">
      <input id="current-name-yes"
             type="radio"
             name="respNameSameAsCert"
             value="Yes"
             {{ checked(fields.respNameSameAsCert.value, 'Yes') }}>
      Yes
    </label>

    <label for="current-name-no" class="block-label" data-target="name-change">
      <input id="current-name-no"
             type="radio"
             name="respNameSameAsCert"
             value="No"
             {{ checked(fields.respNameSameAsCert.value, 'No') }}>
      No
    </label>
    <div id="name-change" class="js-hidden panel panel-border-narrow">
      <!-- <p class="text">
      Enter your {{ petsHusbandOrWife() }}'s name on the marriage certificate
      </p> -->

  <fieldset class="form-group" >
    <legend class="visually-hidden">Enter your {{ petsHusbandOrWife() }}'s full name on the marriage certificate</legend>
    <label class="form-label" for="respMarriageCertFirstName">
      Enter your {{ petsHusbandOrWife() }}'s full name on the marriage certificate
      <span class="form-hint">Copy it exactly, including any text such as 'formerly known as'</span>
    </label>
    {{ errorsFor(fields.respMarriageCertFirstName) }}
    <input class="form-control"
           id="respMarriageCertFirstName"
           name="respMarriageCertFirstName"
           type="text"
           value="{{ fields.respMarriageCertFirstName.value }}">
  </fieldset>

 <!--  <fieldset class="form-group {{ "error" if fields.respMarriageCertLastName.error }}" >
    <legend class="visually-hidden">Last Name(s)</legend>
    <label class="form-label" for="respMarriageCertLastName">Last name(s) </label>
    {{ errorsFor(fields.respMarriageCertLastName) }}
    <input class="form-control"
           id="respMarriageCertLastName"
           name="respMarriageCertLastName"
           type="text"
           value="{{ fields.respMarriageCertLastName.value }}">
  </fieldset> -->

    </div>
  </fieldset>

</fieldset>

{% endblock %}
