{% extends "question.html" %}
{% set question = 'Is this your ' + petsHusbandOrWife() + '’s home address?' %}
{% block question %}
{{ question }}
{% endblock %}

{% block form %}  
<fieldset class="form-group inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <label for="yes" class="block-label">
        <input id="yes" type="radio"
               name="homeAddress" value="Yes" {{ checked(session.respondent.homeAddress, 'Yes') }}>
        Yes
    </label>

    <label for="no" class="block-label" data-target="provide-home-address">
        <input id="no" type="radio"
               name="homeAddress" value="No" {{ checked(session.respondent.homeAddress, 'No') }}>
        No
    </label>
</fieldset>
<div id="provide-home-address" class="js-hidden panel">
    <fieldset class="form-group inline">
        <legend class="form-label">Are you able to provide their home address?</legend>
        <p class="form-hint text">
            You don't have to give this, but your application may be delayed if the court needs
            this later on and you haven't provided it. You must give the full address, whether it's in the
            UK or abroad.
        </p>

        <label for="provide-address-yes" class="block-label">
            <input id="provide-address-yes" type="radio"
                   name="provideHomeAddress" value="Yes" {{ checked(session.respondent.provideHomeAddress, 'Yes') }}>
            Yes
        </label>

        <label for="provide-address-no" class="block-label">
            <input id="provide-address-no" type="radio"
                   name="provideHomeAddress" value="No"{{ checked(session.respondent.provideHomeAddress, 'No') }}>
            No
        </label>
    </fieldset>

</div>
{% endblock %}
