{% macro componant(
  usePetitionerAddress,
  whichPetitionerAddress,
  petitionerHome,
  petitionerCorrespondence
) %}
  <div class="form-group">
    <fieldset>
      <legend class="visually-hidden">Use my address</legend>
      <label class="block-label" for="use-petitioner-address" data-target="petitioner-addresses">
        <input id="use-petitioner-address"
               name="usePetitionerAddress"
               type="checkbox"
               value="yes"
          {{ checked(usePetitionerAddress, 'yes') }}>
        Use my address
      </label>
      {% if petitionerHome and petitionerCorrespondence %}
        <div class="panel panel-border-narrow js-hidden" id="petitioner-addresses">
          <label class="form-label-bold">Select an address:</label>
          <label class="block-label" for="petitioner-home-address">
            <input id="petitioner-home-address"
                   name="petitionerAddress"
                   type="radio"
                   value="home"
              {{ checked(whichPetitionerAddress, 'home') }}>
            {{ petitionerHome }}
          </label>
          <label class="block-label" for="petitioner-correspondence-address">
            <input id="petitioner-correspondence-address"
                   name="petitionerAddress"
                   type="radio"
                   value="correspondence"
              {{ checked(whichPetitionerAddress, 'correspondence') }}>
            {{ petitionerCorrespondence }}
          </label>
        </div>
      {% endif %}
    </fieldset>
  </div>
{% endmacro %}
{% macro checked(isChecked, answer) %}
  {%if isChecked == answer %}
    checked
  {% endif %}
{% endmacro %}
