{% extends "question.html" %}
{% set question = 'Did your ' + petsHusbandOrWife() + ' leave without your agreement?' %}
{% block question %}
{{ question }}
{% endblock %}

{% block form %}

<p class="text">
          You can only use desertion as a reason for divorce if you didn't agree to 
          your {{ petsHusbandOrWife() }} leaving you. For example, if they abandoned you, or took a job abroad without your agreement.
        </p>
<fieldset class="form-group">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice" >
    <input id="agreeOnDesertion-yes" type="radio"
           name="agreeOnDesertion" value="Yes" {{ checked(session.desertion.agree, 'Yes') }}>
    <label for="agreeOnDesertion-yes">Yes, they left without my agreement</label>
  </div>
  <div class="multiple-choice" data-target="reunitedDates">
    <input id="agreeOnDesertion-no" type="radio"
           name="agreeOnDesertion" value="No" {{ checked(session.desertion.agree, 'No') }}>
    <label for="agreeOnDesertion-no">No, I agreed that they should go</label>
  </div>
</fieldset>



    
{% endblock %}
