{% extends "question.html" %}
{% block question %}
Have you lived apart since {{ session.desertion.desertionDateFormatted }}?
{% endblock %}

{% block form %}

<p class="text">
  You must have lived apart from your {{ petsHusbandOrWife() }} for at least 2 years since they deserted you.
</p>

<!--     <p class="text">
  Select No if you’ve spent any time living together as a couple since your {{ petsHusbandOrWife() }} deserted you.
</p> -->

<!-- <details>

  <summary><span class="summary">Read the rules on desertion</span></summary>

  <div class="panel panel-border-narrow">

    <p class="text">Any time that you've spent living together since your {{ petsHusbandOrWife() }} deserted you doesn't count towards the 2 year desertion period.</p>

    <p class="text">
      The court will add up any time that you've lived together since your {{ petsHusbandOrWife() }} deserted you. The combined total could affect the date that you can apply using this reason for divorce.
    </p>

<h4 class="heading-small"> Living together for 6 months or more</h4>

<p class="text">
  You can't use a given desertion date if you lived with your {{ petsHusbandOrWife() }} again for 6 months or more after that date.
</p>

<h4 class="heading-small"> Living together for less than 6 months</h4>

<p class="text">
  If you lived with your {{ petsHusbandOrWife() }} again after they deserted you, but for less than 6 months, that period won't count towards the 2 years you'll need to have been apart. 

  Your {{ petsHusbandOrWife() }} will need to have deserted you again for enough time so that you've spent at least 2 years apart.
</p>

<p class="text">
  For example if your {{ petsHusbandOrWife() }} deserted you on March 2014, you lived together from May 2014 to July 2014 (3 months), then lived apart from Aug 2014, the earliest you could apply for divorce based on your original desertion date would be June 2016  (2 years and 3 months from March 2014).
</p>

  </div>

</details> -->
<fieldset class="inline form-group">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice" >
    <input id="haveLivedTogetherSinceSepDate-yes" type="radio"
             name="haveLivedTogetherSinceSepDate" value="Yes" {{ checked(session.separation.haveLivedTogetherSinceSepDate, 'yes') }}>
    <label for="haveLivedTogetherSinceSepDate-yes">Yes</label>
  </div>
  <div class="multiple-choice" data-target="reunitedDates">
    <input id="haveLivedTogetherSinceSepDate-no" type="radio"
             name="haveLivedTogetherSinceSepDate" value="No" {{ checked(session.separation.haveLivedTogetherSinceSepDate, 'no') }}>
    <label for="haveLivedTogetherSinceSepDate-no">No</label>
  </div>
</fieldset>

  
  
<div id="reunitedDates" class="js-hidden panel fieldset">
<p>
  You can have had periods of living together as long as they don’t add up to more than 6 months. Any time that you’ve spent living together as a couple won’t count towards your 2 year desertion period.
</p>

<p>
  You’ll be asked for details when you apply for your decree nisi.
</p>

<p>Contact the court if you’re not sure.</p>
</div>

{% endblock %}
