{% extends "question.html" %}
{% set question = 'Claiming the costs of your divorce' %}
{% block question %}
{{ question }}
{% endblock %}

{% block form %}

<p class="text">
  {% if session.adultery.wishToName == "Yes" %}
  You can ask the court to order your {{ petsHusbandOrWife() }} (and the co-respondent) to pay some or all of your divorce costs. This could include your court fees and legal costs (for example solicitor fees). 
  {% else %}
  You can ask the court to order your {{ petsHusbandOrWife() }} to pay some or all of your divorce costs. This could include your court fees and legal costs (for example solicitor fees). 
  {% endif %}
</p>

<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    This will not include any costs related to financial settlements. You need to apply separately for those.
  </strong>
</div>

<br>

<p>
 You should discuss the costs with your {{ petsHusbandOrWife() }} if possible. This may help avoid conflict later on and the risk of them defending the divorce. 
</p>

<p class="text">
  You'll still have to pay the £550 fee when you submit your application. If you're granted a costs order, your {{ petsHusbandOrWife() }} will be ordered to repay you.
</p>


<details>
  <summary><span class="summary">Read more about costs orders</span></summary>
  <div class="panel panel-border-narrow">

    <h3 class="heading-small">What happens if you claim your costs</h3>

<!--     <p>
      You’ll be asked how much you want your  {{ petsHusbandOrWife() }} [, the co-respondent, or both,] to pay. They’ll then be asked if they object to paying that amount in their response to your divorce application. If they disagree, they’ll be asked how much they want to pay.
    </p> 
 -->
    <p>
     You’ll be asked to confirm your request for a costs order when you apply for your decree nisi.  The court will then make its decision, taking all the circumstances into account, for example, the conduct of those involved before and during the divorce. The judge will order that a review of your situations be carried out in more complex cases.
   </p>


   <p class="text">
    {% if session.facts.reason == "separation-2-years" %}
    <p class="text">
      In divorces based on 2 years separation, the court will usually make an order that the respondent pay half the applicant's costs, unless the applicant has asked for less, or the respondent makes a case as to why they should not pay anything.
    </p>
    {% endif %}

    {% if session.facts.reason == "separation-5-years" %}
    <p class="text">
      In divorces based on 5 years separation, the court usually won't order the respondent to pay any of the applicant's costs. However, it could order them to pay costs under some circumstances. 
    </p>
    {% endif %}

    {% if session.facts.reason == "unreasonable-behaviour" %}
    <p class="text">
      In divorces based on the respondent's behaviour, the court will usually order the respondent to pay all of the applicant's costs, unless the applicant has asked for less, or the respondent makes a case as to why they should not pay anything.
    </p>
    {% endif %}

    {% if session.facts.reason == "adultery" %}
    <p class="text">
      In divorces based on adultery, the court will usually order the respondent to pay all of the applicant's costs, unless the applicant has asked for less, or the respondent makes a case as to why they should not pay anything.
    </p>
    {% endif %}

    {% if session.facts.reason == "desertion" %}
    <p class="text">
      In divorces based on desertion, the court will usually order the respondent to pay all of the applicant's costs, unless the applicant has asked for less, or the respondent makes a case as to why they should not pay anything.
    </p>
    {% endif %}

    <p>
      If the court rules in your favour, your  {{ petsHusbandOrWife() }} <!-- [, and the co-respondent if applicable] --> will be ordered to pay you back your costs within 14 days of the order being made.
    </p>

    <h3 class="heading-small">Help with fees</h3>


    <p class="text">
      If you've applied for Help with Fees, you can still apply to claim your costs in case your application for help is unsuccessful.
    </p>

    <h3 class="heading-small">What you can claim</h3>

    <p>
      You can claim your court fees, legal costs (for example solicitor fees) and other expenses related to the divorce.
    </p>

    <p>
      If the court decides that your {{ petsHusbandOrWife() }} should pay your legal costs, it will usually order that they only pay what it judges to be a reasonable amount of these. However, under certain circumstances it could order them to pay more. 
    </p>

  </div>
</details>

{% if session.facts.reason === 'separation-5-years' %}
<p class="text">
  <div class="notice">
    <i class="icon icon-important">
      <span class="visuallyhidden">Warning</span>
    </i>
    <strong class="text">
      The court won't usually make a costs order if the reason for divorce is 5 years separation.
      <!-- [NOT IN PRODUCTION RIGHT NOW] The court usually won't order your {{ petsHusbandOrWife() }} to pay any costs when the reason for divorce is based on '5 years separation'. -->
    </strong>
  </div>
</p>



{% endif %}
<!-- Hidden because none of this is in production right now
{% if session.facts.reason === 'separation-2-years' %}
<p class="text">
  <div class="notice">
    <i class="icon icon-important">
      <span class="visuallyhidden">Warning</span>
    </i>
    <strong class="text">
      The court will usually split the costs evenly between you and your {{ petsHusbandOrWife() }}  when your reason for divorce is '2 years separation with consent'.
    </strong>
  </div>
</p>
{% endif %}
-->
<div class="form-group">
  <fieldset>

    <legend class="heading-medium">
      Do you want to claim your costs?
    </legend>
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice" data-target="claimCosts-costs-from">
      <input id="yes"
      type="radio"
      name="claimCosts"
      value="Yes"
      {{ checked(session.claimCosts.applicantChoice, 'Yes') }}>
      <label for="yes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="no"
      type="radio"
      name="claimCosts"
      value="No"
      {{ checked(session.claimCosts.applicantChoice, 'No') }}>
      <label for="no">No</label>
    </div>

    {% if session.facts.reason != 'adultery' and session.adultery.wishToName != 'Yes' %}
    <div class="multiple-choice" data-target="claimCosts-costs-from">
      <input id="yes"
      type="radio"
      name="claimCosts"
      value="Yes"
      {{ checked(session.claimCosts.applicantChoice, 'YesIfDefend') }}>
      <label for="yes">Yes, only if my {{ husbandOrWife() }} defends the divorce</label>
    </div>
    {% endif %}
  </fieldset>
</div>

<div id="claimCosts-costs-from" class="js-hidden">

  {% if session.facts.reason === 'adultery' and session.adultery.wishToName == 'Yes' %}
  <a id="claimCostsFromOption"></a>
  <div class="form-group">
    <fieldset>
      <legend class="heading-medium">
        Who do you want to claim the costs from?
      </legend>
      <div class="multiple-choice">
        <input id="respondent"
        name="claimCostsFromRespondent"
        type="checkbox"
        value="Yes"
        {{ checked(session.claimCosts.claimFromRespondent, 'Yes') }}>
        <label for="respondent">Your {{ husbandOrWife() }}</label>
      </div>
      <div class="multiple-choice">
        <input id="corespondent"
        name="claimCostsFromCoRespondent"
        type="checkbox"
        value="Yes"
        {{ checked(session.claimCosts.claimFromCoRespondent, 'Yes') }}>
        <label for="corespondent">{{ session.adultery.corespondent.firstName | capitalize }} {{ session.adultery.corespondent.lastName | capitalize }} (the co-respondent)</label>
      </div>
    </fieldset>
  </div>
  <p class="text">
    You’ll have to pay the £550 fee now. The court will make a judgement on who should pay, and how much, at a later stage in the divorce.
  </p>
  {% else %}

  <h2 class="heading-medium">How much do you want to claim from your {{ husbandOrWife() }}?</h2>

  <div class="form-group">
    <fieldset class="form-group">
      <div class="multiple-choice">
        <input id="splitEven" type="radio" name="splitMethod" value="even">
        <label for="splitEven">Half my divorce costs</label>
      </div>
      <div class="multiple-choice">
        <input id="respondentPaysAll" type="radio" name="splitMethod" value="respondentPaysAll">
        <label for="respondentPaysAll">All of my divorce costs</label>
      </div>
      <div class="multiple-choice" data-target="paySpecific">
        <input id="respondentPaysSpecific" type="radio" name="splitMethod" value="respondentPaysSpecific">
        <label for="respondentPaysSpecific">A specific (or maximum) amount of the divorce costs</label>
      </div>
      <div class="form-group js-hidden panel" id="paySpecific">
        <label class="form-label" for="full-name-f1">Enter amount</label>
        <span style="padding-right:6px;">£</span><input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
      </div>
      <div class="multiple-choice" data-target="payPercentage">
        <input id="respondentPaysPercentage" type="radio" name="splitMethod" value="respondentPaysPercentage">
        <label for="respondentPaysPercentage">A percentage of the divorce costs</label>
      </div>
      <div class="form-group js-hidden panel" id="payPercentage">
        <label class="form-label" for="full-name-f1">Enter percentage</label>
        <input class="form-control" id="full-name-f1" type="text" name="full-name-f1" style="width:10%;"><span style="padding-left:6px;">%</span>
      </div>
    </div>
  </fieldset>

  {% endif %}
</div>

{% endblock %}

