{% extends "question.html" %}
  {% set question = 'Do you want to apply to claim your divorce costs?' %}
{% block question %}
  {{ question }}
{% endblock %}

{% block form %}

<p class="text">
  You can ask the court to order your wife to pay some or all of the divorce costs.
</p>

<p class="text">
  This could include all the fees you have to pay during the divorce, such as application fees, solicitors fees, and additional court fees.
</p>

    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice" data-target="claim-costs-from">
      <input id="yes"
             type="radio"
             name="claimCosts"
             value="Yes"
             {{ checked(session.claimCosts.willClaim, 'Yes') }}>
       <label for="yes">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="no"
             type="radio"
             name="claimCosts"
             value="No"
             {{ checked(session.claimCosts.willClaim, 'No') }}>
      <label for="no">No</label>
    </div>
  </fieldset>
</div>

{% if session.facts.reason === 'adultery' and session.adultery.wishToName == 'Yes' %}
<div id="claim-costs-from" class="js-hidden panel">
  <a id="claimCostsFromOption"></a>
<div class="form-group">
  <fieldset>
    <legend class="heading-medium">
      Who do you want to claim the costs from?
    </legend>
    <div class="multiple-choice">
      <input id="respondent"
             name="claimCostsFromRespondent"
             type="checkbox"
             value="Yes"
             {{ checked(session.claimCosts.claimFromRespondent, 'Yes') }}>
      <label for="respondent">Your {{ husbandOrWife() }}</label>
    </div>
    

    <div class="multiple-choice">
      <input id="corespondent"
             name="claimCostsFromCoRespondent"
             type="checkbox"
             value="Yes"
             {{ checked(session.claimCosts.claimFromCoRespondent, 'Yes') }}>
      <label for="corespondent">{{ session.adultery.corespondent.firstName | capitalize }} {{ session.adultery.corespondent.lastName | capitalize }} (the co-respondent)</label>
    </div>
  </fieldset>
  </div>
    <p class="text">
      You’ll have to pay the £550 fee now. The court will make a judgement on who should pay, and how much, at a later stage in the divorce.
    </p>
</div>
{% endif %}


{% endblock %}

