{% import "common/components/genderComponent.html" as gender %}
{% extends "question.html" %}

{% block question %}
How the court will contact you
{% endblock %}

{% block form %}

<h2 class="heading-medium">By email<h2>

        <p>You need to receive emails about the divorce to use the online service. Your email address will not be shared with your {{ petsHusbandOrWife() }}.</p>

<p>Your emails will be sent to: <strong class="bold-small">johnsmith493@hotmail.com</strong>.</p>

    <div class="form-group confirmation-container">
      <div class="multiple-choice">
        <input id="confirm" type="checkbox" name="confirm">
        <label for="confirm">I agree that the divorce centre can send me notifications and deliver (serve) court documents to me by email.
        </label>
      </div>
    </div>

<h2 class="heading-medium">By phone<h2>

        <p>Provide a phone number to let court staff contact you more quickly. Your phone number will not be shared with your {{ petsHusbandOrWife() }}.</p>


  <fieldset class="form-group {{ "error" if fields.phoneNumber.error }}">
    <legend class="form-label-bold">Enter your phone number (Optional)</legend>
   <!--  <label class="form-hint" for="phone-number">
      (Optional)
    </label> -->
    {{ errorsFor(fields.phoneNumber) }}
    <input class="form-control"
           id="mobile-number"
           name="mobileNumber"
           type="text"
           value="{{ fields.mobileNumber.value }}">
  </fieldset>

  <h2 class="heading-medium">By post<h2>
          <p>
          {% if query.confidential == "Yes" %}
          You may need to receive some correspondence by post. </p>
          <p>Your address will not be shared with  your husband as you've asked for it to be kept private. If you use adultery as your reason for divorce, this address will not be shared with the co-respondent (if you choose to name them).
          {% else %}

You may need to receive some correspondence by post. </p>
          <p>Your address will be shared with  your husband as you've not asked for it to be kept private. If you use adultery as your reason for divorce, this address will also be shared with the co-respondent (if you choose to name them).
{% endif %}
          </p>


{% endblock %}
