{% extends "layout.html" %}

{% block page_title %}
End
{% endblock %}

{% block proposition_header %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    <h1 class="heading-large">What we'll be looking at next:</h1>
    <ul class="list list-bullet">
        <li>Jurisdiction</li>
        <li>Start page</li>
        <li>End page</li>
        <li>Solicitors details (+ certificate of reconciliation)</li>
        <li>The prayer</li>
        <li>Details of the children</li>
        <li>Other court proceedings</li>
        <li>Statement of truth</li>
        <li>Help with fees</li>
        <li>Payment</li>
    </ul>
</main>

{% endblock %}
