{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="column-two-thirds">
      {% include "includes/phase_banner_beta.html" %}
      <a class="link-back" href="#" onclick="javascript:history.go(-1)">Back</a>
      <h1 class="heading-large">
        {% block heading %}{% endblock %}
      </h1>
      {% block exit_reason %}{% endblock %}
    </div>
</main>
{% endblock %}
