{% extends "question-feedback.html" %}
{% block question %}
Feedback
{{ question }}
{% endblock %}
{% block form %}
<p class="text">
Your feedback will help us improve the service. Complete the form below to tell us what you think of this service.
</p>
<h2 class="heading-medium">Tell us what you think of the new online divorce service</h2>

<fieldset class="form-group">

    <textarea class="form-control" id="case-details-textarea" rows="4" name="case-details" type="text" style="width: 100%"></textarea>

</fieldset>


<br />
<br />
<br />
<br />

{% endblock %}

