f{% extends "question.html" %}
{% set question = 'Have you agreed how your money and property will be split?
' %}

{% block question %}
{{ question }}
{% endblock %}

{% block form %}

<p>If you haven't yet come to an agreement with your wife, but are confident that you will come to an agreement, then select 'Yes'. Save your application and return later if you need to discuss this with your wife.</p>

<div class="form-group">
  <fieldset class="inline"
  id="financesAgreed">
  <legend class="visually-hidden">
    Do you want the court to make a financial arrangement between you and your
    {{ petsHusbandOrWife() }}?
  </legend>

  <div class="form-group {{"error" if fields.financesAgreed.error }}">
    {{ errorsFor(fields.financesAgreed) }}
    <div class="multiple-choice" data-target="financial-order-info">

      <input id="yes"
      type="radio"
      name="financesAgreed"
      value="Yes"
      {{ checked(session.financesAgreed, 'Yes') }}>
      <label for="yes" >Yes
      </label>
    </div>

    <div class="multiple-choice" data-target="financesAgreedsWarning">
      <input id="no"
      type="radio"
      name="financesAgreed"
      value="No"
      {{ checked(session.financesAgreed, 'No') }}>
      <label for="no">No</label>
    </div>
  </div>

<div id="financesAgreedsWarning" class="js-hidden">

      <div class="form-group">
        <fieldset class="inline">
          <legend class="visually-hidden">Do you want the court to decide how your money and property will be divided?
          </legend>
          <h3 class="heading-medium" style="margin-top: 0px;">Do you want the court to decide how your money and property will be divided?
          </h3>
          <p>You can ask the court to decide how your assets will be split, or to order your wife to pay you maintenance.</p>
          <div class="multiple-choice"data-target="apply-now-no">
            <input id="courtDecide-yes" type="radio"
            name="courtDecide" value="Yes" {{ checked(session.finances.courtDecide, 'Yes') }}>
            <label for="courtDecide-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="warning">
            <input id="courtDecide-no" type="radio"
            name="courtDecide" value="No" {{ checked(session.finances.courtDecide, 'No') }}>
            <label for="courtDecide-no">No</label>
          </div>
        </fieldset>
      </div>
    </div>

<div id="financial-order-info" class="js-hidden">
      <div class="form-group">
        <fieldset class="inline">
          <legend class="visually-hidden">Do you want to make that agreement legally binding?</legend>
          <h3 class="heading-medium" style="margin-top: 0px;">Do you want to make that agreement legally binding?</h3>
          <p>You'll both be protected from future claims and can take each other to court if you don't uphold the agreement.</p>
          <div class="multiple-choice" data-target="apply-now">
            <input id="courtDecide-yes" type="radio"
            name="courtDecide" value="Yes" {{ checked(session.finances.courtDecide, 'Yes') }}>
            <label for="courtDecide-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="warning">
            <input id="courtDecide-no" type="radio"
            name="courtDecide" value="No" {{ checked(session.finances.courtDecide, 'No') }}>
            <label for="courtDecide-no">No</label>
          </div>
        </fieldset>
      </div>
    </div>


<div id="apply-now" class="js-hidden">
      <div class="form-group">
        <fieldset class="inline">
          <legend class="visually-hidden">Do you want to apply for a financial order?</legend>



          <h3 class="heading-medium" style="margin-top: 0px;">Do you want to apply for a financial order?</h3>
          <p>The only way to make your agreement legally binding is to get a 'financial order'. You don't need to do anything else to apply for one now, but you will be better protected in future if you select 'Yes'.

          </p>

          <div class="multiple-choice" data-target="how-to">
            <input id="financialOrder-yes" type="radio"
            name="financialOrder" value="Yes" {{ checked(session.finances.financialOrder, 'Yes') }}>
            <label for="financialOrder-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="warning">
            <input id="financialOrder-no" type="radio"
            name="financialOrder" value="No" {{ checked(session.finances.financialOrder, 'No') }}>
            <label for="financialOrder-no">No</label>
          </div>
        </fieldset>
      </div>
    </div>

<div id="apply-now-no" class="js-hidden">
      <div class="form-group">
        <fieldset class="inline">
          <legend class="visually-hidden">Do you want to apply for a financial order?</legend>


          <h3 class="heading-medium" style="margin-top: 0px;">Do you want to apply for a financial order ?</h3>

          <p>
            A court decision on how your assets will be split is called a 'financial orders'. You can apply for orders for yourself, and your children if you have any. You don't need to do anything else to apply for one now, but you will be better protected in future if you select 'Yes'.
          </p>

          <div class="multiple-choice" data-target="how-to">
            <input id="financialOrder-yes" type="radio"
            name="financialOrder" value="Yes" {{ checked(session.finances.financialOrder, 'Yes') }}>
            <label for="financialOrder-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="warning">
            <input id="financialOrder-no" type="radio"
            name="financialOrder" value="No" {{ checked(session.finances.financialOrder, 'No') }}>
            <label for="financialOrder-no">No</label>
          </div>
        </fieldset>
      </div>
    </div>

<div class="panel panel-border-narrow js-hidden" id="how-to">
      <div class="form-group">
        <fieldset class="inline">
         <p>You’ll be given guidance on how to get a financial order when you finish your divorce application.
        </p>
        </div>


    <div class="panel panel-border-narrow js-hidden" id="noOrderWarning">
     <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
          Without a legally binding order from the court, then you and your wife will be able to make a claim on each other's assets at any time in the future even after you are divorced. 
  </strong>
</div>

        </div>

      </fieldset>


      {% endblock %}
