f{% extends "question.html" %}
{% set question = 'Dividing your money and property' %}

{% block question %}
{{ question }}
{% endblock %}

{% block form %}
  <p class="text">
  If you disagree with your {{ petsHusbandOrWife() }} about how your property, money, pensions and other assets will be split, then you can ask the court to decide for you. This includes maintenance payments.
  </p>

<p class="text">
    These decisions are called 'financial orders'. You can apply for orders for yourself, and/or, if appropriate, for your children.
  </p>

<div class="panel panel-border-wide">
  <p class="text">
  If you both agree on how to split your money and property and want to make it legally binding, you can apply for a type of financial order called a 'consent order'.<!--  You'll get a link to guidance on consent orders when you finish your application.  -->
  </p>

</div>

<details>

  <summary><span class="summary">Read more about orders</span></summary>

  <div class="panel panel-border-narrow">


      <h4 class="heading-small">Getting a consent order</h4>

    <p class="text">
      Get a solicitor to draft the consent order, and then send it to the court with a £50 fee. Your consent order can only be approved once you get your decree nisi.

    </p>

    <h4 class="heading-small">Applying for a financial order</h4>

    <p class="text">
      To formally start legal proceedings, you'll also need to complete another form (known as Form A) and pay a fee of £255.
    </p>

    <p class="text">
      This means that if you select yes to the following question:
    </p>

    <ul class="list-bullet list">
      <li>
        you don't have to proceed with the financial order
      </li>
      <li>
        you can proceed with the financial order at any time in the future while your {{ petsHusbandOrWife() }} is alive
      </li>
    </ul>
 <p class="text">
  If you submit Form A then you can only get your Decree Absolute (the legal document ending your marriage) once the financial order has been made.
</p>

<h4 class="heading-small">If you don't apply for a financial order now</h4>


    <p class="text">
      If you select no, you can still apply for a financial order in future, but you’ll be more limited in that you can only do so until you remarry or form a civil partnership. This rule doesn’t apply to pension sharing or pension compensation sharing orders which can be applied for anytime.
    </p>

    <p class="text">
        You should get legal advice if you're not sure what to do.
      </p>

    <h4 class="heading-small">Orders for child maintenance</h4>

    <p class="text">
      The court can only make financial orders for children under certain circumstances. You'll usually either need to come to an agreement with your {{ petsHusbandOrWife() }} (which you can then make legally binding with a consent order) or use the Child Maintenance Service. 
    </p>

  </div>

</details>
<!-- <details>
<summary>
  <span class="summary font-small">Help with consent orders</span>

</summary>

<div class="panel panel-border-narrow font-small text">


  <p class="text">You need to get a solicitor to draft a consent order, which you will both need to sign. You will then need to get it approved by a court to make it legally binding.</p>

</details>

</div> -->

  <!-- <details>
    <summary>
      <span class="summary font-small">Types of financial order</span>
    </summary>
    <div class="panel panel-border-narrow font-small text">
  

 <table class="financial-orders">
        <thead>
        <tr>
          <th scope="col">Type of order</th>
          <th scope="col">What the order does
</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            Order for maintenance pending suit/outcome
          </td>
          <td>
            Your {{ petsHusbandOrWife() }} pays you maintenance while the court makes a decision on your finances
          </td>
        </tr>
        <tr>
          <td>
            Periodical payments order
          </td>
          <td>
            Your {{ petsHusbandOrWife() }} pays you regular ongoing maintenance
          </td>
        </tr>
        <tr>
          <td>
            Secured provision order
          </td>
          <td>
            Your {{ petsHusbandOrWife() }} pays you maintenance and gives you the rights to something valuable in case they don't pay the agreed
            amount
          </td>
        </tr>
        <tr>
          <td>
            Lump sum order
          </td>
          <td>
            Your {{ petsHusbandOrWife() }} pays you a single, fixed amount
          </td>
        </tr>
        <tr>
          <td>
            Property adjustment order
          </td>
          <td>
            The court decides what happens to property you and your {{ petsHusbandOrWife() }} own separately or together, for example, a home,
            possessions or a car
          </td>
        <tr>
          <td>
            Pension/Pension compensation sharing
          </td>
          <td>
            The court decides how much of your {{ petsHusbandOrWife() }}'s pension or pension compensation scheme should be given to you
          </td>
        <tr>
          <td>
            Consent order
          </td>
          <td>
            You and your {{ petsHusbandOrWife() }} reach an agreement over your money and property which the court makes legally binding
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </details> -->



  <h3 class="heading-medium">Do you want to apply for a financial order?</h3>
  <div class="form-group">
  <fieldset class="inline"
              id="financialOrder">
      <legend class="visually-hidden">
        Do you want the court to make a financial arrangement between you and your
        {{ petsHusbandOrWife() }}?
      </legend>

    <div class="form-group {{"error" if fields.financialOrder.error }}">
      {{ errorsFor(fields.financialOrder) }}
      <div class="multiple-choice" data-target="financial-order-info">
      
        <input id="yes"
               type="radio"
               name="financialOrder"
               value="Yes"
               {{ checked(session.financialOrder, 'Yes') }}>
        <label for="yes" >Yes
      </label>
      </div>
      <div class="multiple-choice" data-target="financialOrdersWarning">
      
        <input id="no"
               type="radio"
               name="financialOrder"
               value="No"
               {{ checked(session.financialOrder, 'No') }}>
        <label for="no">No</label>
      </div>
      <!-- <div class="panel panel-border-narrow js-hidden" id="financialOrdersWarning">
            <div class="notice">
              <i class="icon icon-important">
                <span class="visuallyhidden">Warning</span>
              </i>
              <strong class="normal-small">
                You can still apply for a financial order in future, but only until you remarry or form a civil partnership (other than pension sharing or pension compensation sharing orders which can be applied for anytime) 
              </strong>
          </div>
      </div> -->
  <div class="panel panel-border-narrow js-hidden" id="financial-order-info">
         <p class="form-label-bold">Who is the financial order for?</p>
    <legend class="visually-hidden">
    Who would the financial order be for?
    </legend>

    <p class="form-hint">
  Select all that apply
    </p>
    <div class="multiple-choice">
      <input id="petitioner"
             name="financialOrderForPetitioner"
             type="checkbox"
             value="Yes"
             {{ checked(session.financialOrderForPetitioner, 'Yes') }}>
      <label for="petitioner">You</label>
    </div>
    <div class="multiple-choice">
      <input id="children"
             name="financialOrderForChildren"
             type="checkbox"
             value="Yes"
             {{ checked(session.financialOrderForChildren, 'Yes') }}>
      <label for="children">Your children</label>
    </div>
     </div>


    </fieldset>


{% endblock %}
