f{% extends "question.html" %}
{% set question = 'Have you agreed how your money and property will be split with your wife?
' %}

{% block question %}
{{ question }}
{% endblock %}

{% block form %}


<p>You should select <span class="bold-small">Yes</span> if you:</p>

<ul class="list list-bullet">

  <li>haven't yet come to an agreement, but are confident that you will</li>
  <li>have no assets, but want to make sure that after you are divorced you have no claim to each others money and property in the future</li>
</ul>

<p>
<!-- <p>If you haven't yet come to an agreement with your wife, but are confident that you will come to an agreement, then select <span class="bold-small">Yes</span>.  -->You can save your application and return later if you need to discuss this with your wife.</p>


<!-- <p>If you have no assets, but want to make sure that after you are divorced you have no claim to each others money and property in the future, then select Yes.</p>
 -->
<div class="form-group">
  <fieldset class="inline"
  id="financesAgreed">

  <div class="form-group {{"error" if fields.financesAgreed.error }}">
    {{ errorsFor(fields.financesAgreed) }}
    <div class="multiple-choice" data-target="financialOrderInfo">
      <input id="yes"
      type="radio"
      name="financesAgreed"
      value="Yes"
      {{ checked(session.financesAgreed, 'Yes') }}>
      <label for="yes" >Yes
      </label>
    </div>

    <div class="multiple-choice" data-target="financesAgreedsWarning">
      <input id="no"
      type="radio"
      name="financesAgreed"
      value="No"
      {{ checked(session.financesAgreed, 'No') }}>
      <label for="no">No</label>
    </div>
  </div>

<div id="financesAgreedsWarning" class="js-hidden">

      <div class="form-group">
        <fieldset class="inline">
          <legend class="visually-hidden">Do you want to apply for a financial order?
          </legend>
          <h3 class="heading-medium" style="margin-top: 0px;">Do you want to apply for a financial order?
          </h3>
          <p>
            If you can't agree how your assets will be split you can ask the court to make a <span class="bold-small">financial order</span>.  This can be used to decide how your money and property are divided and to order your wife to pay you maintenance.
            A financial order is the only way to make the split legally binding. You can apply for orders for yourself, and your children if you have any.
          </p>
          <div class="multiple-choice" data-target="how-to">
            <input id="courtDecide-yes" type="radio"
            name="courtDecide" value="Yes" {{ checked(session.finances.courtDecide, 'Yes') }}>
            <label for="courtDecide-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="warning-message">
            <input id="courtDecide-no" type="radio"
            name="courtDecide" value="No" {{ checked(session.finances.courtDecide, 'No') }}>
            <label for="courtDecide-no">No</label>
          </div>
        </fieldset>
      </div>
    </div>

<div id="financialOrderInfo" class="js-hidden">
      <div class="form-group">
        <fieldset class="inline">
          <legend class="visually-hidden">Do you want to apply for a financial order?</legend>
          <h3 class="heading-medium" style="margin-top: 0px;">Do you want to apply for a financial order?</h3>
          <p>
            The only way to make your agreement legally binding is to get a type of <span class="bold-small">financial order</span> called a <span class="bold-small">consent order</span>. If you're already in the process of getting one of these then select <span class="bold-small">Yes</span>. <!-- You don't need to do anything else to apply for one now, but you will be better protected in future if you select 'Yes'. -->
          </p>

          <p>If you have no assets, the only way to is to get a <span class="bold-small">clean break order</span>.</p>


          <div class="multiple-choice" data-target="how-to">
            <input id="courtDecide-yes" type="radio"
            name="courtDecide" value="Yes" {{ checked(session.finances.courtDecide, 'Yes') }}>
            <label for="courtDecide-yes">Yes</label>
          </div>
          <div class="multiple-choice" data-target="warning-message">
            <input id="courtDecide-no" type="radio"
            name="courtDecide" value="No" {{ checked(session.finances.courtDecide, 'No') }}>
            <label for="courtDecide-no">No</label>
          </div>
        </fieldset>
      </div>
    </div>

<div class="panel panel-border-narrow js-hidden" id="warning-message">
   <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
            Without a legally binding order from the court, then you and your wife will be able to make a claim on each other's assets at any time in the future even after you are divorced. 
  </strong>
</div>
  </div>


<div class="panel panel-border-narrow js-hidden" id="how-to">
      <div class="form-group">
        <fieldset class="inline">
         <p>You’ll be given guidance on how to get a financial order when you finish your divorce application.
        </p>
              </fieldset>
        </div>

   </div>


    <div class="panel panel-border-narrow js-hidden" id="warning-message">
     <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
          Without a legally binding order from the court, then you and your wife will be able to make a claim on each other's assets at any time in the future even after you are divorced. 
  </strong>
</div>

        </div>

      </fieldset>
  <br>

      {% endblock %}
