{% extends "question.html" %}
{% block question %}
Do you and your {{ petsHusbandOrWife() }} live at the same address?
{{ question }}
{% endblock %}

{% block form %}

<div class="form-group">
<fieldset class="inline">

  <legend class="visually-hidden">{{ question }}</legend>
  <div class="multiple-choice" data-target="help-yes">
    <input id="live-together-yes" type="radio"
           name="liveTogether" value="Yes" {{ checked(fields.liveTogether.value, 'Yes') }}>
    <label for="live-together-yes">Yes</label>
  </div>
  <div class="multiple-choice" data-target="help-no">
    <input id="live-together-no" type="radio"
           name="liveTogether" value="No" {{ checked(fields.liveTogether.value, 'No') }}>
    <label for="live-together-no">No</label>
  </div>
</fieldset>
</div>
{% endblock %}

{% macro reference(refId) %}
<input class="form-control"
       name="r{{ refId }}"
       type="text"
       value="{{ fields[refId].value }}"
       maxlength="1"
       title="reference number {{ refId }}">
{% endmacro %}
