{% extends "question.html" %}
{% block question %}
Optional information
{{ question }}
{% endblock %}

{% block form %}


  <legend class="visually-hidden">{{ question }}</legend>
  
  <p class="text">
      The next set of questions are about any children you may have and their dates of birth. Your responses will remain anonymous for use by the Office of National Statistics. 
    </p>

    <h3 class="heading-medium">
      Do you have any children?
    </h3>


<fieldset class="form-group ">

  
  
  <label for="has-children-yes" class="block-label" data-target="has-children-yes-hidden">
    <input id="has-children-yes" type="radio"
           name="hasChildren" value="Yes" {{ checked(fields.has-children.value, 'Yes') }}a>
    Yes
  </label>

  <label for="has-children-no" class="block-label">
    <input id="has-children-no" type="radio"
           name="hasChildren" value="No" {{ checked(fields.has-children.value, 'No') }}>
    No
  </label>


    <label for="has-children-notsaying" class="block-label">
    <input id="has-children-notsaying" type="radio"
           name="hasChildren" value="NotSaying" {{ checked(fields.has-children.value, 'NotSaying') }}>
    Skip this question
  </label>

</fieldset>
{% endblock %}

