{% import "common/components/genderComponent.html" as gender %}
{% extends "question.html" %}

{% block question %}
We've sent you a text message
{% endblock %}

{% block form %}
<p class="text">
Enter the code included in the text message so that we can verify your phone.
</p>

  <fieldset class="form-group {{ "error" if fields.email.error }}">
    <legend class="visually-hidden">Enter your text verification code</legend>
    <label class="form-label" for="code">
      Code
    </label>
    {{ errorsFor(fields.code) }}
    <input class="form-control"
           id="code"
           name="code"
           type="text"
           value="{{ fields.code.value }}">
  </fieldset>
  <p class="text">
  <a href="">I have not received the code</a>
  </p>
</fieldset>

{% endblock %}
