<div class="report-error" style="margin-left: 20px;">
<details>
            <summary class="font-xsmall">
                <span class="summary">Is there a problem with this page?</span>
            </summary>
            <div class="panel panel-border-narrow">
                <p class="text">You can call or email us if you’re having problems with this service.</p>

                <p class="text">Phone: 0300 303 0642 (Open between 9am and 5pm, Monday to Friday</p>

                <p class="text">Email: divorce@justice.gov.uk</p>
            </div>
        </details>
</div>
