{% extends "genericError.html" %}

{% block error_heading %}
Sorry, this service is temporarily unavailable
{% endblock %}
{% block error_content %}
<p class="text">
	We’re working to improve the service. Please try again later.
</p>

<p class="text">
	If you’ve started an application then your information has been saved in <a href="/start">your account</a>. 
</p>

<p class="text">
	You can contact us if you need help with your divorce application.
</p>
<p class="text">
<h2 class="heading-medium">Contact us</h2>
Phone: 0300 303 0642 (Monday to Friday, 8.30am to 5pm)<br />
Email: <a href="mailto:divorce@justice.gov.uk">divorce@justice.gov.uk</a>
</p>
{% endblock %}
