{% extends "layout.html" %}

{% block page_title %}
Prototype sitemap
{% endblock %}

{% block proposition_header %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Prototype sitemap</h1>


                    <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                                   /start 
                                    ">
                      /start 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                                /screening-questions/irretrievable    
                                    ">
                      /screening-questions/irretrievable 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                                    /exit/screening-questions/not-irretrievable
                                    ">
                       /exit/screening-questions/not-irretrievable
                                </a>
                            </li>
                            </ul>
                            <li>
                                <a
                                    href="
                            /screening-questions/respondent-address        
                                    ">
                      /screening-questions/respondent-address 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                                 /exit/screening-questions/no-respondent-address   
                                    ">
                       /exit/screening-questions/no-respondent-address
                                </a>
                            </li>
                            </ul>
                            <li>
                                <a
                                    href="
                                /screening-questions/has-marriage-cert    
                                    ">
                      /screening-questions/has-marriage-cert 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                                /exit/screening-questions/no-certificate    
                                    ">
                      /exit/screening-questions/no-certificate 
                                </a>
                            </li>
                            </ul>
                            <li>
                                <a
                                    href="
          /screening-questions/help-with-fees                          
                                    ">
                       /screening-questions/help-with-fees
                                </a>
                            </li>
                            <ul class="list list-bullet">

                            <li>
                                <a
                                    href="
                                 /screening-questions/help-with-fees-payment   
                                    ">
                      /screening-questions/help-with-fees-payment 
                                </a>
                            </li>
                            </ul>

                            <li>
                                <a
                                    href="
                            /screening-questions/husband-or-wife        
                                    ">
                      /screening-questions/husband-or-wife 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /screening-questions/marriage-date        
                                    ">
                      /screening-questions/marriage-date 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /screening-questions/in-the-uk        
                                    ">
                      /screening-questions/in-the-uk 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                            /exit/screening-questions/no-england-wales-wedding        
                                    ">
                      /exit/screening-questions/no-england-wales-wedding 
                                </a>
                            </li>
                            </ul>
                            <li>
                                <a
                                    href="
                                /jurisdiction/habitual-residence-concept    
                                    ">
                      /jurisdiction/habitual-residence-concept 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /jurisdiction/habitual-residence-concept-interstitial       
                                    ">
                      /jurisdiction/habitual-residence-concept-interstitial 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /jurisdiction/domicile        
                                    ">
                      /jurisdiction/domicile 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /jurisdiction/last12Months        
                                    ">
                      /jurisdiction/last12Months 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /jurisdiction/last6Months        
                                    ">
                      /jurisdiction/last6Months 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /jurisdiction/last-resort        
                                    ">
                      /jurisdiction/last-resort 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /about-you/confidential        
                                    ">
                      /about-you/confidential 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /about-you/your-current-name        
                                    ">
                      /about-you/your-current-name 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            http://localhost:3000/about-your-marriage/where
                                    ">
                            http://localhost:3000/about-your-marriage/where
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
http://localhost:3000/about-your-marriage/have-you-changed-your-name
                                    ">
http://localhost:3000/about-your-marriage/have-you-changed-your-name
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
http://localhost:3000/about-your-marriage/how-did-you-change-your-name
                                    ">
http://localhost:3000/about-your-marriage/how-did-you-change-your-name
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /about-you/email-address        
                                    ">
                      /about-you/email-address 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /about-you/address/postcode        
                                    ">
                      /about-you/address/postcode 
                                </a>
                            </li>
                            <ul class="list list-bullet">

                            <li>
                                <a
                                    href="
                            /about-you/address/enter-manually        
                                    ">
                      /about-you/address/enter-manually 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /about-you/address/abroad        
                                    ">
                      /about-you/address/abroad 
                                </a>
                            </li>
                            </ul>
                            <li>
                                <a
                                    href="
                            /about-you/correspondence        
                                    ">
                      /about-you/correspondence 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                            /about-you/correspondence-address/postcode        
                                    ">
                      /about-you/correspondence-address/postcode 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                            /respondent/correspondence-live-together        
                                    ">
                      /respondent/correspondence-live-together 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                            /respondent/solicitor-details        
                                    ">
                      /respondent/solicitor-details 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /respondent/solicitor-address        
                                    ">
                      /respondent/solicitor-address 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /respondent/correspondence-address/postcode        
                                    ">
                      /respondent/correspondence-address/postcode 
                                </a>
                            </li>

                            </ul>
                            </ul>
                            </ul>
                            </ul>
                            <li>
                                <a
                                    href="
                            /reason-for-divorce        
                                    ">
                      /reason-for-divorce 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                                <ul class="list list-bullet">
                                <li>
                                    Behaviour
                                </li>
                                    <li>
                                        <a
                                            href="
                                        /statement-of-case/unreasonable/supporting-information
                                                                            ">
                                        /statement-of-case/unreasonable/supporting-information
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list list-bullet">
                                <li>
                                    Adultery
                                </li>
                                    <li>
                                        <a
                                            href="
                                           /statement-of-case/adultery/wish-to-name 
                                            ">
                              /statement-of-case/adultery/wish-to-name 
                                        </a>
                                    </li>
                                        <li>
                                            <a
                                                href="
                                        /statement-of-case/adultery/name-person        
                                                ">
                                  /statement-of-case/adultery/name-person 
                                            </a>
                                        </li>
                                    <li>
                                        <a
                                            href="
                                    /statement-of-case/adultery/account        
                                            ">
                              /statement-of-case/adultery/account 
                                        </a>
                                    </li>
                                </ul>
                            <ul class="list list-bullet">
                            <li>
                                Separated 2yrs
                            </li>
                            <li>
                                <a
                                    href="
                             /statement-of-case/separation/when       
                                    ">
                       /statement-of-case/separation/when
                                </a>
                            </li>
                            </ul>
                            <ul class="list list-bullet">
                            <li>
                                Separated 5 yrs
                            </li>
                            <li>
                                <a
                                    href="
                            /statement-of-case/separation/when        
                                    ">
                      /statement-of-case/separation/when 
                                </a>
                            </li>
                            </ul>
                            <ul class="list list-bullet">
                            <li>
                                Desertion
                            </li>
                            <li>
                                <a
                                    href="
                             /statement-of-case/desertion/date       
                                    ">
                       /statement-of-case/desertion/date
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /statement-of-case/desertion/agree        
                                    ">
                      /statement-of-case/desertion/agree 
                                </a>
                            </li>
                            <ul class="list list-bullet">
                            <li>
                                <a
                                    href="
                            /exit/desertion/agree       
                                    ">
                      /exit/desertion/agree 
                                </a>
                            </li>
                            </ul>
                            <li>
                                <a
                                    href="
                            /statement-of-case/desertion/details        
                                    ">
                      /statement-of-case/desertion/details 
                                </a>
                            </li>
                            </ul>
                            <li>
                                <a
                                    href="
                            /legal-proceedings        
                                    ">
                      /legal-proceedings 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /financial-arrangements        
                                    ">
                      /financial-arrangements 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /financials-advice        
                                    ">
                      /financials-advice 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /claim-costs        
                                    ">
                      /claim-costs 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /optional-information        
                                    ">
                      /optional-information 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /children        
                                    ">
                      /children 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /check-your-answers        
                                    ">
                      /check-your-answers 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /pay        
                                    ">
                      /pay 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /pay-return?success=no        
                                    ">
                      /pay (with error processing payment) 
                                </a>
                            </li>
                            <li>
                                <a
                                    href="
                            /done        
                                    ">
                      /done 
                                </a>
                            </li>
                    </ul>
        </div>
    </div>
</main>
{% endblock %}


