{% extends "layout.html" %}
{% from "common/errors.html" import errorsFor %}
{% import "common/components/inputComponents.html" as inputComponents %}

{% block page_title %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="column-two-thirds">
      {% include "includes/phase_banner_alpha.html" %}
        <a class="link-back" href="#" onclick="javascript:history.go(-1)">Back</a>
        <h1 class="heading-large">
           You have completed your divorce application
        </h1>

        {% if errors.length > 0 %}
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

          <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            There was a problem
          </h1>

          <ul class="error-summary-list">
            {% for error in errors %}
            <li><a href="#{{error.param}}">{{error.msg}}</a></li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}

        <form method="POST" accept-charset="utf-8" class="form" id="form"
              enctype="{% block encoding %}application/x-www-form-urlencoded{% endblock %}">

            <p>
            The court has received your divorce application and will now review it and respond within 10 days.
</p>
<p>
    You may be contacted by the court if they need additional information about your application.
</p>

         
            <div class="form-group">
                <input type="submit" class="button" value="Continue">
            </div>
            {% block help %}{% endblock %}
        </form>
    </div>
</main>
{% endblock %}
{% macro checked(isChecked, answer) %}
  {%if isChecked == answer %}
    checked
  {% endif %}
{% endmacro %}
